<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/services/data-service.js"></script>
	</head>
	<body>
		<div ng-app="app" class="app">
			<div ng-controller="appCtrl">
				<div class="row">
					<div class="col-md-8">
						<div class="panel panel-default documents-panel">
						  	<div class="panel-heading">
						  		<div>
						    		<h3 class="panel-title">Applications</h3>
						  		</div>
						    	<div class="panel-tools">
						    		<input type="text" ng-model="search.text" placeholder="Search Documents...">
						    	</div>
						  	</div>
						  	<div class="panel-body">
						    	<div class="document" ng-repeat="doc in home.documents | filter:search.text track by $index">
						    		<div class="title">
						    			<span class="glyphicon glyphicon-file"></span>
						    			<span ng-bind="doc.blockId"></span>
						    		</div>
						    		<div class="actions">
						    			<button type="button" class="btn btn-warning" open-form="{{doc.blockId}}">Edit</button>
						    			<button type="button" class="btn btn-danger" delete-doc="doc" items="home.documents">Delete</button>
						    		</div>
						    	</div>
						  	</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default actions-panel">
						  	<div class="panel-heading">
						    	<h3 class="panel-title">Actions</h3>
						  	</div>
						  	<div class="panel-body">
						    	<button type="button" class="btn btn-success" ng-if="home.documents.length" open-form="{{home.documents[0].blockId}}">New Document</button>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>