<div>
	<table class="table table-striped table-condensed">
		<tbody>
  		<tr>
  			<td>Submitted By</td>
  			<td ng-bind="submission.userId"></td>
  		</tr>
  		<tr>
  			<td>Commodities</td>
  			<td>
  				<table class="table table-striped table-condensed">
  					<thead>
  						<tr>
  							<td>HS Code</td>
  							<td>Quantity</td>
  							<td>Price Per Unit</td>
  							<td>C.I.F. Code</td>
  						</tr>
  					</thead>
  					<tbody>
  						<tr ng-repeat="c in submission.commodities">
  							<td ng-bind="c.hsCode"></td>
  							<td ng-bind="c.quantity"></td>
  							<td ng-bind="c.pricePerUnit"></td>
  							<td ng-bind="c.cifCode"></td>
  						</tr>
  					</tbody>
  				</table>
  			</td>
  		</tr>
  		<tr>
  			<td>Importer</td>
  			<td ng-bind="submission.importerId"></td>
  		</tr>
  		<tr>
  			<td>Import Origen</td>
  			<td ng-bind="submission.importOrigen"></td>
  		</tr>
  		<tr>
  			<td>Import Consigned</td>
  			<td ng-bind="submission.importConsigned"></td>
  		</tr>
  		<tr>
  			<td>Expected Arrival</td>
  			<td ng-bind="submission.importExpectedArrival | date:'mediumDate'"></td>
  		</tr>
  		<tr>
  			<td>Supplier</td>
  			<td ng-bind="submission.supplierId"></td>
  		</tr>
		</tbody>
	</table>
</div>
