<div>
  <div class="row">
    <div class="col-sm-12">
			<h4>CERTIFICATE OF ORIGIN</h4>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
			<label-value label="'EXPORTING COUNTRY:'" value ="ila.submission.applicant.country"></label-value>
   </div>
    <div class="col-sm-6">
			<strong>IMPORTING COUNTRY:</strong> <br>
      <td>
        <ui-select ng-model="form.data.destinationCountry"  theme="bootstrap">
            <ui-select-match class="ui-select-match" >{{$select.selected.name}}</ui-select-match>
            <ui-select-choices class="ui-select-choices" group-by="groupFind" repeat="value.id as value in form.options.caricom_countries_venezuela | filter: $select.search">
                <div ng-bind-html="value.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
      </td>
		</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
	    <div edit-commodities-venezuela=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
			<h4>DECLARATION OF ORIGIN</h4>
			<p>WE DECLARE THAT THE GOODS INDICATED IN THIS FORM RELATE TO COMMERCIAL INVOICE NO. AND FULFILL THE REQUIREMENTS OF RULES OF ORIGIN UNDER THE CARICOM/VENEZUELA AGREEMENT AS SET OUT IN THE FOLLOWING:</p>
   </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div edit-commodities-rules-origin=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
			8. DATE
   </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8">
			9. STAMP AND SIGNATURE OF EXPORTER OR PRODUCER
   </div>
    <div class="col-sm-4">
			AUTHORISED SIGNATURE
		</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <strong>10.</strong>
      <span field-name="76" form='form' datatype="'Text'"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <strong>11.</strong> <br>
		  I CERTIFY THE ACCURACY OF THE PRESENT DECLARATION WHICH I NOW SIGN AND AFFIX THE STAMP OF THE AUTHORISED BODY, IN THE CITY OF <br>
			ON THE <br>
   </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
			<h4>NOTES: </h4>
			<p>* THIS COLUMN INDICATES THE ORDER IN WHICH THE ITEMS CONTAINED IN THE PRESENT CERTIFICATE ARE USTED. SHOULD THIS SPACE BE INADEQUATE, THE LISTING MAY BE CONTINUED OR ADDITIONAL COPIES OF THIS CERTIFICATE, APPROPRIATELY NUMBERED.</p>

			<p>** IN THIS SPACE IS TO BE SPECIFIED THE RULES OF ORIGIN FULFILLED OF EACH PRODUCT IDENTIFIED BY REFERENCE TO THE PROVISION OF THE AGREEMENT</p>

			<p>THIS FORM WILL NOT BE CONSIDERED VALID IF IT CONTAINS ERASURES, CORRECTIONS OR AMENDMENTS</p>
   </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
  <br>


  <div class="row">
    <div class="col-sm-12">

      <h4>APPLICATION FOR CERTIFICATE OF ORIGIN</h4>

      <p>The undersigned, being the exporter of the goods described overleaf. DECLARES that these goods were produced in [[country]]</p>


      <p>SPECIFIES as follows the grounds on which the goods are claimed to comply with the Venezuelan/Caricom origin requirements“)</p>



      <p>SUBMITS the following supporting documents</p>




      <p>UNDERTAKES to submit, at the request of the appropriate authorities of the exporting country, any additional supporting evidence Which these authorities may require for the purpose of issuing a certificate of origin, and undertakes, if required. to agree to any inspection of his accounts and check on the processes of manufacture of the above goods, carried out by the said authorities.</p>

      <p>REQUESTS the issue of a certificate of origin for these goods.</p>


      <p>date, stamp & (signature of authorized signatory)</p>


      <p>To be completed if materials or components originating in another country have been used in the manufacture of the goods in question. indicate the materials or components used. their HS tariff heading, their country of origin and, where appropriate, the manufacturing processes qualifying the goods as originating in the country of manufacture, the goods produced and their HS tariff heading.</p>

      <p>Where the origin criteria involve a percentage value, give information enabling this percentage to be verified-for example the value of imported materials and components and those of undetermined origin and the ear-factory price of the exported goods, where applicable.</p>


      <p>2) For example, import documents, invoices, etc. relating to the materials or components used.</p>

      NOTES <br>
      <p>A. <br>
      For the purpose of the qualification of origin of the products which Venezuela will exempt from import duties and restrictions. The products must be:</p>

      <p>i) Wholly produced in Barbados or any CARICOM MemberCountry.</p>


      <p>(ii) Items manufactured using materials from third countries provided that they result from a process of substantial transformation carried out in the territory of Caricom Member Countries. which creates a different product characterized by the fact of being classified within the Harmonized Commodity Description and Coding System in a heading different from that of such materials.</p>

      <p>(iii) items that are a result of assembly operations which constitutes a process of substantial transformation, carried out in a Caricom Member Country and in the production of which materials from third countries including Venezuela are used, when the % value of the materials from third countries does not exceed 50% of the FOB export value of the finished product.</p>

      <p>iv) items which comply to the specific origin requirements established in Appendix 2 of the agreement between CARICOM and the Republic of Venezuela.</p>

      <p>B. <br>
      Sanctions. Persons who fumish, or cause to be fumished, information which relates to origin or consignment, and which is untrue in a material particular are liable to legal penalties and to the suspension of facilities for their goods to obtain preference.</p>

    </div>
  </div>



</div>
