<div>
  <div class="row">
    <div class="col-sm-12">
			<h4>CERTIFICATE OF ORIGIN</h4>
			<h5>AGREEMENT ON TRADE ECONOMIC AND TECHNICAL COOPERATION BETWEEN THE CARIBBEAN COMMUNITY CARICOM AND THE GOVERNMENT OF THE REPUBLIC OF COLOMBIA</h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
    	<strong>1. Exporter’s </strong>		 
		  <label-value label="'Name'" value ="ila.submission.applicant.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.applicant.address + ', '+ ila.submission.applicant.country"></label-value>
    </div>
    <div class="col-sm-4">
			<strong>2. Producer's: </strong>
		  <label-value label="'Name'" value ="ila.submission.supplier.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.supplier.address + ', '+ ila.submission.supplier.country"></label-value>
    </div>
    <div class="col-sm-4">
			<strong>3. Importer's: </strong>
		  <label-value label="'Name'" value ="ila.submission.destination.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.destination.address + ', '+ ila.submission.destination.country"></label-value>
    </div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-sm-4">
      <strong>4. Consignee: </strong>
      <label-value label="'Name'" value ="ila.submission.consignee.name"/></label-value>
      <label-value label="'Address'" value ="ila.submission.consignee.address + ', '+ ila.submission.consignee.country"></label-value>
    </div>
    <div class="col-sm-4">
      <strong>5.</strong> <br>
      <span field-name="85" form='form'  readonly="true" ila='ila'></span>
      <span field-name="86" form='form'  readonly="true" ila='ila'></span>
    </div>
    <div class="col-sm-4">
      <strong>6.</strong>
      <span field-name="84" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <strong>7.</strong> <br>
      <span field-name="87" form='form'  readonly="true" ila='ila'></span>
		</div>
    <div class="col-sm-6">
      <strong></strong> <br>
      <span field-name="88" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div view-commodities-colombia=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
	    <div view-commodities-rules-origin=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <strong>16.</strong>
      <span field-name="76" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-6">
			<strong>17. Declaration </strong><br>
			<p>I/We declare that the goods covered by this declaration corresponding to the above-mentioned commercial invoice, comply with the Rules of Origin of the Agreement on Trade, Economic and Technical Cooperation.</p>

			NAME AND SIGNATURE OF <br>
			THE EXPORTER / PRODUCER <br>

			PLACE AND DATE <br>
		</div>	

    <div class="col-sm-6">
			<strong>18. Certification of Authorised Body </strong><br>
			<p>I certify the accuracy of the current declaration. I now sign and affix the stamp of the Authorised Body in</p>

			COUNTRY: Barbados <br>
			AUTHORISED SIGNATURE <br>

			PLACE AND DATE OF ISSUE: <br>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-12">
			NOTE (1): <br>
			<p>This column indicates the listing order of the goods in this declaration.</p>

			NOTE (2): <br>
			<p>In this column, the Rules of Origin by which each individual good complies, m u s t be identified by its order number.</p>

			NOTE (3): <br>
			<p>THIS FORM WILL NOT BE CONSIDERED VALID IF IT HAS ERASURES, CORRECTIONS OR AMENDMENTS.</p>
    </div>
  </div>  
</div>
