<div>
  <div class="row">
    <div class="col-sm-12">
			<h4>CERTIFICATE OF ORIGIN / CERTIFICADO DE ORIGEN</h4>
			<h5>FREE TRADE AGREEMENT BETWEEN THE CARIBBEAN COMMUNITY (CARICOM) AND THE DOMINICAN REPUBLIC</h5>

			<h5>CERTIFICADO DE LIBRE  COMERCIO ENTRE LA REPUBLICA LA COMUNIDAD DEL CARIBE (CARICOM) Y  LA REPUBLICA DOMINICANA</h5>


    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
    	<strong>1. Exporter's / Exportador</strong>
		  <label-value label="'Name  Nombre'" value ="ila.submission.applicant.name"/></label-value>
		  <label-value label="'Address Dirección'" value ="ila.submission.applicant.address + ', '+ ila.submission.applicant.country"></label-value>
		  <label-value label="'E‐mail Correo Electrónico'" value ="ila.submission.applicant.email"></label-value>

   </div>
    <div class="col-sm-4">

			<strong>2.Producer’s / Productor </strong>
		  <label-value label="'Name  Nombre'" value ="ila.submission.supplier.name"/></label-value>
		  <label-value label="'Address Dirección'" value ="ila.submission.supplier.address + ', '+ ila.submission.applicant.country"></label-value>
		  <label-value label="'E‐mail Correo Electrónico'" value ="ila.submission.supplier.email"></label-value>

		</div>
    <div class="col-sm-4">
			<strong>3.lmporter’s / Importador </strong>
		  <label-value label="'Name  Nombre'" value ="ila.submission.destination.name"/></label-value>
		  <label-value label="'Address Dirección'" value ="ila.submission.destination.address + ', '+ ila.submission.applicant.country"></label-value>
		  <label-value label="'E‐mail Correo Electrónico'" value ="ila.submission.destination.email"></label-value>
    </div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-sm-4">
			<strong>4.Consignee's / Consignatario </strong>
		  <label-value label="'Name  Nombre'" value ="ila.submission.consignee.name"/></label-value>
		  <label-value label="'Address Dirección'" value ="ila.submission.consignee.address + ', '+ ila.submission.applicant.country"></label-value>
		  <label-value label="'E‐mail Correo Electrónico'" value ="ila.submission.consignee.email"></label-value>
   </div>
    <div class="col-sm-4">
			5.Mode of Transport / Forma de Transporte <br>
			Route / Ruta <br>
		</div>
    <div class="col-sm-4">
      <strong>6.Port of Shipment / Puerto de Embarque</strong>
      <span field-name="84" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <strong>7.Port of Discharge / Puerto de Destino</strong>
      <span field-name="89" form='form'  readonly="true" ila='ila'></span>
   </div>
    <div class="col-sm-6">
      <strong>8.Number and Date of lnvoice / Número y Fecha de Factura Comercial.</strong> <br>
      <span field-name="85" form='form'  readonly="true" ila='ila'></span>
      <span field-name="86" form='form'  readonly="true" ila='ila'></span>

		</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
	    <div view-commodities-cuba=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <strong>13.Observations / Observaciones</strong>
      <span field-name="76" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-6">
			<strong>14. Declaration / Declaración</strong> <br>

			<p>I/We declare that the goods covered by this declaration corresponding to the above‐mentioned commercial invoice comply with the Rules of Origen under the FreeTrade Agreement between the CaribbeanCommunity (CARICOM) and the Dominican Republic.</p>

			<p>Yo/Nosotros decla ro/amosque las mercancias cuebiertas por esta declaración corresponde con la factura comercial arriba mencionada y cumplen coo la Regla de Origen estipulada en el Acuerdo de Libre comercio entre la Comunidad del Caribe (Caricom) y la República Dominicana.</p>

			<p>Name and Signature of the Exporter/Producer. Nombre y Firma del Exportador/Productor.</p>


			Place and Date: <br>
			Lugar y Fecha <br>
   </div>
   <div class="col-sm-6">
			<strong>15. Certification of Authorised Body/ Certificación del Organismo Autorizado.</strong> <br>

			<p>I certify the accuracy of the current declaration. I now sign and attach the stamp of the Authorised Body in:</p>

			<p>Yo certifico la veracidad de la presente declaración. Firma y estampa con el sello del Organismo Autorizado en:</p>

			Certificate No.:  <br>
			No.de Certificado: <br>

			Athorised Signature: <br>
			FirmaAutorizada: <br>

			Place and Date of Issue:  <br>
			Lugar y Fecha de Expedición: <br>

			(Country/País)		<br>
		</div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-12">
			<p>Note: This form will not be considered valid if it has erasures, corrections or amendments. Persons who famish or cause to be famished un true declarations render themselves Iiable to penalties </p>
			<p>Nota : Este formulario no será considerado válido si tiene tachaduras, correcciones o enmiendas. Quien suministre informaciones falsas u obligue a otra persona a hacerlo será penalizado.  </p>
   </div>
  </div>


</div>
