<div>
  <div class="row">
    <div class="col-sm-12">
			<h4>CERTIFICATE OF ORIGIN / CERTIFICADO DE ORIGEN</h4>
			<h5>FREE TRADE AGREEMENT BETWEEN THE CARIBBEAN COMMUNITY (CARICOM) AND THE DOMINICAN REPUBLIC</h5>

			<h5>CERTIFICADO DE LIBRE  COMERCIO ENTRE LA REPUBLICA LA COMUNIDAD DEL CARIBE (CARICOM) Y  LA REPUBLICA DOMINICANA</h5>


    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <strong>1. Exporter's / Exportador</strong>
		  <label-value label="'Name / Nombre'" value ="ila.submission.applicant.name"/></label-value>
		  <label-value label="'Address / Dirección'" value ="ila.submission.applicant.address + ', '+ ila.submission.applicant.country"></label-value>
      <label-value label="'E‐mail / Correo Electrónico'" value ="ila.submission.applicant.email"></label-value>
    </div>
    <div class="col-sm-6">
      <strong>2.Producer’s / Productor </strong>
      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">Name / Nombre</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{supplier.name}}" type="text" class="form-control" ng-model="form.data.supplier.name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">Address / Dirección</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{supplier.address}}" type="text" class="form-control" ng-model="form.data.supplier.address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">E‐mail / Correo Electrónico</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{supplier.email}}" type="text" class="form-control" ng-model="form.data.supplier.email">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <strong>3. Importer's / Importador</strong>

      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">Name< / Nombre</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{destination.name}}" type="text" class="form-control" ng-model="form.data.destination.name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">Address / Dirección</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{destination.address}}" type="text" class="form-control" ng-model="form.data.destination.address">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">E‐mail / Correo Electrónico</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{destination.email}}" type="text" class="form-control" ng-model="form.data.destination.email">
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <strong>4.Consignee's / Consignatario </strong>

      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">Name< / Nombre</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{consignee.name}}" type="text" class="form-control" ng-model="form.data.consignee.name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">Address / Dirección</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{consignee.address}}" type="text" class="form-control" ng-model="form.data.consignee.address">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="field-name">E‐mail / Correo Electrónico</span></label>
        <div class="col-sm-8 control-value">
          <input name="{{consignee.email}}" type="text" class="form-control" ng-model="form.data.consignee.email">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <strong>5.</strong> <br>
      <span field-name="85" form='form' options='["Air","Land","Water"]'></span>
      <span field-name="86" form='form' datatype="'String'"></span>
    </div>
    <div class="col-sm-4">
      <strong>6.</strong>
      <span field-name="84" form='form' datatype="'String'"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <strong>7.Port of Discharge / Puerto de Destino</strong>
      <span field-name="89" form='form' datatype="'String'"></span>
   </div>
    <div class="col-sm-6">
      <strong>8.Number and Date of lnvoice / Número y Fecha de Factura Comercial.</strong> <br>
      <span field-name="85" form='form' options='["Air","Land","Water"]'></span>
      <span field-name="86" form='form' datatype="'String'"></span>

		</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
	    <div edit-commodities-cuba=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <strong>13.Observations / Observaciones</strong>
      <span field-name="76" form='form' datatype="'Text'"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
			<strong>14. Declaration / Declaración</strong> <br>

			<p>I/We declare that the goods covered by this declaration corresponding to the above‐mentioned commercial invoice comply with the Rules of Origen under the FreeTrade Agreement between the CaribbeanCommunity (CARICOM) and the Dominican Republic.</p>

			<p>Yo/Nosotros decla ro/amosque las mercancias cuebiertas por esta declaración corresponde con la factura comercial arriba mencionada y cumplen coo la Regla de Origen estipulada en el Acuerdo de Libre comercio entre la Comunidad del Caribe (Caricom) y la República Dominicana.</p>

			<p>Name and Signature of the Exporter/Producer. Nombre y Firma del Exportador/Productor.</p>


			Place and Date: <br>
			Lugar y Fecha <br>
   </div>
   <div class="col-sm-6">
			<strong>15. Certification of Authorised Body/ Certificación del Organismo Autorizado.</strong> <br>

			<p>I certify the accuracy of the current declaration. I now sign and attach the stamp of the Authorised Body in:</p>

			<p>Yo certifico la veracidad de la presente declaración. Firma y estampa con el sello del Organismo Autorizado en:</p>

			Certificate No.:  <br>
			No.de Certificado: <br>

			Athorised Signature: <br>
			FirmaAutorizada: <br>

			Place and Date of Issue:  <br>
			Lugar y Fecha de Expedición: <br>

			(Country/País)		<br>
		</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
			<p>Note: This form will not be considered valid if it has erasures, corrections or amendments. Persons who famish or cause to be famished un true declarations render themselves Iiable to penalties </p>
			<p>Nota : Este formulario no será considerado válido si tiene tachaduras, correcciones o enmiendas. Quien suministre informaciones falsas u obligue a otra persona a hacerlo será penalizado.  </p>
   </div>
  </div>


</div>
