<div>
  <div class="row">
    <div class="col-sm-12">
			<h4>CERTIFICATE OF ORIGIN</h4>
			<h5>FREE TRADE AGREEMENT BETWEEN THE CARIBBEAN COMMUNITY (CARICOM) AND COSTA RICA</h5>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
    	<strong>1. Exporter’s </strong>
		  <label-value label="'Name'" value ="ila.submission.applicant.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.applicant.address + ', '+ ila.submission.applicant.country"></label-value>
		  <label-value label="'Registration Number'" value ="ila.submission.applicant.docid"></label-value>
		  <label-value label="'Facsimile Number'" value ="ila.submission.applicant.fax"></label-value>
		  <label-value label="'Email Address'" value ="ila.submission.applicant.email"></label-value>
    </div>
    <div class="col-sm-6">
			<strong>2. Producer's: </strong>
		  <label-value label="'Name'" value ="ila.submission.supplier.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.supplier.address + ', '+ ila.submission.supplier.country"></label-value>
		  <label-value label="'Registration Number'" value ="ila.submission.supplier.docid"></label-value>
		  <label-value label="'Facsimile Number'" value ="ila.submission.supplier.fax"></label-value>
		  <label-value label="'Email Address'" value ="ila.submission.supplier.email"></label-value>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-6">
			<strong>3. Importer's: </strong>
		  <label-value label="'Name'" value ="ila.submission.destination.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.destination.address + ', '+ ila.submission.destination.country"></label-value>
		  <label-value label="'Registration Number'" value ="ila.submission.destination.docid"></label-value>
		  <label-value label="'Facsimile Number'" value ="ila.submission.destination.fax"></label-value>
		  <label-value label="'Email Address'" value ="ila.submission.destination.email"></label-value>
    </div>
    <div class="col-sm-6">
			<strong>4. Consignee's: </strong>
		  <label-value label="'Name'" value ="ila.submission.consignee.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.consignee.address + ', '+ ila.submission.consignee.country"></label-value>
		  <label-value label="'Registration Number'" value ="ila.submission.consignee.docid"></label-value>
		  <label-value label="'Facsimile Number'" value ="ila.submission.consignee.fax"></label-value>
		  <label-value label="'Email Address'" value ="ila.submission.consignee.email"></label-value>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <strong>5.</strong> <br>
      <span field-name="85" form='form' readonly="true" ila='ila'></span>
      <span field-name="86" form='form' readonly="true" ila='ila'></span>
    </div>
    <div class="col-sm-4">
      <strong>6.</strong>
      <span field-name="84" form='form'  readonly="true" ila='ila'></span>
    </div>
    <div class="col-sm-4">
			<strong>7.</strong> <br>
      <span field-name="87" form='form'  readonly="true" ila='ila'></span>
      <span field-name="88" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
	    <div view-commodities-costa-rica=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
			<strong>13.</strong><br>
			<span field-name="79" form='form'  readonly="true" ila='ila'></span>
    </div>
    <div class="col-sm-6">
			<strong>14.</strong><br>
			<span field-name="80" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
			<strong>15.</strong>
      <span field-name="76" form='form'  readonly="true" ila='ila'></span>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
			<strong>16. Declaration </strong><br>
			<p>We declare that the goods covered by this declaration corresponding to the above-mentioned commercial invoice comply with the Rules of Origin under the Free Trade Agreement between the Caribbean Community (CARICOM) and Costa Rica.</p>

			Name and Signature of the Exporter/Producer: <br>

			Place and date <br>


    </div>
    <div class="col-sm-6">
			<strong>17. Certification of Authorized Body</strong> <br>
			<p>I certify the accuracy of the current declaration. I now sign and afñx the stamp of the Authorized Body in:</p>
			(Country): <br>
			CertificateNo: <br>
			Authorized Signature: <br>
			Place and date of Issue: <br> <br>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
			<p>Note: This form will not be considered valid if it has erasures, corrections or amendments. Persons who furnish or cause to be furnished untrue declarations render themselves liable to penalties.</p>
    </div>
  </div>

</div>
