<div>
  <div class="row">
    <div class="col-sm-12">
			<h4>CERTIFICATE OF ORIGIN</h4>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">			 
			<label-value label="'EXPORTING COUNTRY:'" value ="ila.submission.applicant.country"></label-value>
   </div>
    <div class="col-sm-6">
			<label-value label="'IMPORTING COUNTRY::'" value ="ila.submission.destination.country"></label-value>
		</div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-sm-12">
	    <div view-commodities-venezuela=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
			<h4>DECLARATION OF ORIGIN</h4>
			<p>WE DECLARE THAT THE GOODS INDICATED IN THIS FORM RELATE TO COMMERCIAL INVOICE NO. AND FULFILL THE REQUIREMENTS OF RULES OF ORIGIN UNDER THE CARICOM/VENEZUELA AGREEMENT AS SET OUT IN THE FOLLOWING:</p>
   </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div view-commodities-rules-origin=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
			8. DATE
   </div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-sm-8">
			9. STAMP AND SIGNATURE OF EXPORTER OR PRODUCER 
   </div>
    <div class="col-sm-4">
			AUTHORISED SIGNATURE
		</div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-sm-12">
      <strong>10.</strong>
      <span field-name="76" form='form'  readonly="true" ila='ila'></span>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <strong>11.</strong> <br>
		  I CERTIFY THE ACCURACY OF THE PRESENT DECLARATION WHICH I NOW SIGN AND AFFIX THE STAMP OF THE AUTHORISED BODY, IN THE CITY OF <br>
			ON THE <br>
   </div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-sm-12">
			<h4>NOTES: </h4>
			<p>* THIS COLUMN INDICATES THE ORDER IN WHICH THE ITEMS CONTAINED IN THE PRESENT CERTIFICATE ARE USTED. SHOULD THIS SPACE BE INADEQUATE, THE LISTING MAY BE CONTINUED OR ADDITIONAL COPIES OF THIS CERTIFICATE, APPROPRIATELY NUMBERED.</p>

			<p>** IN THIS SPACE IS TO BE SPECIFIED THE RULES OF ORIGIN FULFILLED OF EACH PRODUCT IDENTIFIED BY REFERENCE TO THE PROVISION OF THE AGREEMENT</p>

			<p>THIS FORM WILL NOT BE CONSIDERED VALID IF IT CONTAINS ERASURES, CORRECTIONS OR AMENDMENTS</p>
   </div>
  </div>

</div>
