<div>
  <div class="row">
    <div class="col-sm-12">

			<h4>CARIBBEAN COMMON MARKET COMBINED DECLARATION BY EXPORTER AND CERTIFICATE OF ORIGIN</h4>
			<br>
			Exporter's Ref. No. <br>

			Country of Issue <br>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    	<strong>1. Exporter</strong>
		  <label-value label="'Name'" value ="ila.submission.applicant.name"/></label-value>
		  <label-value label="'Address'" value ="ila.submission.applicant.address"></label-value>
		  <label-value label="'Country'" value ="ila.submission.applicant.country"></label-value>
    </div>
    <div class="col-sm-6">
			<strong>2. Consignee</strong>
        <div class="form-group">
          <label class="col-sm-4 control-label"><span class="field-name">Name</span></label>
          <div class="col-sm-8 control-value">
            <input name="{{consignee.name}}" type="text" class="form-control" ng-model="form.data.consignee.name">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label"><span class="field-name">Address</span></label>
          <div class="col-sm-8 control-value">
            <input name="{{consignee.address}}" type="text" class="form-control" ng-model="form.data.consignee.address">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label"><span class="field-name">Country</span></label>
          <div class="col-sm-8 control-value">
            <input name="{{consignee.country}}" type="text" class="form-control" ng-model="form.data.consignee.country">
          </div>
        </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <strong>3. Transport information</strong> <br>
      vessel / aircraft. place of loading. etc. <br>
      <span field-name="85" form='form' options='["Air","Land","Water"]'></span>
      <span field-name="86" form='form' datatype="'String'"></span>
    </div>
    <div class="col-sm-4">
			<strong>4. Country of Origin</strong> <br>
      {{ila.submission.supplier.country}}
    </div>
    <div class="col-sm-4">
			<strong>Country of Destination</strong> <br>
      <td>
        <ui-select ng-model="ila.submission.destination.country"  theme="bootstrap">
            <ui-select-match class="ui-select-match" >{{$select.selected.name}}</ui-select-match>
            <ui-select-choices class="ui-select-choices" group-by="groupFind" repeat="value.id as value in form.options.gsp_countries_caricom | filter: $select.search">
                <div ng-bind-html="value.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
      </td>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div edit-commodities-caribbean-cm=""></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
			<strong>11. Certification</strong> <br>

			<p>It is hereby certified, on the basis of control carried out, that the declaration by the exporter is correct</p>

			Place and date. signature and stamp of certifying authority <br>
    </div>
    <div class="col-sm-6">
			<strong>12. Declaration by the exporter</strong> <br>

			<p>I, the undersigned, hereby declare that the above details and statements are correct; that all the goods were produced in
			[[country]]</p>

			<p>and that they comply with the provisions governing the determination of origin set out in Articles 14 and 16 of Schedule ll to the Annex to the Treaty establishing the Caribbean Community.</p>

			Place and date. signature and stamp of authorised signatory <br>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-12">

      <h4>NOTES FOR THE PREPARATION OF THIS FORM</h4>

      <h5>A. Origin Criterion</h5>
      <p>The criterion on the basis of which Common Market origin is claimed must be stated in the column headed “Origin Criterion" against each item in the manner indicated below:</p>

      If each article comprised in the item has been <br><br>

      (a)wholly produced within the Common Market: <br> <br>

      <p>The letters "CM" must be inserted:</p> <br>

      <p>(b) produced using materials imported from outside the Common Market or of undetermined origin in such a manner that the article falls to be classified in a tariff heading different from that in which any of those materials is classified, in accordance with the provisions of Article 14 of the Annex to the Treaty establishing the Caribbean Community.</p>

      <p>The tariff heading number ot the finished product preceded by the letter.'X" must be inserted.</p> <br>


      <p>(c) produced in accordance with the conditions specified for that article in the List referred to in Article 14 of the Annex to the Treaty establishing the Caribbean Community and set out in Schedule It thereto;</p>

      <p>The tariff heading number of the finished product Preceded by the letter "L" must be inserted and where the condition to be satisfied is a percentage value-added condition the value of materials imported from outside the Common Market or of undetermined origin which have been used in the production of that article expressed as a percentage of the export price of the article must be inserted in brackets immediately following the tariff heading number.</p>

      <br>
      <p>B The completion of this Form implies that the producer and the exporter will furnish to the appropriate authorities such information and supporting evidence as they may as necessary require for the purpose of verifying these declarations.</p>




      C <br>
      <p>(a) The forms may be completed by any process. provided that the entries are indelible and legible.</p>
      <p>(b) Neither erasures nor superimpositions should be allowed on the certificates (or applications). Any alterations should be made by striking out the erroneous material and making any additions required. Such alterations should be approved by the person who made them and certified by the appropriate authority or body.</p>
      <p>(c) Any unused spaces should be crossed out to prevent any subsequent additions.</p>
      <p>(d) individual Member States should determine the number of copies.</p>


      <p>D PERSONS WHO FURNISH OR CAUSE TO BE FURNISHED UNTRUE DECLARATIONS RENDER THEMSELVES LIABLE TO PENALTlES.</p>


    </div>
  </div>




</div>
