<table class="table table-condensed">
  <thead>
    <tr>
      <th width="8%">
        Order No.
      </th>
      <th>
        <span field-name="13" form-fields="form.options.formFields"></span>
      </th>
      <th width="30%">
        <span field-name="16" form-fields="form.options.formFields"></span>
      </th>
      <th>
        <span field-name="19" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
      <th>
        <span field-name="83" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
      <th>
        <span field-name="82" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
      <th>
        <span field-name="87" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
      <th width="14%">
        <span field-name="88" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in form.data.commodities" ng-class-odd="'odd'" ng-class-even="'even'">
      <td>{{$index+1}}</td>
      <td ng-bind="item.hsCode"></td>
      <td ng-bind="item.description"></td>
      <td><input name="{{'quantity_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="item.units[0].quantity" min="{{form.config.quantity.min}}" required></td>
      <td>
        <ui-select ng-model="item.units[0].rulesOrigin" theme="bootstrap" ng-required="true">
          <ui-select-match placeholder="Select ...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="option in ['CM','X','L']">
              <div ng-bind="option"></div>
            </ui-select-choices>
        </ui-select>
      </td>
      <td><input name="{{'grossWeight'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="item.grossWeight" min="{{form.config.grossWeight.min}}" required></td>
      <td><input name="{{'invoiceNumber_'+item.hsCode+'_'+$index}}" class="form-control" ng-model="item.invoiceNumber" required></td>
      <td><input name="{{'invoiceDate_'+item.hsCode+'_'+$index}}" type="date" class="form-control" ng-model="item.invoiceDate" datepicker-popup ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close" required></td>

    </tr>
  </tbody>
</table>
