<table class="table table-condensed">
  <thead>
    <tr>
      <th width="10%">
        Order No.
      </th>
      <th width="90%">
        <span field-name="83" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
  </thead>
  <tbody>
    <tr ng-repeat="item in form.data.commodities" ng-class-odd="'odd'" ng-class-even="'even'">
      <td>{{$index+1}}</td>
      <td><input name="{{'rulesOrigin_'+item.hsCode+'_'+$index}}" class="form-control" ng-model="item.rulesOrigin" required></td>
    </tr>
  </tbody>
</table>
