<div class="form-group">
  <label class="col-sm-4 control-label">
		<span class="field-name">
			<span ng-bind="field.display"></span>
			<span ng-if="field.tooltip" class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.definition}}"></span>
		</span>
  </label>
  <div class="col-sm-7 control-value">
    <input name="{{field.field}}" type="text" class="form-control" ng-model="form.data[field.field]"  required ng-if="item==undefined">
    <input name="{{field.field}}" type="text" class="form-control" ng-model="item[field.field]"  required ng-if="item!==undefined">
  </div>
</div>
