<div class="row">
  <div class="col-sm-12 col-sm-offset-1">
		<strong><span ng-bind="field.display"></span></strong>
		<span ng-if="field.tooltip" class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.definition}}"></span>
	</div>
  <div class="col-sm-12 col-sm-offset-2">
	  <div class="form-group">
	    <label ng-repeat="option in field.options" class="radio-inline">
	      <input type="radio" ng-model="form.data[field.field]" value="{{option}}">
	      {{option}}
	      &nbsp;&nbsp;
	    </label>
  </div>
	</div>
</div>




