<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <td>
        <span field-name="13" form-fields="form.options.formFields"></span>
      </td>
      <td>
        <span field-name="16" form-fields="form.options.formFields"></span>
      </td>
      <td colspan="4" class="commodity-subtable">
        <table>
            <tr>
              <td>
                <span field-name="19" form-fields="form.options.formFields"></span>
              </td>
              <td>
                <span field-name="18" form-fields="form.options.formFields"></span>
              </td>
              <td>
                <span field-name="20" form-fields="form.options.formFields"></span>
              </td>
              <td>
                <span field-name="21" form-fields="form.options.formFields"></span>
              </td>
            </tr>
        </table>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in form.data.commodities">
      <td ng-bind="item.hsCode"></td>
      <td ng-bind="item.description"></td>
      <td colspan="4" class="commodity-subtable">
        <table class="table-condensed">
          <tbody>
            <tr ng-repeat="unit in item.units">
              <td ng-bind="unit.quantity"></td>
              <td ng-bind="unit.unitType"></td>
              <td ng-bind="unit.pricePerUnit | currency:form.config.currency.symbol.long" class="currency"></td>
              <td ng-bind="unit.cifValue | currency:form.config.currency.symbol.long" class="currency"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>