<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <td>
        <span field-name="13" form-fields="form.options.formFields"></span>
      </td>
      <td>
        <span field-name="16" form-fields="form.options.formFields"></span>
      </td>
      <td colspan="4" class="commodity-subtable">
        <table>
            <tr>
              <td>
                <span field-name="19" form-fields="form.options.formFields" field-tooltip="true"></span>
              </td>
              <td>
                <span field-name="18" form-fields="form.options.formFields" field-tooltip="true"></span>
              </td>
              <td>
                <span field-name="20" form-fields="form.options.formFields" field-tooltip="true"></span>
              </td>
              <td>
                <span field-name="21" form-fields="form.options.formFields" field-tooltip="true"></span>
              </td>
            </tr>
        </table>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in form.data.commodities">
      <td ng-bind="item.hsCode"></td>
      <td ng-bind="item.description"></td>
      <td colspan="4" class="commodity-subtable">
        <table class="table-condensed">
          <tbody>
            <tr ng-repeat="unit in item.units">
              <td><input name="{{'quantity_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="unit.quantity" min="{{form.config.quantity.min}}" required></td>
              <td ng-bind="unit.unitType"></td>
              <td class="currency"><span ng-bind="form.config.currency.symbol.short"></span><input name="{{'pricePerUnit_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="unit.pricePerUnit" min="{{form.config.currency.min}}" ng-pattern="form.config.currency.pattern" required></td>
              <td class="currency"><span ng-bind="form.config.currency.symbol.short"></span><input name="{{'cifValue_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="unit.cifValue" min="{{form.config.currency.min}}" ng-pattern="form.config.currency.pattern" required></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>