<table class="table table-condensed">
  <thead>
    <tr>
      <th>
        <span field-name="13" form-fields="form.options.formFields"></span>
      </th>
      <th width="50%">
        <span field-name="16" form-fields="form.options.formFields"></span>
      </th>
      <th>
        <span field-name="19" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
      <th>
        <span field-name="18" form-fields="form.options.formFields" field-tooltip="true"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="item in form.data.commodities" ng-class-odd="'odd'" ng-class-even="'even'">
      <td rowspan="{{item.units.length}}" ng-bind="item.hsCode"></td>
      <td rowspan="{{item.units.length}}" ng-bind="item.description"></td>
      <td><input name="{{'quantity_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="item.units[0].quantity" min="{{form.config.quantity.min}}" required></td>
      <td ng-bind="item.units[0].unitType"></td>
    </tr>
    <tr ng-repeat-end ng-repeat="unit in item.units.slice(1)" ng-class-odd="'odd'" ng-class-even="'even'">
      <td><input name="{{'quantity_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="unit.quantity" min="{{form.config.quantity.min}}" required></td>
      <td ng-bind="unit.unitType"></td>
    </tr>
  </tbody>
</table>