<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'hsCode'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span></td>
      <td>
      <span class="field-name" ng-repeat="field in form.options.formFields | filter:{fiel: 'description'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
      </td>
      <td colspan="4" class="commodity-subtable">
        <table>
            <tr>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'quantity'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.definition}}"></span></span></td>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'unitType'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.definition}}"></span></span></td>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'pricePerUnit'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.definition}}"></span></span></td>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'cifValue'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.definition}}"></span></span></td>
            </tr>
        </table>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in form.data.commodities">
      <td ng-bind="item.hsCode"></td>
      <td ng-bind="item.description"></td>
      <td colspan="4" class="commodity-subtable">
        <table class="table-condensed">
          <tbody>
            <tr ng-repeat="unit in item.units">
              <td><input name="{{'quantity_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="unit.quantity" min="{{form.config.quantity.min}}" required></td>
              <td ng-bind="unit.unitType"></td>
              <td class="currency"><span ng-bind="form.config.currency.symbol.short"></span><input name="{{'pricePerUnit_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="unit.pricePerUnit" min="{{form.config.currency.min}}" ng-pattern="form.config.currency.pattern" required></td>
              <td class="currency"><span ng-bind="form.config.currency.symbol.short"></span><input name="{{'cifValue_'+item.hsCode+'_'+$index}}" type="number" class="form-control" ng-model="unit.cifValue" min="{{form.config.currency.min}}" ng-pattern="form.config.currency.pattern" required></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>