<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'hsCode'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span></td>
      <td>
      <span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'description'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
      </td>
      <td colspan="4" class="commodity-subtable">
        <table>
            <tr>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'quantity'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span></td>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'unitType'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span></td>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'pricePerUnit'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span></td>
              <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{field: 'cifValue'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span></td>
            </tr>
        </table>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in form.data.commodities">
      <td ng-bind="item.hsCode"></td>
      <td ng-bind="item.description"></td>
      <td colspan="4" class="commodity-subtable">
        <table class="table-condensed">
          <tbody>
            <tr ng-repeat="unit in item.units">
              <td ng-bind="unit.quantity"></td>
              <td ng-bind="unit.unitType"></td>
              <td ng-bind="unit.pricePerUnit | currency:form.config.currency.symbol.long" class="currency"></td>
              <td ng-bind="unit.cifValue | currency:form.config.currency.symbol.long" class="currency"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>