<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        BARBADOS
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h5 align="center">
        <b>
          Form "C"
        </b>
      </h5>
    </div>
    <div class="col-sm-4">
      <h6 align="right">
        A14:245
      </h6>
      <h5 align="right">
        <i>
          (Regulation 14 (3))
        </i>
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      Export Authorisation<br>
      No. <b>{{ila.submission.authorisationNo}}</b><br>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      File No.<br>
      Applicant's Reference No: <b>{{ila.submission.fileNumber}}</b><br>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        MINISTRY OF HEALTH
      </h5>
      <h5 align="center">
        <b>
          The Drug Abuse (Prevention and Control) Act<br>
          Cap. 131
        </b>
      </h5>
      <h2 align="center">
        <b>
          EXPORT AUTHORISATION
        </b>
      </h2>

      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Minister of Health, being the competent authority to issue export authorisation for narcotic drugs and having in his possession import certificate No <b>{{ila.submission.importCertificateNo}}</b> dated &nbsp; <b>{{ila.submission.importCertificateDate}}</b>  issued by <b>{{ila.submission.importCertificateIssuedBy}}</b> allowing the import into <b>{{ila.submission.destinationCountry}}</b> of the following kinds and amounts of narcotic drugs, hereby authorises <b>{{ila.submission.applicant.name}}, {{ila.submission.applicant.address}}</b>  to export to <b>{{ila.submission.importer.name}}, {{ila.submission.importer.address}}</b> the following narcotic drugs:
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <tr align="center">
          <th>Name of Drugs</th>
          <th>International<br>
              non-proprietary<br>
              name (if any)</th>
          <th>Quantity, kind<br>
              and number<br>
              of packages</th>
          <th>Basic drug<br>
              content in<br>
              weight</th>
        </tr>
        <tr ng-repeat="item in form.data.commodities">
          <td ng-bind="item.hsCode+' '+item.description"></td>
          <td ng-bind="item.name"></td>
          <td ng-bind="item.units[0].quantity"></td>
          <td ng-bind="item.units[1].quantity"></td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The export shall take place through the Customs Office at <b>{{ila.submission.customsShipment}}</b>  and not later than <b>{{ila.submission.periodEnding | date:'dd/MM/yyyy'}}</b>. The shipment must be made in only one consignment (alternatively in two or more consignments, if so stated in import certificate).
      </p>
    </div><!--col-sm-12-->
    <br><br><br><br>

    <div class="col-sm-3">
      <p>
        <i>
          Date: <b>{{ila.submission.issuedDate  | date:'dd/MM/yyyy'}}</b>
        </i>
      </p>
    </div>
    <div class="col-sm-3 col-sm-offset-6">
      <p>
        <i>
          Minister responsible for Health
        </i>
      </p>
    </div>
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p align="justify">
        Copy, to accompany the consignment. This copy is required under the Single Convention on Narcotic Drugs 1961, Article 31, to be produced to the competent Authorities of any country through which the consignment may pass before reaching the country of destination.
        <br>
        (See overleaf for conditions)
      </p>
    </div><!--col-sm-10 col-sm-offset-1-->
  </div><!--row-->

  <!--Next Page-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        This authorisation is issued subject to the following additional conditions:-
      </p>
    </div>
  </div><!--row-->


  <div class="row">
    <div class="col-sm-1">
      <p>(1)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(1)-->
        This authorisation shall not be deemed to be an authorisation to obtain or be in possession of the narcotic drugs named herein.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(2)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(2)-->
        This authorisation is available only for narcotic drugs of the exact quantity, kind and form specified above.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(3)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(3)-->
        This authorisation does not relieve the exporter from compliance with any Customs Regulations in force for the time being relating to the exportation of goods from Barbados nor from any provision of the Post Office Law or any Post Office Regulations for the time being in force, nor from any rules or regulations respecting the transmission of articles by post which may for the time being be in force, whether within Barbados or elsewhere.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(4)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(4)-->
        If the narcotic drugs are authorised to be exported by ship, the attached duplicate copy shall accompany the consignment to the place of destination, and for rhis purpose the exponer shall cause it to be delivered to the Master of the vessel by which the consignment is despatched.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(5)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(5)-->
        If the narcotic drugs are authorised to be exported by post, the attached duplicate copy shall be placed inside the outer wrapper of the parcel containing the narcotic drugs. If the narcotic drugs are contained in more than one parcel, the duplicate copy shall be placed inside the outer wrapper of one of them; the parcel shall be consecutively numbered on the wrapper, and on each parcel there shall be legibly stated the number of the parcel in which the duplicate copy is to be found.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(6)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(6)-->
        The exporter shall, if so required by the Comptroller of Customs and Excise, produce to him, within the time allowed, proof to his satisfaction that the said narcotic drugs were duly delivered at the destination named in this authorisation, and in the event of non-compliance with this condition the authorisation shall be deemed to be void and of no effect whatsoever.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(7)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(7)-->
        The exporter shall furnish to the Minister such returns in respect of the narcotic drugs exported by him in pursuance of this authorisation as may from time to time be required by the Minister.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(8)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(8)-->
        This authorisation is valid only for the exporter named above and may be revoked at any time by the Minister. It shall be produced for inspection when required by any person duly authorised in this respect.
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1">
      <p>(9)</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11" align="justify">
      <p><!--(9)-->
        This authorisation shall, unless sooner revoked, continue in force for three calendar months from the date of its issue. It must be produced at the time of export, to an officer of -
      </p>
    </div><!--col-sm-1-->
  </div><!--row-->

      <div class="row">
        <div class="col-sm-1 col-sm-offset-1">
          <p>(1)</p>
          <p>(2)</p>
        </div>
        <div class="col-sm-10">
          <p>*the Customs Department</p>
          <p>*the Post Office,</p>
        </div>
      </div><!--row-->

      <p>
        who will retain it. If not used, it shall be surrendered to the Minister within seven days of the date of its expiry.
      </p>

      <p align="center">
        <b>
          *Strike out words not applicable
        </b>
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->
</div><!--container-->
