<div>
  <div class="row">
    <div class="col-sm-6">
      <h5>
        BARBADOS
      </h5>
    </div>
    <div class="col-sm-6">
      <h6 align="right">
        A14:247
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h3 align="center">
        <b>
          THE THERAPEUTIC SUBSTANCES ACT, 1949
        </b>
      </h3>
      <h6 align="center">
        (Sections 5 and 6)
      </h6>
      <h4 align="center">
        <b>
          LICENCE TO IMPORT AND STORE
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>


</div><!--container-->
