<div>
  <div class="row">
    <div class="col-sm-12">
      <h4 align="center">
        <b>
          APPLICATION FOR CERTIFICATE OF ORIGIN
          <br><br><br>
        </b>
      </h4>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        I, the undersigned, exporter of the goods described in the attached declaration,<br><br>

        DECLARE that the goods were produced in <b>{{ila.submission.origin}}</b><br><br>

        SPECIFY as follows the grounds on which the goods are claimed to comply with the provisions governing the determination of Common Market Origin: *1
        <br><br>

        <h4>Materials</h4>

        <table class="table black-border">
          <tr class="center-align">
            <td width="200">CCCN heading</td>
            <td>Material</td>
            <td>Origin</td>
          </tr>
          <tr class="center-align" ng-repeat="material in ila.submission.materials">
            <td><b>{{material.hsCode}}</b></td>
            <td><b>{{material.description}}</b></td>
            <td><b>{{material.origin}}</b></td>
        </table>
        <br><br>

        <h4>Manufacturing process</h4>
        <p>
          <b>{{ila.submission.manufacturing}}</b>
        </p>
        <br><br>

        <h4>Goods produced</h4>
        <table class="table black-border">
          <tr class="center-align">
            <td width="200">HS Code</td>
            <td>Product</td>
          </tr>
          <tr class="center-align" ng-repeat="product in ila.submission.commodities">
            <td><b>{{product.hsCode}}</b></td>
            <td><b>{{product.description}}</b></td>
        </table>
        <br><br>

        SUBMIT the following supporting documents: *2
        <br><br><br><br><br>

        UNDERTAKE to submit, at the request of the appropriate authorities, any additional supporting evidence which those authorities may require for the purpose of issuing the certificate of origin, and undertake, if required to agree to any inspection of my accounts and to any check on the processes of manufacture of the above goods, carried out by the said authorities,
        <br><br>

        REQUEST the issue of a certificate of origin for these goods.
        <br><br>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-8" align="center">
      <p>
        <b>{{ila.submission.entryDate | date: 'dd/MM/yy'}}</b><br>
      </p>
    </div><!--col-sm-3 col-sm-offset-9-->
    <div class="col-sm-4 col-sm-offset-8 top-border" align="center">
      <p>
        Place and Date
        <br><br><br>
      </p>
    </div><!--col-sm-3 col-sm-offset-9-->
    <div class="col-sm-4 col-sm-offset-8" align="center">
      <p>
        <b>{{ila.submission.submitter}}</b><br>
      </p>
    </div><!--col-sm-3 col-sm-offset-9-->
    <div class="col-sm-4 col-sm-offset-8 top-border" align="center">
      <p>
        Signature of authorised signatory
        <br><br>
      </p>
    </div><!--col-sm-3 col-sm-offset-9-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1" align="right">
      *1
    </div>
    <div class="col-sm-11" align="justify">
      <p>
        If materials imported from outside the Common Market or of undetermined origin have been used in the manufacture of the goods in question, the following information shouid be entered in this part:<br>
        (a) the materials used and their CCCN heading (s);<br>
        (b) their country of origin;<br>
        (c) the manufacturing processes or other circumstances enabling the goods to qualify as being of Common Market origin;<br>
        (d) the goods produced and their CCCN heading (s).<br>
        Where the condition to be complied with is a percentage value-added condition, give information enabling this percentage to be verified ‐ for example - the value of imported materials and those of undetermined origin used and the export price of the finished product.
        <br><br>
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1" align="right">
      *2
    </div>
    <div class="col-sm-11" align="justify">
      <p>
        For example: Import entries, invoices, declaration by the producer, etc., relating to the materials used or the finished product.
        <br><br><br>
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <!--Next page-->

  <div class="row">
    <div class="col-sm-1">
      <b>
        NOTES
        <br><br><br>
      </b>
    </div><!--col-sm-1-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1" align="right">
      <b>
        A.
      </b>
    </div>
    <div class="col-sm-11">
      <b>
        PROCEDURE FOR CLAIMING/COMMON MARKET/COMMUNITY/ORIGIN
        <br><br>
      </b>
      <p align="justify">
        A declaration on the certificate of origin form must be prepared by the exporter of the goods and submitted together with a Common Market Origin application form to the certifying authority of the country of exportation which will, if satisfied, certify the certificate of origin and return it to the exporter for transmission to the importer in the country of destination. The certifying authority will itself retain the Common Market origin application form duly completed and signed by the exporter.
        <br><br>
      </p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1" align="right">
      <b>
        B.
      </b>
    </div>
    <div class="col-sm-11">
      <b>
        SANCTIONS
        <br><br>
      </b>
      <p>
        Persons who furnish or cause to be furnished untrue declarations render themselves liable to penalties.
      </p>
    </div>
  </div><!--row-->
</div><!--container-->
