<div>
  <ng-include src="'/Forms/forms/views/partials/bidc-coo-venezuela-edit.html'"></ng-include>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div ng-if="lpcoForm.$submitted">
    <div ng-messages="lpcoForm.expectedArrival.$error">
        <div class="alert alert-danger" ng-message="required">Please enter the date the goods are expected to arrive in Barbados.</div>
        <div class="alert alert-danger" ng-message="date">Please enter a valid arrival date in the format: {{form.config.date.datepickerformat}}</div>
    </div>
    <div validate-commodities=""></div>
  </div>

</div>
