<div>
  <div class="row">
    <div class="col-sm-12">
      <h5 align="center"><b>
        BARBADOS INVESTMENT AND DEVELOPMENT CORPORATION
        <br><br>
    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-2" align="center">
      (LOGO)
    </div>
    <div class="col-sm-10">
      </b></h5>
      <h5 align="center"><b>
        APPLICATION FOR CERTIFICATE OF ORIGIN FORM
      </b></h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>
  <br><br>


  <div class="row">
    <div class="col-sm-12">
      <p>
        I the undersigned exporter of goods described in this declaration, declare that the goods were produced in Barbados and undertake to submit, at the request of the appropriate authorities, any additional supporting evidence which those authorities may require for the purpose of issuing the certificate of origin. I undertake, if required to agree to any inspection of my accounts and to any check on the process of manufacture of the above good(s), carried out by the said authorities,
        <br><br>
        REQUEST the issue of a certificate of origin for these goods.
        <br><br>
        Name of Company Signatory ___
        <br><br>
        Signature of Company Signatory ___ Date ___<br>
        <i>(please place company stamp over signature)</i>
      </p>
      <h5><b><u>
        NOTES:
      </u></b></h5>
      <p>
        <b>A.</b>&nbsp;&nbsp;&nbsp;
        Please attach the relevant Customs Entries for the imported items and copies of the invoices for items locally sourced.
        <br>
        <b>B.</b>&nbsp;&nbsp;&nbsp;
        Please attach the relevant documentation enabling values to be verified by the Certifying Officer.
        <br>
        <b>C.</b>&nbsp;&nbsp;&nbsp;
        <b>PROCEDURE FOR CLAIMING/COMMON MARKET/COMMUNITY/ORIGIN</b>
      </p>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <p align="justify">
            A declaration on the certificate of origin form must be prepared by the exporters of the goods and submitted together with a Common Market Origin application form to the certifying authority of the country of exportation which will, if satisfied, certify the certificate of origin and return it to the exporter for transmission to the importer in the country of destination. The certifying authority will itself retain the Common Market origin application form duly completed and signed by the exporter.
          </p>
        </div><!--col-sm-11 col-sm-offset-1-->
      </div><!--row-->
      <p>
        <b>D.</b>&nbsp;&nbsp;&nbsp;
        <b>SANCTIONS</b>
      </p>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <p align="justify">
            Persons who furnish or cause to be furnished untrue declarations render themselves liable to penalties.
          </p><!--col-sm-11 col-sm-offset-1-->
        </div><!--col-sm-12-->
      </div><!--row-->
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center"><u>
        PART C (For Official Use Only)
      </u></h5>
      <h5>
        Qualifying Rule of Origin
      </h5>

      <div class="row">
        <div class="col-sm-6">
          [ ] Change in Tariff Heading
          <br><br>
          [ ] As listed in “The List” of Article 84
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          [ ] Wholly Produced
        </div><!--col-sm-6-->
      </div><!--row-->
      <br>

      <p>
        Comments: ___<br>
        ___<br>
        ___<br>
        ___<br>
        ___
      </p>

      <div class="row">
        <div class="col-sm-6">
          [ ] Approved
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          [ ] Not Approved
        </div><!--col-sm-6-->
      </div><!--row-->
      <br>

      <div class="row">
        <div class="col-sm-5">
          <p>Name of Certifying Officer:</p>
          <p>Signature of Certifying Officer:</p>
          <p>Date:</p>
        </div><!--col-sm-5-->
        <div class="col-sm-7">
          <p>___</p>
          <p>___</p>
          <p>___</p>
        </div><!--col-sm-7-->
      </div><!--row-->
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
