<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        The Permanent Secretary<br>
        Ministry of Finance & Economic Affairs<br>
        Government Headquarters<br>
        Bay Street<br>
        <b><u>ST. MICHAEL</u></b><br><br>
      </h5>

      <p>
        Dear Sir,<br>
        <b>{{ila.submission.applicant.name}}</b> is hereby requesting permission for Duty Free Concession on Taxi Registration.
        <br><br>
        The details for the vehicle are as follows:
      </p>

    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>
        <br><br>
        We look forward to your assistance in this matter.
        <br><br>
        Yours sincerely,
        <br><br><br><br><br>
        <b>
          Owner/Operator
        </b>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
