<div>
  <div class="row">
    <div class="col-sm-9">
      <h5>
        Ref 5028/5/
      </h5>
      <br><br><br><br>
      <h5>
        <b>To: {{ila.submission.submitter}}</b> <br><br><br>
        Dear Sir/Madam,
      </h5>
    </div>
    <div class="col-sm-3">
      <h5>
        Date: {{ila.submission.issuedDate  | date:'dd/MM/yyyy'}}
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b>
          <u>
            Re: Duty Free Concessions
            <br><br>
          </u>
        </b>
      </h5>

      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I have been directed to inform you that the Minister of Finance has granted approval for the waiver of Import Duty payable on the under mentioned motorcycle, which is to be purchased by <b>Mr. {{ila.submission.applicant.name}}</b> to facilitate his duties as a Postman.
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <u>Details:</u><br><br>
      <table class="table">
        <tr><td>Make:</td><td>{{ila.submission.commodities[0].entries[0].vehicleBrand}}</td></tr>
        <tr><td>Model:</td><td>{{ila.submission.commodities[0].entries[0].vehicleModel}}</td></tr>
        <tr><td>Engine No.:</td><td>{{ila.submission.commodities[0].entries[0].vehicleEngine}}</td></tr>
        <tr><td>Frame No.:</td><td>{{ila.submission.commodities[0].entries[0].chassisNumber}}</td></tr>
        
        <tr><td>Customs Value:</td><td>${{ila.submission.commodities[0].entries[0].costCIF}}</td></tr>
        <tr><td>Vessel:</td><td>{{ila.submission.vesselOrCraft}}</td></tr>
        <tr><td>Arrival Date:</td><td>{{ila.submission.expectedArrival}}</td></tr>
      </table>
    </div><!--ccol-sm-5 col-sm-offset-1-->
  </div><!--row-->



  <div class="row">
    <div class="col-sm-12">
      <p align="center">
        Yours faithfully,
        <br><br><br><br>
        for Permanent Secretary, Finance
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <p>
        cc.:
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p>
        Comptroller of Customs<br>
        Auditor General
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->
</div><!--container-->