<div>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h2 align="center">
        <b>
          <img src="/Forms/img/logos/public-sector-reform6.png" class="img-responsive"> <br>
          MEMORANDUM<br><br>
        </b>
      </h2>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <b>
        FROM:
        <br><br><br>
        TO:
      </b>
    </div>
    <div class="col-sm-11">
      <b>
        POSTMASTER GENERAL<br>
        GENERAL POST OFFICE
        <br><br>
      </b>
      The Permanent Secretary<br>
      Ministry of Finance and Economic Affairs
    </div>
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-6">
      <b>DATE: {{ila.submission.entryDate  | date:'dd/MM/yyyy'}}</b>
    </div>
    <div class="col-sm-6">
      <b>OUR REF:</b>
    </div>
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-2">
      <b>SUBJECT:</b>
    </div>
    <div class="col-sm-10">
      <b><u>Duty Free Concession</u></b>
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I certify that <b>{{ila.submission.applicant.name}}</b> holds the post of Auxiliary Postman in the Post Office Department and is entitled to purchase a motorcycle free of Duties and Taxes under the Ministry of Finance and Economic Affairs Ref. 500, dated {{ila.submission.entryDate  | date:'dd/MM/yyyy'}}</b>
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duty‐free concession has never been granted to this applicant.
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br><br><br><br><br>

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        for Postmaster General
        <br><br>
      </h5>

      <h6>
        Fwd.
      </h6>
    </div>
  </div><!--row-->
</div>
