<div>
  <div class="row">
    <div class="col-sm-2">
      (LOGO)
    </div>
    <div class="col-sm-8">
      <h5 align="center">
        <b>
          MINISTRY OF AGRICULTURE, FOOD, FISHERIES<br>
          AND WATER RESOURCE MANAGEMENT
        </b>
      </h5>
      <h6 align="center">
        P.O. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES
      </h6>
    </div>
    <div class="col-sm-2" align="right">
      (LOGO)
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <br>
      <h5><i>
        Our Ref: {{ila.submission.referenceNumber}}
      </i></h5>
    </div><!--col-sm-4-->
    <div class="col-sm-4">
      <br>
      <h6 align="center"><i>
        Your Ref: {{ila.submission.referenceNumber}}
      </i></h6>
    </div><!--col-sm-4-->
    <div class="col-sm-4">
      <h6 align="right"><i>
        Tel: (246) 434-5000<br>
        Minister Fax No.: (246) 428-7777<br>
        Permanent Secretary Fax No.: (246) 420-8444
      </i></h6>
      <br><br>
      <h5 align="center">
        <b>{{current_date  | date: 'MMMM d, yyyy'}}</b>
      </h5>
    </div><!--col-sm-4-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

</div><!--container-->
