<div>
  <div class="row">
    <div class="col-sm-12">
      <h2 align="center">
        <b>
          (Logo)<br>
          MEMORANDUM<br><br>
        </b>
      </h2>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <b>
        FROM:
        <br><br><br>
        TO:
      </b>
    </div>
    <div class="col-sm-11">
      <b>
        POSTMASTER GENERAL<br>
        GENERAL POST OFFICE
        <br><br>
      </b>
      The Permanent Secretary<br>
      Ministry of Finance and Economic Affairs
    </div>
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-6">
      <b>DATE:</b>
    </div>
    <div class="col-sm-6">
      <b>OUR REF:</b>
    </div>
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-2">
      <b>SUBJECT:</b>
    </div>
    <div class="col-sm-8" align="center">
      <b><u>Application for Duty Free Concession</u></b>
    </div>
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forwarded herewith is an application in respect of Auxiliary Postman of the Post Office Department applying for Duty Free Concession.
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duty‐free concession has never been granted to this applicant.
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        Yours faithfully
      </h5>
      <br><br><br><br>

      <h5 align="center">
        for Postmaster General
        <br><br>
      </h5>

      <h6>
        Fwd.
      </h6>
    </div>
  </div><!--row-->
</div>
