<div>
  <div class="row">
    <div class="col-sm-4">
      (Logo)
    </div><!--col-sm-4-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-8">
      <h5>
        The Permanent Secretary (Finance)<br>
        Ministry of Finance and Economic Affairs<br>
        Government Headquarters<br>
        Bay Street<br>
        <b><u>ST. MICHAEL</u></b>
      </h5>
      <br><br>
      <p>
        Dear Sir:
      </p>
    </div>
    <div class="col-sm-4">
      <h5>
        {{ila.submission.entryDate  | date:'dd/MM/yyyy'}}
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Mr. {{ila.submission.applicant.name}}</b>, Specialist on the staff of the Caribbean Development Bank, wishes to purchase for his personal use the undermentioned vehicle from:
      <br><br>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <table class="table">
        <tr><td>Make:</td><td>{{ila.submission.commodities[0].entries[0].vehicleBrand}}</td></tr>
        <tr><td>Model:</td><td>{{ila.submission.commodities[0].entries[0].vehicleModel}}</td></tr>
        <tr><td>Engine No.:</td><td>{{ila.submission.commodities[0].entries[0].vehicleEngine}}</td></tr>
        <tr><td>Chassis No.:</td><td>{{ila.submission.commodities[0].entries[0].chassisNumber}}</td></tr>
        <tr><td>C.I.F. Value:</td><td>${{ila.submission.commodities[0].entries[0].costCIF}}</td></tr>
        <tr><td>Vessel:</td><td>{{ila.submission.vesselOrCraft}}</td></tr>
        <tr><td>Arrival Date:</td><td>{{ila.submission.expectedArrival}}</td></tr>
        <tr><td>Origin</td><td>{{ila.submission.origin}}</td></tr>
      </table>
    </div><!--col-sm-10 col-sm-offset-1-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mr. {{ila.submission.applicant.name}} commenced services with the Bank on {{ila.submission.applicant.startToWorkDate  | date:'dd/MM/yyyy'}}, and this is <b>his first purchase of a duty‐free vehicle.</b> In accordance with Section 50 (j) of the Headquarters Agreement between the Caribbean Development Bank and the Government of Barbados, Mr. {{ila.submission.applicant.name}} is eligible to purchase the above mentioned vehicle free of import duty, excise tax, levy and VAT. Attached are the pre‐clearance customs declaration form reference Duty Free Concessions; letter from garage outlining details of vehicle and a quote from an insurance company.
      </p>
      <br><br>

    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mr. {{ila.submission.applicant.name}} understands that:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-11">
      <p>
        (a) the vehicle should not be sold or otherwise disposed of within the proscribed period unless the unexpired portion of the duties and taxes are repaid or waived by the Minister responsible for Finance; and
        <br><br>
        (b) his right to import an automobile for personal use free of duty and other levies, prohibitions and restrictions on imports may not be exercised prior to a date three (3) years after the date of the last importation.       
      </p>
      <br><br>

    </div>
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We would be grateful if the Comptroller of Customs could be authorised to allow the vehicle in free of import duty, excise tax, levy and VAT.
      </p>

      <p align="center">
        Yours faithfully,
        <br><br><br><br>
        Manager
        <br><br><br>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-3">
      <b>
        <u>
          Attachments<br>
        </u>
      </b>
      cc: Mr {{ila.submission.applicant.name}}<br>
      cc: {{ila.submission.supplier.name}}
    </div>
    <br><br><br>
    <div class="col-sm-9 col-sm-offset-3 top-border" align="right">
      <h6>
        <b>
          P.O. Box 408, Wildey, St. Michael, Barbados, W.I. BB11000<br>
          Tel: (246) 431‐1600 · Telefax: (246) 426‐7269 · Web: www.caribank.org · Email: info@caribank.org
        </b>
      </h6>
    </div>
  </div><!--row-->
</div><!--container-->
