<div>
    <div class="row">
      <div class="col-sm-12">
        <h5>
          July &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2015<br><br>
          Ministry of Finance<br>
          Thru' Postmaster General<br>
          Cheapside<br>
          <b><u>BRIDGETOWN</u></b>
          <br><br>
          Dear Sir/Madam
          <br><br>
        </h5>

        <p align="justify">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          I am a Postman attached to the &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Post Office. I am applying for duty‐free concession to purchase a motorcycle to be used in the execution of my duties.<br><br>
        </p>

        <p align="center">
          Yours faithfully
        </p>
      </div><!--col-sm-12-->
    </div><!--row-->
</div><!--container-->
