<div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        <b>
          PRIVATE INVESTIGATORS AND SECURITY GUARDS<br> ACT 1984, 1985-1
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <h4>
        <b>
          FORM F
        </b>
      </h4>
    </div><!--col-sm-8 col-sm-offset-2-->
    <div class="col-sm-2" align="right">
      <h4>
        [Section 26(1)]
      </h4>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        APPLICATION FROM AGENCY FOR PERMISSION TO USE<br>
        FIREARMS AND OTHER INSTRUMENTS OF DEFENCE<br>
      </h4>
      <h5>
        <b>(NOTE: THIS APPLICATION MUST BE SUBMITTED IN DUPLICATE)</b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
