<div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        <b>
          PRIVATE INVESTIGATORS AND SECURITY GUARDS<br> ACT 1984, 1985-1
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <h4>
        <b>
          FORM F
        </b>
      </h4>
    </div><!--col-sm-8 col-sm-offset-2-->
    <div class="col-sm-2" align="right">
      <h4>
        [Section 26(1)]
      </h4>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        APPLICATION FROM AGENCY FOR PERMISSION TO USE<br>
        FIREARMS AND OTHER INSTRUMENTS OF DEFENCE<br>
      </h4>
      <h5>
        <b>(NOTE: THIS APPLICATIONMUSTBE SUBMITTEDIN DUPLICATE)</b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <p>1</p><br>
      <p>2</p><br>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p>6</p><br><br>
      <p>7</p>
      <p>8</p><br><br>
      <p>9</p><br><br><br>
      <p>10</p><br>
      <p>11</p><br><br>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p><!--1-->
        NAME AND REGISTRATION OF AGENCY: ...<br><br>
      </p>
      <p><!--2-->
        ADDRESS OF AGENCY: ...<br><br>
      </p>
      <p><!--3-->
        NUMBER OF GUARDS: ...
      </p>
      <p><!--4-->
        NUMBER OF FIREARMS: ...
      </p>
      <p><!--5-->
        TYPES OF FIREARMS: ...
      </p>
      <p><!--6-->
        REASON(S) FOR DESIRING TO HA VE FIREARMS: ...<br><br><br>
      </p>
      <p><!--7-->
        ANY PREVIOUS APPLICATION(S): ...
      </p>
      <p><!--8-->
        NUMBER OF FIREARMS FOR WlilCH LICENCES HA VE ALREADY BEEN ISSUED: ...<br><br><br>
      </p>
      <p><!--9-->
        ARRANGEMENTS MADE FOR TRAINING OF GUARDS WHO WILL BE REQUIRED TO USE FIREARMS: ...<br><br><br><br>
      </p>
      <p><!--10-->
        OTIIBR TYPES OF INSTRUMENT OF DEFENCE: ...<br><br>
      </p>
      <p><!--11-->
        REASON(S) FOR DESIRING TO HA VE OTHER TYPES OF INSTRUMENTS OF DEFENCE: ...<br><br><br>
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-8">
      <h5>
        <b>Footnotes:</b>
      </h5>
      <h5>
        1. *Instruments of Defence includes<br>
        truncheon, shock stick, handcuffs,<br>
        security blanket or other like<br>
        instrument.
      </h5>
    </div><!--col-sm-8-->
    <div class="col-sm-4" align="center">
      <br><br><br>
      <h5>
        <b>
          Signature of Applicant
        </b>
      </h5>
    </div><!--col-sm-4-->
  </div><!--row-->
</div><!--container-->
