<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/goverment.png" class="img-responsive">
    </div>
    <div class="col-sm-7" align="center">
      <h4>MINISTRY OF INDUSTRY, INTERNATIONAL & BUSINESS, <br> COMMERCE AND SMALL BUSINESS DEVELOPMENT</h4>
      <h5>(Department of Commerce and Consumer Affairs)</h5>
      <h5>Block 1, Pelican Industrial Estate Bridgetown St. Michael</h5>
    </div>
    <div class="col-sm-3">
      <img src="/Forms/img/logos/public-sector-reform6.png" class="img-responsive">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-12">

Tel.: (246)437‐3552 <br>
Fax: (246) 228‐3821 <br><br>
Our Ref.:  <br>
Your Ref.: <br><br>

Licence Application No: <br><br>


Dear Sir/Madam: <br><br>

<p>I refer to your application for license to import the undermentioned vehicles, which has already arrived in Barbados: <br>

</p>
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
  	<div view-commodities-with-fields=""></div>
	</div>
</div>

<p>I am directed to inform you that accordance with Government Regulations. you must pay to the Comptroller of Customs, the taxes on the C.I.F. value as determined by the Comptroller of Customs and the receipt presented to the Director before the Licence can be issued.</p>

<p>You are advised to present this letter to Customs when making payment. Yours faithfully</p>

<p>for Director(Ag.)</p>


    </div>
</div>
