<div>
  <div class="row">
    <div class="col-sm-12">
			<h3>DEFENCE AND SECURITY</h3>
			<h4>PRIME MINISTER'S OFFICE</h4>
			<h5>Government Headquarters</h5>
			<br>
			Bay Street, St. Michael <br>
			BARBADOS <br>
			Tel: 246‐228‐5322 Fax No. 246‐228‐5393 <br>
			Email : psdefence©barbados.gov.bb <br><br>


			Our Ref: <br>
			Date: <br>

		  <div class="row">
		    <div class="col-sm-6">
		      <span field-name="1" form='form' readonly="true" ila='ila'></span>
		      <div class="form-group">
		        <label class="col-sm-4 control-label">
		          <span field-name="2" form-fields="form.options.formFields"></span>
		        </label>
		        <div class="col-sm-8 control-value" ng-bind="ila.submission.applicant.name">
		        </div>
		      </div>
		    </div>
		  </div>

			<br><br>

			Dear Sir, <br>

			<h6>Request to Import Fireworks</h6>

			<p>I refer to your correspondence dated [[Date]] in relation to the captioned matter. </p>

			<p>Please be informed that permission was granted for you to import: </p>

			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
			  	<div view-commodities-no-price=""></div>
				</div>
			</div>


		  <div class="row">
		    <div class="col-sm-6">
		      <span field-name="4" form='form' readonly="true" ila='ila'></span>
		      <span field-name="8" form='form' readonly="true" ila='ila'></span>
		    </div>
		    <div class="col-sm-6">
		      <span field-name="5" form='form' readonly="true" ila='ila'></span>
		    </div>
		  </div>

			<br>

			<h4>Display</h4>			
			<p>The display will be {{ila.submission.displayDescription}}.</p>
			<p>{{ila.submission.displayRisponsible}} will be launching the display.</p>
			<p>Please contact {{ila.submission.contactInspection}} to arrange a site inspection.</p>
	
			<p>You may therefore proceed to make the necessary arrangements.</p>
			<br>
			<p>Yours faithfully,</p>


			<br><br>
			<p>for Permanent Secretary</p>



			<p>
			Copied to: <br>
			Chief of Staff, Barbados Defence Force <br>
			Commissioner of Police, Royal Barbados Police Force Chief Fire Officer, Barbados Fire Service <br>
			Comptroller of Customs, Customs and Excise Department <br>
			</p>



    </div>
</div>