<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="4" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.origin">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="5" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.countryConsigned">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="6" form-fields="form.options.formFields" field-tooltip="true"></span>
        </label>
        <div class="col-sm-8 control-value">
          <input name="expectedArrival" type="date" class="form-control" datepicker-popup ng-model="form.data.expectedArrival" ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="1" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.submitter">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="2" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.applicant.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="8" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.supplier.name">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div edit-commodities=""></div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div ng-if="lpcoForm.$submitted">
    <div ng-messages="lpcoForm.expectedArrival.$error">
        <div class="alert alert-danger" ng-message="required">Please enter the date the goods are expected to arrive in Barbados.</div>
        <div class="alert alert-danger" ng-message="date">Please enter a valid arrival date in the format: {{form.config.date.datepickerformat}}</div>
    </div>
    <div validate-commodities=""></div>
  </div>
</div>