<div>
  <div class="row">
    <div class="col-sm-12">

			<h3>GOVERNMENT OF BARBADOS </h3>
			<h4>DEFENCE AND SECURITY </h4>
			<h5>Government Headquarters</h5>
			<br>
			Bay Street, St. Michael BARBADOS <br>	
			Fax No. 246‐430-0212 <br>
			E-mail: pspms©caribsurfcom <br><br>


			Our Ref.: [[Ref]] <br>
			Date: [[Date]] <br><br>


		  <div class="row">
		    <div class="col-sm-6">
		      <span field-name="1" form='form' readonly="true" ila='ila'></span>
		      <span field-name="2" form='form' readonly="true" ila='ila'></span>
		    </div>
		  </div>
		  <br>

			PRIVATE INVESTIGATORS AND SECURITY GUARDS LICENSING AND ADVISORY BOARD <br>
			Mr. Jeffrey D. Evelyn  <br>
			Managing Director <br><br>

			Lot28 Eddghill ST.THOMAS <br>



			Dear Sir <br>
			
			<h6>Permission to import</h6>

			<p>With reference to your letter dated [[Letter date]] requesting permission to import</p>

			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
			  	<div view-commodities-no-price=""></div>
				</div>
			</div>


			<br>

			<p>To be used by [[To be used by]].</p>


			<p>Please be informed that the Private lnvestigators Security Guarde Licensing and Advisory Board at its meeting on [[date of approval meeting]] has approved your letter of application to import the listed defence instruments for [[To be used by]].</p>

			<br><br>
			c.c.: Commissioner of Police Comptroller of Customs <br>
			ED/aj <br>


    </div>
</div>