<div>
  <div class="row"><!--Header-->
    <div class="col-sm-12">
      <h3 align="center">
        <b><u>
          Application to Import Radioactive Material
        </u></b>
      </h3><br>
      <h5><b>
        <u>FIRST TIME APPLICANTS:</u>
        COMPLETE THE ENTIRE FORM.<br>
        <u>RENEWALS:</u>
        OMIT PART 6, unless changes have been made since previous application.
      </b></h5>
      <h5>
        <b><u>
          PLEASE PRINT ALL RESPONSES
        </u></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <br>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
