<div>
  <div class="row"><!--Header-->
    <div class="col-sm-12">
      <h3 align="center">
        <b><u>
          Application to Import Radioactive Material
        </u></b>
      </h3><br>
      <h5><b>
        <u>FIRST TIME APPLICANTS:</u>
        COMPLETE THE ENTIRE FORM.<br>
        <u>RENEWALS:</u>
        OMIT PART 6, unless changes have been made since previous application.
      </b></h5>
      <h5>
        <b><u>
          PLEASE PRINT ALL RESPONSES
        </u></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <br>


  <div class="row"><!--2-->
    <div class="col-sm-12" style="background-color: gray;">
      <h4><b>
        2. Supplier Information
      </b></h4>
    </div>

    <div class="col-sm-12">
      <h5><b>
        Company Name:
      </b></h5>
      <h5><b>
        Address:
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-3">
      <h5><b>City:</b></h5>
    </div>
    <div class="col-sm-6">
      <h5><b>State</b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>Postal Code:</b></h5>
    </div>

    <div class="col-sm-2" style="background-color: gray;">
      <h5>
        <b>CONTACT PERSON</b>
      </h5>
    </div>
    <div class="col-sm-5">
      <h5><b>First Name:</b></h5>
    </div>
    <div class="col-sm-5">
      <h5><b>Last Name:</b></h5>
    </div>

    <div class="col-sm-4">
      <h5><b>Email:</b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Phone: (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;) </b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Fax: (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;) </b></h5>
    </div>
  </div><!--row-->

  <div class="row"><!--3-->
    <div class="col-sm-12" style="background-color: gray;">
      <h4><b>
        3. Customs Broker/ Import Agent Information
      </b></h4>
    </div>

    <div class="col-sm-12">
      <h5><b>
        Company Name:
      </b></h5>
      <h5><b>
        Address:
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-9">
      <h5><b>Parish:</b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>Postal Code: BB</b></h5>
    </div>

    <div class="col-sm-2" style="background-color: gray;">
      <h5>
        <b>CONTACT PERSON</b>
      </h5>
    </div>
    <div class="col-sm-5">
      <h5><b>First Name:</b></h5>
    </div>
    <div class="col-sm-5">
      <h5><b>Last Name:</b></h5>
    </div>

    <div class="col-sm-4">
      <h5><b>Email:</b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Phone: (246) </b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Fax: (246) </b></h5>
    </div>
  </div><!--row-->

  <div class="row"><!--4-->
    <div class="col-sm-12" style="background-color: gray;">
      <h4><b>
        4. Transportation Information
      </b></h4>
    </div>

    <div class="col-sm-2">
      <h5><b>Method of Import:</b></h5>
    </div>
    <div class="col-sm-10">
      <h5><b>Air [ ] &nbsp;&nbsp;&nbsp; Sea[ ]</b></h5>
    </div>

    <div class="col-sm-2" style="background-color: gray;">
      <h5><b>
        Company Name:
      </b></h5>
    </div>

    <div class="col-sm-12">
      <h5><b>
        Address:
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-9">
      <h5><b>Parish:</b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>Postal Code: BB</b></h5>
    </div>

    <div class="col-sm-2" style="background-color: gray;">
      <h5>
        <b>CONTACT PERSON</b>
      </h5>
    </div>
    <div class="col-sm-5">
      <h5><b>First Name:</b></h5>
    </div>
    <div class="col-sm-5">
      <h5><b>Last Name:</b></h5>
    </div>

    <div class="col-sm-4">
      <h5><b>Email:</b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Phone: (246) </b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Fax: (246) </b></h5>
    </div>
  </div><!--row-->

  <!--PAGE 2-->

  <div class="row">
    <div class="col-sm-12">
      <h5><b>
        LOCAL - Company responsible for transportation from the Port of Entry
      </b></h5>
    </div>

    <div class="col-sm-2" style="background-color: gray;">
      <h5><b>
        Company Name:
      </b></h5>
    </div>

    <div class="col-sm-12">
      <h5><b>
        Address:
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-9">
      <h5><b>Parish:</b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>Postal Code: BB</b></h5>
    </div>

    <div class="col-sm-2" style="background-color: gray;">
      <h5>
        <b>CONTACT PERSON</b>
      </h5>
    </div>
    <div class="col-sm-5">
      <h5><b>First Name:</b></h5>
    </div>
    <div class="col-sm-5">
      <h5><b>Last Name:</b></h5>
    </div>

    <div class="col-sm-4">
      <h5><b>Email:</b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Phone: (246) </b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Fax: (246) </b></h5>
    </div>

    <div class="col-sm-3" style="background-color: gray;">
      <h5><b>
        Secondary Overland Transporter Company Name:
      </b></h5>
    </div>

    <div class="col-sm-12">
      <h5><b>
        Address:
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-9">
      <h5><b>Parish:</b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>Postal Code: BB</b></h5>
    </div>

    <div class="col-sm-2" style="background-color: gray;">
      <h5>
        <b>CONTACT PERSON</b>
      </h5>
    </div>
    <div class="col-sm-5">
      <h5><b>First Name:</b></h5>
    </div>
    <div class="col-sm-5">
      <h5><b>Last Name:</b></h5>
    </div>

    <div class="col-sm-4">
      <h5><b>Email:</b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Phone: (246) </b></h5>
    </div>
    <div class="col-sm-4">
      <h5><b>Fax: (246) </b></h5>
    </div>
  </div><!--row-->

  <div class="row"><!--5-->
    <div class="col-sm-12" style="background-color: gray">
      <h4><b>
        5. Material Information
      </b></h4>
    </div><br><br><br>

    <div class="col-sm-12">
      <table class="black-border" width="100%">
        <tr>
          <th class="center-align">Product ID No.</th>
          <th class="center-align">Description</th>
          <th class="center-align">Physical Characteristics (S- Solid, L-Liquid, G-Gas)</th>
          <th class="center-align">Quantity (Maximum Quantity)</th>
          <th class="center-align">Activity (GBq)</th>
          <th class="center-align">Radioisotope</th>
          <th class="center-align">Calibration Date</th>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row--><br>

  <div class="row"><!--6-->
    <div class="col-sm-12" style="background-color: gray">
      <h4><b>
        6. Safety - <i>use additional paper</i>
      </b></h4>
    </div><!--col-sm-12-->

    <div class="col-sm-1" align="right">
      <p><b>
        *<br>
        *<br>
        *<br>
        *<br>
        *<br>
        *<br>
        *
      </b></p>
    </div>
    <div class="col-sm-11">
      <p><b>
        Names & qualifications of persons who will handle the radioactive materials.<br>
        Emergency plans to be followed in cases of accidents or crisis.<br>
        Monitoring procedures ‐ to be employed for radioactive materials.<br>
        Storage location & facilities.<br>
        Protective equipment ‐ to be used by personnel handling the radioactive materials<br>
        Description of containment method & material<br>
        Proposed transportation routes for the material
      </b></p>
    </div>
  </div><!--row-->

  <div class="row"><!--7-->
    <div class="col-sm-12" style="background-color: gray;">
      <h4><b>
        7. Proposed Method of Disposal of Used Radioactive Material
      </b></h4>
    </div>
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th width="40%">
            Expected activity at the end of use:
          </th>
          <th>
            __________ GBq
          </th>
        </tr>
        <tr>
          <th>
            Explain method by which the material imported will be disposed:
          </th>
          <th></th>
        </tr>
      </table>
    </div><!--col-sm-12-->

    <div class="col-sm-12">
      <br>
      <h6>
        ¹ The Department must be notified in writing of any changes to personnel or procedures.
      </h6>
    </div>
  </div><!--row-->

  <!--PAGE 3-->

  <div class="row"><!--8-->
    <div class="col-sm-12">
      <h4><b>
        8. Declaration:
      </b></h4>
    </div><!--col-sm-12-->

    <div class="col-sm-12">
      <h6>
        I certify that the above information is complete and correct to the best of my knowledge. I also certify that legally‐enforceable written contractual obligations have been entered into, that any applicable insurance or other financial guarantees are in force covering the transboundary movement and that all necessary authorisations have been received from the competent authorities of the States concerned.
      </h6>
      <h5><b>
        Applicant's name:<br><br>
        Applicant's Signature:<br><br>
        Applicant's Stamp:
      </b></h5>
      <h6><b>Date (dd/mm/yyyy):</b></h6>

      <h5 align="center">
        <b><u>
          RENEWAL APPLICATIONS SHOULD BE MADE TEN (10) BUSINESS DAYS BEFORE THE EXPIRATION<br>
          OF THE CURRENT APPROVAL
        </u></b>
      </h5>
    </div><!--col-sm-12-->

    <div class="col-sm-12">
      <table class="custom-table black-border" width="75%" style="background-color: gray;">
        <tr>
          <th class="center-align">
            <h4><b>OFFICIAL USE</b></h4>
          </th>
        </tr>
        <tr>
          <th class="center-align">
            <h4><b>ENVIRONMENTAL PROTECTION DEPARTMENT</b></h4>
          </th>
        </tr>
        <tr>
          <th>DATE RECEIVED:</th>
        </tr>
        <tr>
          <th>APPLICANT'S NUMBER:</th>
        </tr>
        <tr>
          <th>EXPIRATION DATE:</th>
        </tr>
        <tr>
          <th>
            <div class="row">
              <div class="col-sm-7">
                APPROVED: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [ ]
              </div>
              <div class="col-sm-5">
                REFUSED: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [ ]
              </div>
            </div><!--row-->
          </th>
        </tr>
        <tr>
          <th>COMMENTS:</th>
        </tr>
        <tr>
          <th><br></th>
        </tr>
        <tr>
          <th><br></th>
        </tr>
        <tr>
          <th>DIRECTOR'S SIGNATURE:<br><br><br></th>
        </tr>
        <tr>
          <th>DATE:(dd/mm/yyyy)</th>
        </tr>
      </table><br>
    </div><!--col-sm-12-->

    <div class="col-sm-12">
      <table class="custom-table black-border" width="75%">
        <tr style="background-color: gray;">
          <th class="center-align" colspan="2">
            <h4><b>
              CUSTOMS DEPARTMENT
            </b></h4>
            Return this original form to the EPD<br>
            <h6><b>
              CONFIRMATION OF ARRIVAL OF RADIOACTIVE MATERIALS AND STAMP OF THE CUSTOMS DEPARTMENT
            </b></h6>
          </th>
        </tr>
        <tr style="background-color: gray;">
          <th class="center-align">
            ENTRY AT PORT
          </th>
          <th class="center-align">
            DEPARTURE FROM PORT
          </th>
        </tr>
        <tr>
          <td>
            <h6 align="center">
              The material described overleaf arrived in the Port on (dd/mm/yyy)
            </h6>
            <h5>Stamp</h5>
            <br><br><br>
            <h5>Signature:</h5>
          </td>
          <td>
            <h6 align="center">
              The material described overleaf departed the Port on (dd/mm/yyy)
            </h6>
            <h5>Stamp</h5>
            <br><br><br>
            <h5>Signature:</h5>
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->

    <div class="col-sm-11" align="center">
      <h5><b>
        THIS APPROVAL EXPIRES ON ___/___/20___
      </b></h5>
    </div>
    <div class="col-sm-11 col-sm-offset-1" align="center">
      <h5><b>
        THIS APPLICATION IS NON-TRANSFERRABLE
      </b></h5>
    </div>
  </div><!--row-->
</div><!--container-->
