<div>
  <div class="row">
    <div class="col-sm-12">

			No. <br>
			File No. <br>

			<h5>MINISTRY OF HEALTH</h5>
			<h6>The Drug Abuse (Prevention and Controll) Act 131</h6>
			<br>

			<h3>IMPORT CERTIFICATE</h3>


			<p>1. To be completed in all cases</p>

			<p>I hereby certify that the Minister of Health being the Authority charged with the Administration of the Law relating to the drugs to which the Conventions apply, has approved the importation by</p>

			<p>a. Name, address and business of importer.</p>

			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
					<h4>{{ila.submission.applicant.name}}</h4>
					<h5>{{ila.submission.applicant.address}}</h5>
					<h5>{{ila.submission.applicant.country}}</h5>
					<br><br>
				</div>
			</div>





			<p>b. Exact description and amount of drugs to be imported, including the international non-‐proprietary name, if any.</p>

			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
			  	<div view-commodities-no-price=""></div>
				</div>
			</div>


			<p>c. Name and address of firm in exporting country from which the drug is to be obtain from</p>

		  <div class="row">
				<div class="col-sm-offset-1 col-sm-10">
		      <span field-name="8" form='form' readonly="true" with-address="true" ila='ila'></span>
		    </div>
		  </div>



			<p>2. It is hereby certified that these controlled drugs are required in Barbados exclusively for medicall and scientific purposes and that they may not be re-exported without approval. This Certifficate is valid for importation until [[Date]] The consignment(s) should be shipped by ocean freight, air freight or insured parcel post.</p>




			[[Date]] <br>
			[[Minister responsible]] <br>

    </div>
</div>