<div>
  <div class="row">
    <div class="col-sm-2">
      (LOGO)
    </div><!--col-sm-2-->
    <div class="col-sm-8" align="center">
      <h5>
        FISHERIES DIVISION<br>
        Princess Alice Highway, Bridgetown<br>
        Tel: 426-3745 or 426-5973, Fax: 436-9068<br>
        www.agriculture.gov.bb
      </h5>
      <h4><b>
        APPLICATION FOR REGISTRATION OF A<br>
        LOCAL FISHING VESSEL
      </b></h4>
    </div><!--col-sm-8-->
    <div class="col-sm-2">
      <h5 align="right"><b>
        FD7
      </b></h5>
      <table class="black-border" style="width: 100%">
        <tr>
          <td class="center-align">
            Official Use
          </td>
        </tr>
        <tr>
          <td class="center-align">
            File No.
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td class="center-align">
            Fisher No.
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
      </table>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border no-top-td no-right-td no-bottom-td no-left-td">
        <tr>
          <th class="no-top-cell no-right-cell no-left-cell" colspan="2">
            I/We hereby submit this application to have the vessel mentioned above registration in accordance with the requirements of the Fisheries Act [ CAP 391 ] Section 19. I/We also declare all of the above information to be true.
          </th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (1))
                <br><br>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (2))
                <br><br>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (3))
                <br><br>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (4) / Agent)
                <br><br>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <!--NEXT PAGE-->

  <div class="row">
    <div class="col-sm-1">
      <p>
        Note:<br>
        1.<br><br>
        2.
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <p>
        To register or licence a fishing vessel may be denied where the proposed owner(s) is/are not a citizen(s) of Barbados or permanent resident(s) of Barbados within the meaning of the Immigration Act.
        <br>
        To register a fishing vessel you must submit proof of (a) Citizenship and (b) proof of Ownership of the vessel.
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
