<div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      (LOGO)
      <h5>
        FISHERIES DIVISION<br>
        Princess Alice Highway, Bridgetown<br>
        Tel: 426-3745 or 426-5973, Fax: 436-9068
      </h5>
      <h4><b>
        APPLICATION FOR REGISTRATION OF A PROCESSOR
      </b></h4>
    </div><!--col-sm-8 col-sm-offset-2-->
    <div class="col-sm-2">
      <h5 align="right"><b>
        FD25
      </b></h5>
      <table class="black-border" style="width: 100%">
        <tr>
          <td class="center-align">
            Official Use
          </td>
        </tr>
        <tr>
          <td class="center-align">
            File No.
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
      </table>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row"><!--COMPANY INFORMATION-->
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th>COMPANY INFORMATION</th>
        </tr>
        <tr>
          <th>
            <div class="row">
              <div class="col-sm-6">
                Nature of Business:
                [ ]-Processor
                [ ]-Trader
              </div><!--col-sm-6-->
              <div class="col-sm-6">
                Customs Registration no.:<br><br>
              </div><!--col-sm-6-->

              <div class="col-sm-8">
                Company Registration No.:
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Company No.<br><br>
              </div><!--col-sm-4-->

              <div class="col-sm-12">
                Processing Plant Licensing No.:
                <br><br>
                Brand Name:
                <br><br>
                Company Name:
                <br><br>
                Mailing Address:
                <br><br><br>
              </div>

              <div class="col-sm-8">
                Company Tel:
              </div>
              <div class="col-sm-4">
                Fax:<br><br>
              </div>

              <div class="col-sm-12">
                Email Address:
                <br><br>
                CEO / Directors:
                <br><br><br>
                Contact Person:
                <br><br>
                Mailing Address:
                <br><br><br>
              </div>

              <div class="col-sm-3">
                Tel: (H):
              </div>
              <div class="col-sm-3">
                (W):
              </div>
              <div class="col-sm-3">
                (C):
              </div>
              <div class="col-sm-3">
                (F):<br><br>
              </div>

              <div class="col-sm-12">
                Email Address:
              </div>
            </div><!--row-->
          </th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--STAFF DETAILS-->
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th>STAFF DETAILS</th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr>
                    <th>Staff</th>
                    <th>Total</th>
                    <th>Male</th>
                    <th>Female</th>
                  </tr>
                  <tr>
                    <th>Total Persons</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>In Office Staff</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Scalers</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Boners</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Saw Operators</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>General Workers</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr>
                    <th>Other Staff</th>
                    <th>Total</th>
                    <th>Male</th>
                    <th>Female</th>
                  </tr>
                  <tr>
                    <th><br></th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th><br></th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th><br></th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th><br></th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th><br></th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th><br></th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <!--NEXT PAGE-->

  <div class="row">
    <div class="col-sm-6">
      <table class="table black-border">
        <tr>
          <td>
            <table class="table black-border">
              <tr class="active">
                <th colspan="3">
                  Source of Fish:
                </th>
              </tr>
              <tr class="active">
                <th>Boat's Reg. No.</th>
                <th>Boat Type</th>
                <th>Landing Sites</th>
              </tr>
              <tr>
                <td><br></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><br></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><br></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><br></td>
                <td></td>
                <td></td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th>Fish Source</th>
                <th>Total</th>
              </tr>
              <tr>
                <th>Locally</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Imported</th>
                <td class="right-align">%</td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th colspan="3">
                  Amount of Fish Purchased Locally:
                </th>
              </tr>
              <tr class="active">
                <th>Species</th>
                <th>lbs</th>
                <th>tons</th>
              </tr>
              <tr>
                <th>SWORDFISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>KINGFISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>BILLFISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>TUNA</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>SHARK</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>DOLPHIN</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>FLYING FISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th><br></th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th><br></th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th><br></th>
                <td></td>
                <td></td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th colspan="3">
                  Amount of Fish Purchase Imported Annualy:
                </th>
              </tr>
              <tr class="active">
                <th>Species</th>
                <th>lbs</th>
                <th>tons</th>
              </tr>
              <tr>
                <th>SWORDFISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>KINGFISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>BILLFISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>TUNA</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>SHARK</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>DOLPHIN</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>FLYING FISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>SHELL FISH</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th><br></th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th><br></th>
                <td></td>
                <td></td>
              </tr>
            </table>

            <h5>
              <b><u>
                Method of Offal Disposal:
              </u></b>
            </h5>
          </td>
        </tr>
      </table>
    </div><!--col-sm-6-->
    <div class="col-sm-6">
      <table class="table black-border">
        <tr>
          <td>
            <table class="table black-border">
              <tr class="active">
                <th>Fish Sold</th>
                <th>Total</th>
              </tr>
              <tr>
                <th>Locally</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Exported</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Spoilage</th>
                <td class="right-align">%</td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th>Break Down of Fish Sold Locally:</th>
                <th>Total</th>
              </tr>
              <tr>
                <th>Super Markets</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Mini Marts</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Hotels</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Restaurants</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Vendors</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Hawkers</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>General Public</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Public Institutions</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Hospitals</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Schools</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Other</th>
                <td class="right-align">%</td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th>Break Down of Fish Exported:</th>
                <th>Total</th>
              </tr>
              <tr>
                <th>In Region</th>
                <td class="right-align">%</td>
              </tr>
              <tr>
                <th>Out of Region</th>
                <td class="right-align">%</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table class="table black-border">
        <tr class="active">
          <th colspan="2">
            COMPANY EQUIPMENT
          </th>
        </tr>
        <tr>
          <th>
            <div class="row">
              <div class="col-sm-12">
                <p><u>Freezer Type:</u></p>
                <p>[ ]-Blast</p>
                <p>[ ]-Contact</p>
                <p>[ ]-Capacity per Unit Freeze</p>
                <br>
                <p><u>Cold Store:</u></p>
                <p>[ ]-Owned</p>
                <p>[ ]-Rented</p>
                <br>
                <p><u>Capacity of Chiller:</u></p>
                <br>
                <p><u>Cold Storage:</u></p>
                <br>
              </div><!--col-sm-12-->
            </div><!--row-->
          </th>
          <th>
            <div class="row">
              <div class="col-sm-12">
                <p><u>Other Specialising Equipment:</u></p>
                <p>[ ]-Filleting Machine</p>
                <p>[ ]-Fish Washer</p>
                <p>[ ]-Patty Former</p>
                <p>[ ]-Ice Machine</p>
                <p>[ ]-Other</p>
                <br>
                <p><u>Method of Fish Transport:</u></p>
                <p>[ ]-Van</p>
                <p>[ ]-Refrigerate Truck/Van</p>
                <p>[ ]-Flat-bad Truck</p>
                <p>[ ]-Other</p>
              </div><!--col-sm-12-->
            </div><!--row-->
          </th>
        </tr>
      </table>
    </div><!--col-sm-6-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p><b><i>
        I declare that the information provided is true and correct.
      </i></b></p>
    </div>

    <div class="col-sm-9">
      <h5><b>
        Signature of Applicant
      </b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>
        Date
      </b></h5>
    </div>
  </div><!--row-->
</div><!--container-->
