<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APPLICATION FOR REGISTRATION OF A LOCAL FISHING VESSEL</title>
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="jquery-ui-1.11.4.custom/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="custom.css">

  <script src="bootstrap-3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      (LOGO)
    </div><!--col-sm-2-->
    <div class="col-sm-8" align="center">
      <h5>
        FISHERIES DIVISION<br>
        Princess Alice Highway, Bridgetown<br>
        Tel: 426-3745 or 426-5973, Fax: 436-9068<br>
        www.agriculture.gov.bb
      </h5>
      <h4><b>
        APPLICATION FOR REGISTRATION OF A<br>
        LOCAL FISHING VESSEL
      </b></h4>
    </div><!--col-sm-8-->
    <div class="col-sm-2">
      <h5 align="right"><b>
        FD7
      </b></h5>
      <table class="black-border" style="width: 100%">
        <tr>
          <td class="center-align">
            Official Use
          </td>
        </tr>
        <tr>
          <td class="center-align">
            File No.
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td class="center-align">
            Fisher No.
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
      </table>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border no-right-td no-bottom-td no-left-td">
        <tr>
          <th class="center-align">
            OWNER(S) AND AGENT INFORMATION
          </th>
        </tr>
        <tr>
          <td class="no-right-cell no-bottom-cell no-left-cell">
            <div class="row">
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (1) ...<br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address ...<br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. ...
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. ...<br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) ...
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) ...
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>

                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (3) ...<br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address ...<br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. ...
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. ...<br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) ...
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) ...
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (2) ...<br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address ...<br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. ...
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. ...<br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) ...
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) ...
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>

                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (4) / Agent ...<br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address ...<br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. ...
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. ...<br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) ...
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) ...
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border no-top-td no-right-td no-bottom-td no-left-td">
        <tr>
          <th class="center-align">
            VESSEL DETAILS
          </th>
          <th class="center-align">
            FISHING INFORMATION
          </th>
        </tr>
        <tr>
          <td class="no-bottom-cell no-left-cell" width="50%">
            <div class="row">
              <div class="col-sm-1" align="center">
                <div class="row">
                  <div class="col-sm-12">
                    5.<br><br>
                    6.<br><br>
                    7.<br><br>
                    8.<br><br>
                    9.<br><br><br><br><br>
                    10.<br><br><br><br><br><br><br><br><br><br><br><br><br>
                    11.<br><br>
                    12.
                  </div><!--col-sm-12-->
                </div><!--row-->
              </div><!--col-sm-1-->
              <div class="col-sm-11">
                <div class="row">
                  <div class="col-sm-7">
                    <b>Builder:</b>
                  </div><!--col-sm-7-->
                  <div class="col-sm-5">
                    <b>Year Built (age):</b><br><br>
                  </div><!--col-sm-5-->

                  <div class="col-sm-12">
                    <b>Vessel Name:</b><br><br>
                  </div>

                  <div class="col-sm-12">
                    <b>Vessel Type: </b>
                    [ ]-LongLiner
                    [ ]-Iceboat
                    [ ]-Day Boat
                    [ ]-Open Boat<br><br>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>Hull Material:</b>
                    [ ]-Wood
                    [ ]-GRP
                    [ ]-Steel
                    Other ...<br><br>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>Dimensions of Vessel:</b> [ metres ] [ feet ]
                    <br>
                    <table class="table black-border">
                      <tr>
                        <td>Length<br><br></td>
                        <td>Beam</td>
                        <td>Depth</td>
                        <td>Draught</td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>
                      Engine(s):
                    </b>
                    [ ]-Inboard
                    [ ]-Outboard
                    /[ ]-Diesel
                    [ ]-Gas
                    [ ]-Kerosene
                    <br>
                    <table class="table black-border">
                      <tr>
                        <td>H.p.<br><br></td>
                        <td>H.p.</td>
                      </tr>
                      <tr>
                        <td>Make<br><br></td>
                        <td>Make</td>
                      </tr>
                      <tr>
                        <td>Model<br><br></td>
                        <td>Model</td>
                      </tr>
                      <tr>
                        <td>Serial no.<br><br></td>
                        <td>Serial no.</td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>Proposed Number of Crew:</b> ...<br><br>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>Emergency Plan for Vessel:</b><br>
                    <table class="table black-border">
                      <tr>
                        <td>Haul Up at:<br><br></td>
                        <td>Take to Port:</td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->
                </div><!--row-->
              </div><!--col-sm-11-->
            </div><!--row-->
          </td>
          <td class="no-right-cell no-bottom-cell">
            <div class="row">
              <div class="col-sm-1">
                13.<br><br>
                14.<br><br>
                15.<br><br>
                16.<br><br><br><br><br><br><br><br>
                17.<br><br><br><br><br>
                18.<br><br>
                19.<br><br><br>
                20.<br><br><br>
                21.
              </div><!--col-sm-1-->
              <div class="col-sm-11">
                <div class="row">
                  <div class="col-sm-9">
                    <b>
                      Fishing Distance from Shore:
                    </b>
                  </div>
                  <div class="col-sm-3">
                    miles (Km)<br><br>
                  </div>

                  <div class="col-sm-9">
                    <b>
                      Length of a Fishing Trip:
                    </b>
                  </div>
                  <div class="col-sm-3">
                    day (s)<br><br>
                  </div>

                  <div class="col-sm-3">
                    <b>Fish Storage:</b>
                  </div>
                  <div class="col-sm-3">
                    [ ]-On Deck
                  </div>
                  <div class="col-sm-3">
                    [ ]-Insulated Box
                  </div>
                  <div class="col-sm-3">
                    [ ]-Fish/Ice Hold<br><br>
                  </div>

                  <div class="col-sm-12">
                    <b>Dimensions of Fish Storage:</b>
                    [ metres ] [ feet ]<br>
                    <table class="table black-border">
                      <tr>
                        <td>Length<br><br></td>
                        <td>Width</td>
                        <td>Height</td>
                      </tr>
                      <tr>
                        <td>Thickness<br><br></td>
                        <td>Capacity</td>
                        <td>Material</td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>Proposed Operating Site</b><br>
                    <table class="table black-border">
                      <tr>
                        <td>(1):<br><br></td>
                        <td>(2):</td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>Mooring Site or Home Port:</b> ...<br><br>
                  </div>

                  <div class="col-sm-12">
                    <b>Target Species:</b>
                    [ ]-Dolphin
                    [ ]-Flying Fish
                    [ ]-Tuna
                    [ ]-Reef Fish<br>
                    Other: ...<br><br>
                  </div>

                  <div class="col-sm-12">
                    <b>Fishing Gear:</b>
                    [ ]-Long Line
                    [ ]-Gill Net
                    [ ]-Pots
                    [ ]-Hand Lines<br>
                    Other ...<br><br>
                  </div>

                  <div class="col-sm-12">
                    <b>Main Purpose of Fishing:</b><br>
                    [ ]-To Sell the Fish Caught
                    [ ]-Recreation
                    [ ]-Personal Consumption
                  </div>
                </div><!--row-->
              </div><!--col-sm-11-->
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <th class="no-top-cell no-right-cell no-left-cell" colspan="2">
            I/We hereby submit this application to have the vessel mentioned above registration in accordance with the requirements of the Fisheries Act [ CAP 391 ] Section 19. I/We also declare all of the above information to be true.
          </th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (1))
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (2))
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (3))
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (4) / Agent)
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <!--NEXT PAGE-->

  <div class="row">
    <div class="col-sm-1">
      <p>
        Note:<br>
        1.<br><br>
        2.
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <p>
        To register or licence a fishing vessel may be denied where the proposed owner(s) is/are not a citizen(s) of Barbados or permanent resident(s) of Barbados within the meaning of the Immigration Act.
        <br>
        To register a fishing vessel you must submit proof of (a) Citizenship and (b) proof of Ownership of the vessel.
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th class="center-align">
            OFFICIAL USE
          </th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-2">
                1. Proof of ownership verified.<br>
                2. Citizenship requirement satisfied.<br>
                3. Owner(s) and agent(s) registered.<br>
                4. Vessel can be used as a local fishing vessel.<br>
                5. Vessel passed inspection.<br>
                6. Recommended for registration and licensing.<br><br>
              </div><!--col-sm-8 col-sm-offset-2-->
              <div class="col-sm-2" align="right">
                YES - NO<br>
                YES - NO<br>
                YES - NO<br>
                YES - NO<br>
                YES - NO<br>
                YES - NO
              </div><!--col-sm-2-->

              <div class="col-sm-3 col-sm-offset-2">
                7. Class of vessel.
              </div><!--col-sm-4 col-sm-offset-2-->
              <div class="col-sm-5" align="right">
                1. (1-6m) - 2. (6-12m) - 3. (12-20m)
              </div>

              <div class="col-sm-12">
                Comments: ... <br><br><br><br>
              </div><!--col-sm-12-->

              <div class="col-sm-5 col-sm-offset-2">
                Inspector: ...
              </div>
              <div class="col-sm-3">
                Date: ... <br><br><br>
              </div>

              <div class="col-sm-12">
                Remarks: ... <br><br><br><br><br><br><br><br><br><br><br><br>
              </div>

              <div class="col-sm-8">
                Assigned registration number: ...<br><br>
              </div>
              <div class="col-sm-4">
                Hull No: ...<br><br>
              </div>

              <div class="col-sm-3">
                Registration approved. YES - NO
              </div>
              <div class="col-sm-6" align="center">
                <br>
                <b><i>Chief Fisheries Officer</i></b>
              </div>
              <div class="col-sm-3" align="center">
                <br>
                <b><i>Date</i></b>
              </div>
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
</body>
</html>