<div>
	<div class="row">
		<div class="col-sm-offset-5 col-sm-2">
			<div align="center">
				<img src="/Forms/img/logos/fishery-division.png" class="img-responsive">
			</div><br>
		</div><!--col-sm-2-->
	</div><!--row-->
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h5 align="center">
				FICHERIES DIVISION<br>
				Princess Alice Highway, Bridgetown<br>
				Tel: 426-3745 or 426-5973, Fax: 436-9068<br>
				www.agriculture.gov.bb
			</h5>
			<h4 align="center"><b>
				APPLICATION FOR<br>
				REGISTRATION OF A FICHERIES WORKER
			</b></h4>
			<h5 align="center">
				PLEASE FOLLOW THESE INSTRUCTIONS:
			</h5>
			<h5>
				* Use <b>BLOCK LETTERS</b>, except for signature.<br>
				* Submit Barbados ID card, National Insurance Card and Passport when registering<br>
				* Non national must provide a valid work permit related to the role(s) in the fishing industry<br>
				* Fill out all sections and submit all required documents that relate to your role(s) in the fishing industry<br>
				* (H)-Home, (W)-Work, (C)-Cellular, (F)-Fax
			</h5>
		</div><!--col-sm-8 col-sm-8-->
		<div class="col-sm-2">
			<h5 align="right"><b>
				FD13
			</b></h5>
			<table class="black-border" style="width: 100%">
				<tr>
					<th class="center-align">
						Official Use
					</th>
				</tr>
				<tr>
					<th class="center-align">
						File No.
					</th>
				</tr>
				<tr>
					<td><br></td>
				</tr>
				<tr>
					<th class="center-align">
						Fisher No.
					</th>
				</tr>
				<tr>
					<td><br></td>
				</tr>
			</table>
		</div><!--col-sm-2-->
	</div><!--row-->

	<div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

	<!--NEXT PAGE-->


	<div class="row">
		<div class="col-sm-12">
			<p>
				<b><i>
					I declare that the information provided is true and correct
				</i></b>
			</p>
			<p>
				<b>
					Signature of Applicant ... Date (Year) (Month) (Day)
				</b>
			</p>
		</div><!--col-sm-12-->
	</div><!--row-->

</div><!--container-->
