<div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      (LOGO)
      <h5>
        FISHERIES DIVISION<br>
        Princess Alice Highway, Bridgetown<br>
        Tel: 426-3745 or 426-5973, Fax: 436-9068
      </h5>
      <h4><b>
        APPLICATION FOR REGISTRATION OF A PROCESSOR
      </b></h4>
    </div><!--col-sm-8 col-sm-offset-2-->
    <div class="col-sm-2">
      <h5 align="right"><b>
        FD25
      </b></h5>
      <table class="black-border" style="width: 100%">
        <tr>
          <td class="center-align">
            Official Use
          </td>
        </tr>
        <tr>
          <td class="center-align">
            File No.
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
      </table>
    </div><!--col-sm-2-->
  </div><!--row-->

  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p><b><i>
        I declare that the information provided is true and correct.
      </i></b></p>
    </div>

    <div class="col-sm-9">
      <h5><b>
        Signature of Applicant
      </b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>
        Date
      </b></h5>
    </div>
  </div><!--row-->
</div><!--container-->
