<div>
  <div class="row">
    <div class="col-sm-4" align="center">
      (LOGO)
    </div><!--col-sm-4-->
    <div class="col-sm-8">
      <h4>
        Fisheries Division
      </h4>
      <h5>
        Ministry of Agriculture and Rural Development<br>
        Princess Alice Highway<br>
        Bridgetown, Barbados<br>
        Tel.: 246-426-3745 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax: 246-436-9068<br>
        e-mail: fishbarbados@caribsurf.com
      </h5>
    </div><!--col-sm-8-->
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center"><b>
        ATLANTIC SWORDFISH CERTIFICATE OF ELIGIBILITY (COE)
      </b></h4>

      <table class="table black-border no-top-td no-bottom-td">
        <tr class="center-align">
          <td>
            Name of Authorized Officer
          </td>
          <td><b>{{ila.submission.officer.name}}</b></td>
        </tr>
        <tr class="center-align">
          <td>
            Title of Authorized Officer
            <br><br>
          </td>
          <td><b>{{ila.submission.officer.title}}</b></td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        This is to certify that the shipment of swordﬁsh (Xiphias gladius) accompanied by this certiﬁcate consisting of:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</div><!--container-->
