<div>
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2" align="center">
      <img src="/Forms/img/logos/fishery-division.png" class="img-responsive">
    </div><!--col-sm-2-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <h5>
        FISHERIES DIVISION<br>
        Princess Alice Highway, Bridgetown<br>
        Tel: 426-3745 or 426-5973, Fax: 436-9068
      </h5>
      <h4><b>
        APPLICATION FOR REGISTRATION OF A PROCESSOR
      </b></h4>
    </div><!--col-sm-8 col-sm-offset-2-->
    <div class="col-sm-2">
      <h5 align="right"><b>
        FD25
      </b></h5>
      <table class="black-border" style="width: 100%">
        <tr>
          <td class="center-align">
            Official Use
          </td>
        </tr>
        <tr>
          <td class="center-align">
            File No.
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
      </table>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row"><!--COMPANY INFORMATION-->
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th>COMPANY INFORMATION</th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-6">
                Nature of Business:
                <span ng-if="ila.submission.applicant.businessNature=='processor'">[<b>x</b>]</span>
                <span ng-if="ila.submission.applicant.businessNature!='processor'">[  ]</span>
                -Processor
                <span ng-if="ila.submission.applicant.businessNature=='trader'">[<b>x</b>]</span>
                <span ng-if="ila.submission.applicant.businessNature!='trader'">[  ]</span>
                -Trader
              </div><!--col-sm-6-->
              <div class="col-sm-6">
                Customs Registration no.: <b>{{ila.submission.applicant.customsRegistrationNo}}</b><br><br>
              </div><!--col-sm-6-->

              <div class="col-sm-8">
                Company Registration No.: <b>{{ila.submission.applicant.registrationNo}}</b>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Company No. <b>{{ila.submission.applicant.companyNo}}</b><br><br>
              </div><!--col-sm-4-->

              <div class="col-sm-12">
                Processing Plant Licensing No.: <b>{{ila.submission.applicant.processingPlantLicensingNo}}</b>
                <br><br>
                Brand Name: <b>{{ila.submission.applicant.brandName}}</b>
                <br><br>
                Company Name: <b>{{ila.submission.applicant.name}}</b>
                <br><br>
                Mailing Address: <b>{{ila.submission.applicant.address}}</b>
                <br><br><br>
              </div>

              <div class="col-sm-8">
                Company Tel: <b>{{ila.submission.applicant.phone}}</b>
              </div>
              <div class="col-sm-4">
                Fax: <b>{{ila.submission.applicant.fax}}</b><br><br>
              </div>

              <div class="col-sm-12">
                Email Address: <b>{{ila.submission.applicant.email}}</b>
                <br><br>
                CEO / Directors: <b>{{ila.submission.applicant.directors}}</b>
                <br><br><br>
                Contact Person: <b>{{ila.submission.applicant.contact.name}}</b>
                <br><br>
                Mailing Address: <b>{{ila.submission.applicant.contact.address}}</b>
                <br><br><br>
              </div>

              <div class="col-sm-3">
                Tel: (H): <b>{{ila.submission.applicant.contact.home_phone}}</b>
              </div>
              <div class="col-sm-3">
                (W): <b>{{ila.submission.applicant.contact.work_phone}}</b>
              </div>
              <div class="col-sm-3">
                (C): <b>{{ila.submission.applicant.contact.mobile_phone}}</b>
              </div>
              <div class="col-sm-3">
                (F): <b>{{ila.submission.applicant.contact.fax}}</b><br><br>
              </div>

              <div class="col-sm-12">
                Email Address: <b>{{ila.submission.applicant.contact.email}}</b>
              </div>
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--STAFF DETAILS-->
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th>STAFF DETAILS</th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr class="active">
                    <th>Staff</th>
                    <th>Total</th>
                    <th>Male</th>
                    <th>Female</th>
                  </tr>
                  <tr ng-repeat="item in form.data.staff.slice(0,5)">
                    <td ng-bind="item.title"></td>
                    <td ng-bind="(item.male+item.female)"></td>
                    <td ng-bind="item.male"></td>
                    <td ng-bind="item.female"></td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr class="active">
                    <th>Other Staff</th>
                    <th>Total</th>
                    <th>Male</th>
                    <th>Female</th>
                  </tr>
                  <tr ng-repeat="item in form.data.staff.slice(5)">
                    <td ng-bind="item.title"></td>
                    <td ng-bind="(item.male+item.female)"></td>
                    <td ng-bind="item.male"></td>
                    <td ng-bind="item.female"></td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <!--NEXT PAGE-->

  <div class="row">
    <div class="col-sm-6">
      <table class="table black-border">
        <tr>
          <td>
            <table class="table black-border">
              <tr class="active">
                <th colspan="3">
                  Source of Fish:
                </th>
              </tr>
              <tr class="active">
                <th>Boat's Reg. No.</th>
                <th>Boat Type</th>
                <th>Landing Sites</th>
              </tr>
              <tr>
                <tr ng-repeat="item in form.data.fishSource">
                  <td ng-bind="item.boatRegistrationNo"></td>
                  <td ng-bind="item.boatType"></td>
                  <td ng-bind="item.landingSites"></td>
                </tr>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th>Fish Source</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>Locally</td>
                <td class="right-align"><b>{{ila.submission.fish.locally}}%</b></td>
              </tr>
              <tr>
                <td>Imported</td>
                <td class="right-align"><b>{{ila.submission.fish.imported}}%</b></td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th colspan="3">
                  Amount of Fish Purchased Locally:
                </th>
              </tr>
              <tr class="active">
                <th>Species</th>
                <th>lbs</th>
                <th>tons</th>
              </tr>
              <tr ng-repeat="item in form.data.fishPurchasedLocally">
                <td ng-bind="item.species"></td>
                <td ng-bind="item.lbs"></td>
                <td ng-bind="item.tons"></td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th colspan="3">
                  Amount of Fish Purchase Imported Annualy:
                </th>
              </tr>
              <tr class="active">
                <th>Species</th>
                <th>lbs</th>
                <th>tons</th>
              </tr>
              <tr ng-repeat="item in form.data.fishPurchasedImported">
                <td ng-bind="item.species"></td>
                <td ng-bind="item.lbs"></td>
                <td ng-bind="item.tons"></td>
              </tr>
            </table>

            <h5>
              <b><u>
                Method of Offal Disposal:
              </u></b>
            </h5>
          </td>
        </tr>
      </table>
    </div><!--col-sm-6-->
    <div class="col-sm-6">
      <table class="table black-border">
        <tr>
          <td>
            <table class="table black-border">
              <tr class="active">
                <th>Fish Sold</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>Locally</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.total}}%</b></td>
              </tr>
              <tr>
                <td>Exported</td>
                <td class="right-align"><b>{{ila.submission.fishSold.exported.total}}%</b></td>
              </tr>
              <tr>
                <td>Spoilage</td>
                <td class="right-align"><b>{{ila.submission.fishSold.spoilage.total}}%</b></td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th>Break Down of Fish Sold Locally:</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>Super Markets</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.superMarkets}}%</b></td>
              </tr>
              <tr>
                <td>Mini Marts</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.miniMarts}}%</b></td>
              </tr>
              <tr>
                <td>Hotels</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.hotels}}%</b></td>
              </tr>
              <tr>
                <td>Restaurants</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.restaurants}}%</b></td>
              </tr>
              <tr>
                <td>Vendors</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.vendors}}%</b></td>
              </tr>
              <tr>
                <td>Hawkers</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.hawkers}}%</b></td>
              </tr>
              <tr>
                <td>General Public</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.generalPublic}}%</b></td>
              </tr>
              <tr>
                <td>Public Institutions</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.publicInstitutions}}%</b></td>
              </tr>
              <tr>
                <td>Hospitals</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.hospitals}}%</b></td>
              </tr>
              <tr>
                <td>Schools</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.schools}}%</b></td>
              </tr>
              <tr>
                <td>Other</td>
                <td class="right-align"><b>{{ila.submission.fishSold.locally.other}}%</b></td>
              </tr>
            </table>

            <table class="table black-border">
              <tr class="active">
                <th>Break Down of Fish Exported:</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>In Region</td>
                <td class="right-align"><b>{{ila.submission.fishSold.exported.inRegion}}%</b></td>
              </tr>
              <tr>
                <td>Out of Region</td>
                <td class="right-align"><b>{{ila.submission.fishSold.exported.outRegion}}%</b></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table class="table black-border">
        <tr class="active">
          <th colspan="2">
            COMPANY EQUIPMENT
          </th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-12">
                <p><u>Freezer Type:</u></p>
                <p>
                  <span ng-if="ila.submission.equipment.freezerType.blast">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.freezerType.blast">[  ]</span>
                  -Blast</p>
                <p>
                  <span ng-if="ila.submission.equipment.freezerType.contact">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.freezerType.contact">[  ]</span>
                  -Contact</p>
                <p>
                  <span ng-if="ila.submission.equipment.freezerType.capacityUnitFreeze">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.freezerType.capacityUnitFreeze">[  ]</span>
                  -Capacity per Unit Freeze</p>
                <br>
                <p><u>Cold Store:</u></p>
                <p>
                  <span ng-if="ila.submission.equipment.coldStore.owned">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.coldStore.owned">[  ]</span>
                  -Owned</p>
                <p>
                  <span ng-if="ila.submission.equipment.coldStore.rented">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.coldStore.rented">[  ]</span>
                  -Rented</p>
                <br>
                <p><u>Capacity of Chiller:</u><br>
                  <b>{{ila.submission.equipment.capacityChiller}}</b>
                </p>
                <br>
                <p><u>Cold Storage:</u><br>
                  <b>{{ila.submission.equipment.coldStorage}}</b>
                </p>
                <br>
              </div><!--col-sm-12-->
            </div><!--row-->
          </td>
          <td>
            <div class="row">
              <div class="col-sm-12">
                <p><u>Other Specialising Equipment:</u></p>
                <p>
                  <span ng-if="ila.submission.equipment.otherEquipment.filletingMachine">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.otherEquipment.filletingMachine">[  ]</span>
                  -Filleting Machine</p>
                <p>
                  <span ng-if="ila.submission.equipment.otherEquipment.fishWasher">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.otherEquipment.fishWasher">[  ]</span>
                  -Fish Washer</p>
                <p>
                  <span ng-if="ila.submission.equipment.otherEquipment.pattyFormer">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.otherEquipment.pattyFormer">[  ]</span>
                  -Patty Former</p>
                <p>
                  <span ng-if="ila.submission.equipment.otherEquipment.iceMachine">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.otherEquipment.iceMachine">[  ]</span>
                  -Ice Machine</p>
                <p>
                  <span ng-if="ila.submission.equipment.otherEquipment.other">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.otherEquipment.other">[  ]</span>
                  -Other</p>
                <br>
                <p><u>Method of Fish Transport:</u></p>
                <p>
                  <span ng-if="ila.submission.equipment.methodFishTransport.van">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.methodFishTransport.van">[  ]</span>
                  -Van</p>
                <p>
                  <span ng-if="ila.submission.equipment.methodFishTransport.refrigerateTruck">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.methodFishTransport.refrigerateTruck">[  ]</span>
                  -Refrigerate Truck/Van</p>
                <p>
                  <span ng-if="ila.submission.equipment.methodFishTransport.flatBadTruck">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.methodFishTransport.flatBadTruck">[  ]</span>
                  -Flat-bad Truck</p>
                <p>
                  <span ng-if="ila.submission.equipment.methodFishTransport.other">[<b>x</b>]</span>
                  <span ng-if="!ila.submission.equipment.methodFishTransport.other">[  ]</span>
                  -Other</p>
              </div><!--col-sm-12-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-6-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p><b><i>
        I declare that the information provided is true and correct.
      </i></b></p>
    </div>

    <div class="col-sm-9">
      <h5><b>
        <b>{{ila.submission.applicant.name}}</b><br>
        Signature of Applicant
      </b></h5>
    </div>
    <div class="col-sm-3">
      <h5><b>
        Date: <b>{{ila.submission.issuedDate  | date:'dd/MM/yyyy'}}</b>
      </b></h5>
    </div>
  </div><!--row-->
</div><!--container-->
