<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atlantic Swordfish Certificate of Elegibility (COE)</title>
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="custom.css">

  <script src="bootstrap-3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="col-sm-4" align="center">
      (LOGO)
    </div><!--col-sm-4-->
    <div class="col-sm-8">
      <h4>
        Fisheries Division
      </h4>
      <h5>
        Ministry of Agriculture and Rural Development<br>
        Princess Alice Highway<br>
        Bridgetown, Barbados<br>
        Tel.: 246-426-3745 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax: 246-436-9068<br>
        e-mail: fishbarbados@caribsurf.com
      </h5>
    </div><!--col-sm-8-->
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center"><b>
        ATLANTIC SWORDFISH CERTIFICATE OF ELIGIBILITY (COE)
      </b></h4>

      <table class="table black-border no-top-td no-bottom-td">
        <tr class="center-align">
          <td>
            Name of Authorized Officer
          </td>
          <td></td>
          <td class="no-bottom-cell">
            Date<br>
            / &nbsp;&nbsp;&nbsp; /
          </td>
          <td class="no-bottom-cell">
            Certificate no:
          </td>
        </tr>
        <tr class="center-align">
          <td>
            Title of Authorized Officer
            <br><br>
          </td>
          <td></td>
          <td class="no-top-cell">
            DD/MM/YY
          </td>
          <td class="no-top-cell"></td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        This is to certify that the shipment of swordﬁsh (Xiphias gladius) accompanied by this certiﬁcate consisting of:
      </p>

      <table class="table black-border">
        <tr>
          <td>
            Total weight (lb / kg)
            <br><br>
          </td>
          <td></td>
          <td>
            Number of packages
          </td>
          <td></td>
          <td>
            Description of packages
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            Bearing the following marks:
            <br><br>
          </td>
          <td colspan="3"></td>
        </tr>
      </table>

      <table class="table black-border">
        <tr>
          <td></td>
          <td>(A)</td>
          <td>
            Contains no swordﬁsh harvested from the Atlantic Ocean
          </td>
        </tr>
        <tr>
          <td></td>
          <td>(B)</td>
          <td>
            Contains no swordﬁsh or pieces of swordﬁsh harvested from the Atlantic Ocean that are less than 33 lb (15 kg)
          </td>
        </tr>
        <tr>
          <td></td>
          <td>(C)</td>
          <td>
            Contains pieces of swordﬁsh harvested from the Atlantic Ocean that are less than 33 lb (15 kg) dressed weight.
          </td>
        </tr>
      </table>

      <p>
        This further certifies that such swordﬁsh were caught in the waters of the Atlantic Ocean by a vessel subject to the jurisdiction of ...
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <br><br><br><br>
      <h5>
        Signature of Authorized Officer
      </h5>
      <br><br><br>
      <table class="table black-border">
        <tr>
          <td>
            Form 7501 Entry Number
            <i>(to be added by importer)</i>
          </td>
        </tr>
        <tr>
          <td><br><br></td>
        </tr>
      </table>
    </div><!--col-sm-6-->
    <div class="col-sm-6">
      <table class="table black-border">
        <tr>
          <td class="center-align">
            <br><br><br><br><br><br><br><br>
            <i>Official stamp</i>
            <br><br><br><br>
          </td>
        </tr>
      </table>
    </div><!--col-sm-6-->
  </div><!--row-->
</div><!--col-sm-10 col-sm-offset-1-->
</div><!--row-->
</div><!--container-->
</body>
</html>