<div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div align="center">(LOGO)</div><br>
			<h5 align="center">
				FICHERIES DIVISION<br>
				Princess Alice Highway, Bridgetown<br>
				Tel: 426-3745 or 426-5973, Fax: 436-9068<br>
				www.agriculture.gov.bb
			</h5>
			<h4 align="center"><b>
				APPLICATION FOR<br>
				REGISTRATION OF A FICHERIES WORKER
			</b></h4>
			<h5 align="center">
				PLEASE FOLLOW THESE INSTRUCTIONS:
			</h5>
			<h5>
				* Use <b>BLOCK LETTERS</b>, except for signature.<br>
				* Submit Barbados ID card, National Insurance Card and Passport when registering<br>
				* Non national must provide a valid work permit related to the role(s) in the fishing industry<br>
				* Fill out all sections and submit all required documents that relate to your role(s) in the fishing industry<br>
				* (H)-Home, (W)-Work, (C)-Cellular, (F)-Fax
			</h5>
		</div><!--col-sm-8 col-sm-8-->
		<div class="col-sm-2">
			<h5 align="right"><b>
				FD13
			</b></h5>
			<table class="black-border" style="width: 100%">
				<tr>
					<th class="center-align">
						Official Use
					</th>
				</tr>
				<tr>
					<th class="center-align">
						File No.
					</th>
				</tr>
				<tr>
					<td><br></td>
				</tr>
				<tr>
					<th class="center-align">
						Fisher No.
					</th>
				</tr>
				<tr>
					<td><br></td>
				</tr>
			</table>
		</div><!--col-sm-2-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border">
				<tr>
					<th>
						CONTACT INFORMATION
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-12">
								Application name: <b>{{ila.submission.applicant.lastname}} {{ila.submission.applicant.middlename}} {{ila.submission.applicant.firstname}}</b>
							</div><!--class="col-sm-12-->
							<br><br>

							<div class="col-sm-6">
								Nicknames: <b>{{ila.submission.applicant.nickname}}</b>
							</div><!--col-sm-6-->
							<div class="col-sm-6">
								Email address: <b>{{ila.submission.applicant.email}}</b>
							</div><!--col-sm-6-->
							<br><br>

							<div class="col-sm-12">
								Mailing address: <b>{{ila.submission.applicant.address}}</b><br>
							</div>
							<br><br><br>

							<div class="col-sm-3">
								Tel: (H): <b>{{ila.submission.applicant.home_phone}}</b>
							</div>
							<div class="col-sm-3">
								(W): <b>{{ila.submission.applicant.work_phone}}</b>
							</div>
							<div class="col-sm-3">
								(C): <b>{{ila.submission.applicant.mobile_phone}}</b>
							</div>
							<div class="col-sm-3">
								(F): <b>{{ila.submission.applicant.fax}}</b>
							</div>
						</div><!--row-->
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border">
				<tr>
					<th colspan="4">
						PERSONAL DETAILS
					</th>
				</tr>
				<tr>
					<td>
						National registration no.:<br>
						<b>{{ila.submission.applicant.nationalRegistrationNumber}}</b><br><br>
						National insurance no.:<br><b>{{ila.submission.applicant.nationalInsuranceNumber}}</b><br>
						Date of birth: <b>{{ila.submission.applicant.birthDate}}</b><br><br>
						Country of birth: <b>{{ila.submission.applicant.birthCountry}}</b><br><br>
						Nationality:<b>{{ila.submission.applicant.nationality}}</b><br>
					</td>
					<td>
						<table class="table no-border-th no-bottom-th no-top-th">
							<tr>
								<td class="th-top">
									Sex:<br>
									<span ng-if="ila.submission.applicant.gender == 'male'">
										<b>X</b> - Male<br>
										_ - Female
									</span>
									<span ng-if="ila.submission.applicant.gender == 'female'">
										_ - Male<br>
										<b>X</b> - Female
									</span>
								</td>
							</tr>
							<tr>
								<td>
									Marital status:<br>
									<span ng-if="ila.submission.applicant.maritalStatus == 'single'">
										<b>X</b> - Single<br>
										_ - Married
									</span>
									<span ng-if="ila.submission.applicant.maritalStatus == 'married'">
										_ - Single<br>
										<b>X</b> - Married
									</span>
								</td>
							</tr>
							<tr>
								<td>
									No. Dependents:<br>
									<b>{{ila.submission.applicant.numberDependents}}</b>
									<br>
								</td>
							</tr>
						</table>
					</td>
					<td>
						Training institutions:<br>
						<span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('elementary') == -1">_ - </span>
		        <span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('elementary') > -1"><b>X</b> - </span>
						Elementary / Primary<br>
						<span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('secondary') == -1">_ - </span>
		        <span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('secondary') > -1"><b>X</b> - </span>
						Secondary<br>
						<span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('polytechnic') == -1">_ - </span>
		        <span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('polytechnic') > -1"><b>X</b> - </span>
						Polytechnic<br>
						<span ng-if="ila.submission.trainingInstitutions.applicant.indexOf('college') == -1">_ - </span>
		        <span ng-if="ila.submission.trainingInstitutions.applicant.indexOf('college') > -1"><b>X</b> - </span>
						College<br>
						<span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('university') == -1">_ - </span>
		        <span ng-if="ila.submission.applicant.trainingInstitutions.indexOf('university') > -1"><b>X</b> - </span>
						University
					</td>
					<td>
						Qualifications:<br>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('o_level') == -1">_ - </span>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('o_level') > -1"><b>X</b> - </span>
						O' Level<br>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('a_level') == -1">_ - </span>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('a_level') > -1"><b>X</b> - </span>
						A' Level<br>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('gce') == -1">_ - </span>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('gce') > -1"><b>X</b> - </span>
						GCE<br>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('city_guilds') == -1">_ - </span>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('city_guilds') > -1"><b>X</b> - </span>
						City & Guilds<br>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('diploma') == -1">_ - </span>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('diploma') > -1"><b>X</b> - </span>
						Diploma<br>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('associate_degree') == -1">_ - </span>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('associate_degree') > -1"><b>X</b> - </span>
						Associate Degree<br>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('none') == -1">_ - </span>
						<span ng-if="ila.submission.applicant.qualifications.indexOf('none') > -1"><b>X</b> - </span>
						None
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border">
				<tr>
					<th>
						PASSPORT INFORMATION
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-12">
								Passport No.: <b>{{ila.submission.applicant.passport}}</b>
								<br><br>
							</div><!--col-sm-12-->
							<div class="col-sm-6">
								Passport origin: <b>{{ila.submission.applicant.passportOrigin}}</b><br><br>
								Place issued: <b>{{ila.submission.applicant.passportPlaceIssued}}</b>
							</div><!--col-sm-6-->
							<div class="col-sm-6">
								Date issued: <b>{{ila.submission.applicant.passportDateIssued}}</b><br><br>
								Date expires: <b>{{ila.submission.applicant.passportDateExpires}}</b>
							</div><!--col-sm-6-->
						</div><!--row-->
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border">
				<tr>
					<th>
						EMERGENCY CONTACT
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-12">
								Name: <b>{{ila.submission.applicant.contact.name}}</b><br><br>
								Address: <b>{{ila.submission.applicant.contact.address}}</b><br><br>
							</div><!--col-sm-12-->
							<div class="col-sm-3">
								Relation: <b>{{ila.submission.applicant.contact.relationship}}</b>
							</div><!--col-sm-3-->
							<div class="col-sm-3">
								Tel: (H): <b>{{ila.submission.applicant.contact.home_phone}}</b>
							</div><!--col-sm-3-->
							<div class="col-sm-3">
								(W): <b>{{ila.submission.applicant.contact.work_phone}}</b>
							</div><!--col-sm-3-->
							<div class="col-sm-3">
								(C): <b>{{ila.submission.applicant.contact.mobile_phone}}</b>
							</div><!--col-sm-3-->
						</div><!--row-->
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->

	<!--NEXT PAGE-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border"><!--FISHERIES RELATED ACTIVITY DETAILS-->
				<tr>
					<th>
						FISHERIES RELATED ACTIVITY DETAILS
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-8">
								Fisher organisation: <b>{{ila.submission.fishery_activities.organisation}}</b>
							</div><!--col-sm-9-->
							<div class="col-sm-4">
								Member No.: <b>{{ila.submission.fishery_activities.memberNo}}</b>
							</div><!--col-sm-3-->
							<br><br>

							<div class="col-sm-8">
								How long have you been involved in fisheries related activities: <b>{{ila.submission.fishery_activities.time_involved}}</b> <br>
							</div><!--col-sm-8-->
							<div class="col-sm-4">
								Proportion of time:</b> <br>
								<span ng-if="ila.submission.fishery_activities.proportionTime == 'full'">
									&nbsp;&nbsp; <b>X</b> - Full Time
									&nbsp;&nbsp; _ - Part Time
								</span>
								<span ng-if="ila.submission.fishery_activities.proportionTime == 'partial'">
									&nbsp;&nbsp; _ - Full Time
									&nbsp;&nbsp; <b>X</b> - Part Time
								</span>
							</div><!--col-sm-3-->
							<br><br>

							<div class="col-sm-12">
								Reasons for entering the industry: <b>{{ila.submission.fishery_activities.reasonOnIndustry}}</b>
							</div><!--col-sm-12-->
							<br><br>

							<div class="col-sm-8">
								Do you have other relatives in the industry:
								<span ng-if="ila.submission.fishery_activities.relatives">
									&nbsp;&nbsp; <b>X</b> - Yes
									&nbsp;&nbsp; _ - No
								</span>
								<span ng-if="!ila.submission.fishery_activities.relatives">
									&nbsp;&nbsp; _ - Yes
									&nbsp;&nbsp; <b>X</b> - No
								</span>
							</div><!--col-sm-7-->
							<div class="col-sm-4">
								Number of relatives: <b>{{ila.submission.fishery_activities.numberRelatives}}</b>
							</div><!--col-sm-5-->
							<br><br>

							<div class="col-sm-12">
								State relationship: <b>{{ila.submission.fishery_activities.stateRelationship}}</b>
							</div><!--col-sm-12-->
							<br><br>

							<div class="col-sm-7">
								<b>Form of transportation:</b> <br>
								<span ng-if="ila.submission.fishery_activities.formTransportation == 'truck'">
									<b>X</b> - Truck &nbsp;&nbsp;
									_ - Van &nbsp;&nbsp;
									_ - Car &nbsp;&nbsp;
									_ - Bicycle &nbsp;&nbsp;
									_ - None
								</span>
								<span ng-if="ila.submission.fishery_activities.formTransportation == 'van'">
									_ - Truck &nbsp;&nbsp;
									<b>X</b> - Van &nbsp;&nbsp;
									_ - Car &nbsp;&nbsp;
									_ - Bicycle &nbsp;&nbsp;
									_ - None
								</span>
								<span ng-if="ila.submission.fishery_activities.formTransportation == 'car'">
									_ - Truck &nbsp;&nbsp;
									_ - Van &nbsp;&nbsp;
									<b>X</b> - Car &nbsp;&nbsp;
									_ - Bicycle &nbsp;&nbsp;
									_ - None
								</span>
								<span ng-if="ila.submission.fishery_activities.formTransportation == 'bicycle'">
									_ - Truck &nbsp;&nbsp;
									_ - Van &nbsp;&nbsp;
									_ - Car &nbsp;&nbsp;
									<b>X</b> - Bicycle &nbsp;&nbsp;
									_ - None
								</span>
								<span ng-if="ila.submission.fishery_activities.formTransportation == 'none'">
									_ - Truck &nbsp;&nbsp;
									_ - Van &nbsp;&nbsp;
									_ - Car &nbsp;&nbsp;
									_ - Bicycle &nbsp;&nbsp;
									<b>X</b> - None
								</span>
								<br><br>
							</div><!--col-sm-7-->
							<div class="col-sm-5">
								Any other occupation:<br>
								<b>{{ila.submission.fishery_activities.otherOccupation}}</b>
							</div><!--col-sm-5-->
							<br><br>
						</div><!--row-->

						<div class="row">
							<div class="col-sm-3">
								<table class="no-top-td no-bottom-td no-left-td"
									style="width: 100%;"
								>
									<tr>
										<th class="no-top-cell no-bottom-cell no-left-cell">
											Role(s) in Industry:
										</th>
										<th class="center-align" style="width: 30%;">
											Year Started
										</th>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.boat_owner.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.boat_owner.value">_ - </span>
											BOAT OWNER
										</td>
										<td align="center"><b>{{ila.submission.fishery_activities.roles.boat_owner.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.boat_agent.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.boat_agent.value">_ - </span>
											BOAT AGENT
										</td>
										<td align="center"><b>{{ila.submission.fishery_activities.roles.boat_agent.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.captain.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.captain.value">_ - </span>
											CAPTAIN
										</td>
										<td align="center"><b>{{ila.submission.fishery_activities.roles.captain.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.fisherman.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.fisherman.value">_ - </span>
											FISHERMAN
										</td>
										<td align="center"><b>{{ila.submission.fishery_activities.roles.fisherman.years}}</b></td>
									</tr>
								</table>
								<br>

								<table class="no-top-td no-bottom-td no-left-td"
									style="width: 100%;"
								>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.aquaculturist.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.aquaculturist.value">_ - </span>
											AQUACULTURIST
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.aquaculturist.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.processor.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.processor.value">_ - </span>
											PROCESSOR
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.processor.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.boner.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.boner.value">_ - </span>
											BONER
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.boner.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.skinner.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.skinner.value">_ - </span>
											SKINNER
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.skinner.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.vendor.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.vendor.value">_ - </span>
											VENDOR
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.vendor.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.hawker.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.hawker.value">_ - </span>
											HAWKER
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.hawker.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.wholesaler.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.wholesaler.value">_ - </span>
											WHOLESALER
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.wholesaler.years}}</b></td>
									</tr>
								</table>
								<br>

								<table class="no-top-td no-bottom-td no-left-td"
									style="width: 100%;"
								>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.electrician.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.electrician.value">_ - </span>
											ELECTRICIAN
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.electrician.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.mechanic.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.mechanic.value">_ - </span>
											MECHANIC
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.mechanic.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.technician.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.technician.value">_ - </span>
											TECHNICIAN
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.technician.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.welder.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.welder.value">_ - </span>
											WELDER
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.welder.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.boat_painter.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.boat_painter.value">_ - </span>
											BOAT PAINTER
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.boat_painter.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.boat_builder.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.boat_builder.value">_ - </span>
											BOAT BUILDER
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.boat_builder.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.shipwright.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.shipwright.value">_ - </span>
											SHIPWRIGHT
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.shipwright.years}}</b></td>
									</tr>
									<tr>
										<td class="no-top-cell no-bottom-cell no-left-cell">
											<span ng-if="ila.submission.fishery_activities.roles.surveyor.value"><b>X</b> - </span>
											<span ng-if="!ila.submission.fishery_activities.roles.surveyor.value">_ - </span>
											SURVEYOR
										</td>
										<td style="width: 30%;" align="center"><b>{{ila.submission.fishery_activities.roles.surveyor.years}}</b></td>
									</tr>
								</table>
							</div><!--col-sm-3-->
							<div class="col-sm-9">
								<table class="table black-border no-left-td">
									<tr>
										<td class="no-left-cell">
											<div class="row">
												<div class="col-sm-12">
													<h5 align="center"><b>
														Vessel(s) Applicant is Working On or Associated With:
													</b></h5>
												</div><!--col-sm-12-->
											</div><!--row-->

											<div class="row">
												<div class="col-sm-12">
													<table style="width: 100%;">
														<tr>
															<th class="center-align">
																Reg. No.
															</th>
															<th class="center-align">
																Type of Vessel
															</th>
															<th class="center-align">
																Mooring Site
															</th>
															<th class="center-align">
																Landing Site
															</th>
															<th class="center-align">
																Role on Vessel
															</th>
														</tr>
														<tr ng-repeat="item in ila.submission.workVessels">
															<td ng-bind="item.registrationNo"></td>
															<td ng-bind="item.typeVessel"></td>
															<td ng-bind="item.mooringSite"></td>
															<td ng-bind="item.landingSite"></td>
															<td ng-bind="item.role"></td>
														</tr>
													</table>
													<br>

													<table class="table">
														<tr>
															<td>
																<div class="row">
																	<div class="col-sm-12">
																		Company name: <br>
																		<b>{{ila.submission.fishery_activities.companyName}}</b>
																		<br><br><br>
																		Operating site(s):<br>
																		 _ - Home
																		 _ - Market
																		<br><br>
																		(1) <b>{{ila.submission.fishery_activities.operatingSites1}}</b>
																		<br><br>
																		(2) <b>{{ila.submission.fishery_activities.operatingSites2}}</b>
																	</div><!--col-sm-12-->
																</div><!--row-->
															</td>
															<td>
																<div class="row">
																	<div class="col-sm-12">
																		<b>Related courses done:</b>
																		<br><br>
																		_ - Basic Seaman's
																		<br><br>
																		_ - Fish Handing & Sanitation
																		<br><br>
																		_ - Navigation Training
																		<br><br>
																		_ - Business Management
																		<br><br>
																		Other: <b>{{ila.submission.fishery_activities.otherCourses}}</b>
																	</div><!--col-sm-12-->
																</div><!--row-->
															</td>
															<td>
																<b>L / O</b>
																<br>
																<br>
																<b>{{ila.submission.fishery_activities.localOversea}}</b>
															</td>
														</tr>
													</table>
												</div><!--col-sm-12-->
											</div><!--row-->
										</td>
									</tr>
								</table>
							</div><!--col-sm-9-->
						</div><!--row-->
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-8">
			<table class="table black-border">
				<tr>
					<th colspan="4">
						<div class="row">
							<div class="col-sm-2">
								Species:
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								<span ng-if="ila.submission.fishery_activities.species.indexOf('none') == -1">_ - </span>
				        <span ng-if="ila.submission.fishery_activities.species.indexOf('none') > -1"><b>X</b> - </span>
								None
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								<span ng-if="ila.submission.fishery_activities.species.indexOf('caught') == -1">_ - </span>
				        <span ng-if="ila.submission.fishery_activities.species.indexOf('caught') > -1"><b>X</b> - </span>
								Caught
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								<span ng-if="ila.submission.fishery_activities.species.indexOf('farmed') == -1">_ - </span>
				        <span ng-if="ila.submission.fishery_activities.species.indexOf('farmed') > -1"><b>X</b> - </span>
								Farmed
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								<span ng-if="ila.submission.fishery_activities.species.indexOf('processed') == -1">_ - </span>
				        <span ng-if="ila.submission.fishery_activities.species.indexOf('processed') > -1"><b>X</b> - </span>
								Processed
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								<span ng-if="ila.submission.fishery_activities.species.indexOf('retailed') == -1">_ - </span>
				        <span ng-if="ila.submission.fishery_activities.species.indexOf('retailed') > -1"><b>X</b> - </span>
								Retailed
							</div><!--col-sm-2-->
						</div><!--row-->
					</th>
				</tr>
				<tr>
					<td>
						<h5 align="center"><u><i>
							Offshore Pelagics
						</i></u></h5>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('swordfish') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('swordfish') > -1"><b>X</b> - </span>
						SWORDFISH<br>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('kingfish') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('kingfish') > -1"><b>X</b> - </span>
						KINGFISH<br>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('billfish') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('billfish') > -1"><b>X</b> - </span>
						BILLFISH<br>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('tuna') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('tuna') > -1"><b>X</b> - </span>
						TUNA<br>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('shark') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('shark') > -1"><b>X</b> - </span>
						SHARK<br>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('dolphin') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('dolphin') > -1"><b>X</b> - </span>
						DOLPHIN<br>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('flying_fish') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.offshore.indexOf('flying_fish') > -1"><b>X</b> - </span>
						FLYING FISH
					</td>
					<td>
						<h5 align="center"><u><i>
							Coastal Pelagics
						</i></u></h5>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('bait_fish') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('bait_fish') > -1"><b>X</b> - </span>
						BAIT FISH<br>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('cavally') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('cavally') > -1"><b>X</b> - </span>
						CAVALLY<br>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('jacks') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('jacks') > -1"><b>X</b> - </span>
						JACKS<br>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('blowgoat') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('blowgoat') > -1"><b>X</b> - </span>
						BLOWGOAT<br>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('barracuda') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('barracuda') > -1"><b>X</b> - </span>
						BARRACUDA<br>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('bonita') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.coastal.indexOf('bonita') > -1"><b>X</b> - </span>
						BONITA
					</td>
					<td>
						<h5 align="center"><u><i>
							Demersal
						</i></u></h5>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('snapper') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('snapper') > -1"><b>X</b> - </span>
						SNAPPER<br>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('pot_fish') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('pot_fish') > -1"><b>X</b> - </span>
						POT FISH<br>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('ningnings') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('ningnings') > -1"><b>X</b> - </span>
						NINGNINGS<br>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('tilapia') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('tilapia') > -1"><b>X</b> - </span>
						TILAPIA<br>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('ornamental') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.demersal.indexOf('ornamental') > -1"><b>X</b> - </span>
						ORNAMENTAL
					</td>
					<td>
						<h5 align="center"><u><i>
							Non Fin-Fish
						</i></u></h5>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('conch') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('conch') > -1"><b>X</b> - </span>
						CONCH<br>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('sea_eggs') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('sea_eggs') > -1"><b>X</b> - </span>
						SEA EGGS<br>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('lobster') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('lobster') > -1"><b>X</b> - </span>
						LOBSTER<br>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('sea_cat') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('sea_cat') > -1"><b>X</b> - </span>
						SEA CAT<br>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('sea_moss') == -1">_ - </span>
						<span ng-if="ila.submission.fishery_activities.nonfish.indexOf('sea_moss') > -1"><b>X</b> - </span>
						SEA MOSS
					</td>
				</tr>
				<tr>
					<td colspan="4">
						Other: <b>{{ila.submission.fishery_activities.speciesOther}}</b>
					</td>
				</tr>
			</table>
		</div><!--col-sm-8-->
		<div class="col-sm-4">
			<table class="table black-border">
				<tr>
					<th colspan="2">
						Harvesting Gear Used / [ ] - None
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-6">
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('gill-nets') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('gill-nets') > -1"><b>X</b> - </span>
								GILL-NETS
								<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('seine_nets') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('seine_nets') > -1"><b>X</b> - </span>
								SEINE NETS
								<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('cast_nets') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('cast_nets') > -1"><b>X</b> - </span>
								CAST NETS
								<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('dip_nets') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('dip_nets') > -1"><b>X</b> - </span>
								DIP NETS
								<br><br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('traps') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('traps') > -1"><b>X</b> - </span>
								TRAPS
								<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('pots') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('pots') > -1"><b>X</b> - </span>
								POTS
								<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('spear_gun') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('spear_gun') > -1"><b>X</b> - </span>
								SPEAR GUN
							</div><!--col-sm-6-->
							<div class="col-sm-6">
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('hand_lines') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('hand_lines') > -1"><b>X</b> - </span>
								HAND LINES<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('trolling_lines') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('trolling_lines') > -1"><b>X</b> - </span>
								TROLLING LINES<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('long-lines') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('long-lines') > -1"><b>X</b> - </span>
								LONG-LINES<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('brim_lines') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('brim_lines') > -1"><b>X</b> - </span>
								BRIM LINES<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('pillar-stick') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('pillar-stick') > -1"><b>X</b> - </span>
								PILLAR STICK<br>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('rod_reel') == -1">_ - </span>
								<span ng-if="ila.submission.fishery_activities.gear.indexOf('rod_reel') > -1"><b>X</b> - </span>
								ROD & REEL
							</div><!--col-sm-6-->
						</div><!--row-->
					</td>
				</tr>
				<tr>
					<td>
						Other: <b>{{ila.submission.fishery_activities.gearOther}}</b>
					</td>
				</tr>
			</table>
		</div><!--col-sm-4-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<p>
				<b><i>
					I declare that the information provided is true and correct
				</i></b>
			</p>
			<p>
				<b>
					Signature of Applicant: <b>{{ila.submission.applicant.lastname}} {{ila.submission.applicant.middlename}} {{ila.submission.applicant.firstname}}</b>
					Date {{ila.submission.entryDate}}
				</b>
			</p>
		</div><!--col-sm-12-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border">
				<tr>
					<th class="center-align">
						OFFICIAL USE
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-6">
								Comments:
								<br><br>
								Received by: ... Date ...
								<br><br>
								Comments:
								<br><br>
								Application for Registration: Approved [ ] &nbsp;&nbsp;&nbsp; Not Approved [ ]
								<br><br>
								Chief Fisheries Officer: ... Date ...
							</div>
							<div class="col-sm-6">
								<table class="table black-border no-top-td no-right-td no-left-td">
									<tr>
										<td class="no-top-cell no-right-cell no-left-cell">
											Reissue Reason
										</td>
										<td class="no-top-cell no-right-cell no-left-cell">
											Date
										</td>
										<td class="no-top-cell no-right-cell no-left-cell">
											Officer
										</td>
										<td class="no-top-cell no-right-cell no-left-cell">
											Updated
										</td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</table>
							</div>
						</div><!--row-->
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->
</div><!--container-->
