<div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div align="center">(LOGO)</div><br>
			<h5 align="center">
				FICHERIES DIVISION<br>
				Princess Alice Highway, Bridgetown<br>
				Tel: 426-3745 or 426-5973, Fax: 436-9068<br>
				www.agriculture.gov.bb
			</h5>
			<h4 align="center"><b>
				APPLICATION FOR<br>
				REGISTRATION OF A FICHERIES WORKER
			</b></h4>
			<h5 align="center">
				PLEASE FOLLOW THESE INSTRUCTIONS:
			</h5>
			<h5>
				* Use <b>BLOCK LETTERS</b>, except for signature.<br>
				* Submit Barbados ID card, National Insurance Card and Passport when registering<br>
				* Non national must provide a valid work permit related to the role(s) in the fishing industry<br>
				* Fill out all sections and submit all required documents that relate to your role(s) in the fishing industry<br>
				* (H)-Home, (W)-Work, (C)-Cellular, (F)-Fax
			</h5>
		</div><!--col-sm-8 col-sm-8-->
		<div class="col-sm-2">
			<h5 align="right"><b>
				FD13
			</b></h5>
			<table class="black-border" style="width: 100%">
				<tr>
					<th class="center-align">
						Official Use
					</th>
				</tr>
				<tr>
					<th class="center-align">
						File No.
					</th>
				</tr>
				<tr>
					<td><br></td>
				</tr>
				<tr>
					<th class="center-align">
						Fisher No.
					</th>
				</tr>
				<tr>
					<td><br></td>
				</tr>
			</table>
		</div><!--col-sm-2-->
	</div><!--row-->

	<div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

	<!--NEXT PAGE-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border"><!--FISHERIES RELATED ACTIVITY DETAILS-->
				<tr>
					<th>
						FISHERIES RELATED ACTIVITY DETAILS
					</th>
				</tr>
				<tr>
					<td>

						<div class="row">
							<div class="col-sm-9">
								<table class="table black-border no-left-td">
									<tr>
										<td class="no-left-cell">
											<div class="row">
												<div class="col-sm-12">
													<h5 align="center"><b>
														Vessel(s) Applicant is Working On or Associated With:
													</b></h5>
												</div><!--col-sm-12-->
											</div><!--row-->

											<div class="row">
												<div class="col-sm-12">
													<table style="width: 100%;">
														<tr>
															<td class="center-align">
																Reg. No.
															</td>
															<td class="center-align">
																Type of Vessel
															</td>
															<td class="center-align">
																Mooring Site
															</td>
															<td class="center-align">
																Landing Site
															</td>
															<td class="center-align">
																Role on Vessel
															</td>
														</tr>
														<tr>
															<td><br></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
														<tr>
															<td><br></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
														<tr>
															<td><br></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
													</table>
													<br>

													<table class="table">
														<tr>
															<td>
																<div class="row">
																	<div class="col-sm-12">
																		<b>Company name:</b>
																		<br><br><br>
																		<b>Operating site(s):</b> _ - Home _ - Market
																		<br><br>
																		(1)
																		<br><br>
																		(2)
																	</div><!--col-sm-12-->
																</div><!--row-->
															</td>
															<td>
																<div class="row">
																	<div class="col-sm-12">
																		<b>Related courses done:</b>
																		<br><br>
																		_ - Basic Seaman's
																		<br><br>
																		_ - Fish Handing & Sanitation
																		<br><br>
																		_ - Navigation Training
																		<br><br>
																		_ - Business Management
																		<br><br>
																		Other:
																	</div><!--col-sm-12-->
																</div><!--row-->
															</td>
															<td>
																<b>L / O</b>
																<br><br><br><br><br><br><br><br><br><br>
																Local Oversea
															</td>
														</tr>
													</table>
												</div><!--col-sm-12-->
											</div><!--row-->
										</td>
									</tr>
								</table>
							</div><!--col-sm-9-->
						</div><!--row-->
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-8">
			<table class="table black-border">
				<tr>
					<th colspan="4">
						<div class="row">
							<div class="col-sm-2">
								Species:
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								[ ] - None
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								[ ] - Caught
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								[ ] - Farmed
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								[ ] - Processed
							</div><!--col-sm-2-->
							<div class="col-sm-2">
								[ ] - Retailed
							</div><!--col-sm-2-->
						</div><!--row-->
					</th>
				</tr>
				<tr>
					<td>
						<h5 align="center"><u><i>
							Offshore Pelagics
						</i></u></h5>
						[ ] SWORDFISH<br>
						[ ] KINGFISH<br>
						[ ] BILLFISH<br>
						[ ] TUNA<br>
						[ ] SHARK<br>
						[ ] DOLPHIN<br>
						[ ] FLYING FISH
					</td>
					<td>
						<h5 align="center"><u><i>
							Coastal Pelagics
						</i></u></h5>
						[ ] BAIT FISH<br>
						[ ] CAVALLY<br>
						[ ] JACKS<br>
						[ ] BLOWGOAT<br>
						[ ] BARRACUDA<br>
						[ ] BONITA
					</td>
					<td>
						<h5 align="center"><u><i>
							Demersal
						</i></u></h5>
						[ ] SNAPPER<br>
						[ ] POT FISH<br>
						[ ] NINGNINGS<br>
						[ ] TILAPIA<br>
						[ ] ORNAMENTAL
					</td>
					<td>
						<h5 align="center"><u><i>
							Non Fin-Fish
						</i></u></h5>
						[ ] CONCH<br>
						[ ] SEA EGGS<br>
						[ ] LOBSTER<br>
						[ ] SEA CAT<br>
						[ ] SEA MOSS
					</td>
				</tr>
				<tr>
					<td colspan="4">
						Other:
					</td>
				</tr>
			</table>
		</div><!--col-sm-8-->
		<div class="col-sm-4">
			<table class="table black-border">
				<tr>
					<th colspan="2">
						Harvesting Gear Used / [ ] - None
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-6">
								[ ] GILL-NETS<br>
								[ ] SEINE NETS<br>
								[ ] CAST NETS<br>
								[ ] DIP NETS
								<br><br>
								[ ] TRAPS<br>
								[ ] POTS<br>
								[ ] SPEAR GUN
							</div><!--col-sm-6-->
							<div class="col-sm-6">
								[ ] HAND LINES<br>
								[ ] TROLLING LINES<br>
								[ ] LONG-LINES<br>
								[ ] BRIM LINES<br>
								[ ] PILLAR STICK<br>
								[ ] ROD & REEL
							</div><!--col-sm-6-->
						</div><!--row-->
					</td>
				</tr>
				<tr>
					<td>
						Other:
					</td>
				</tr>
			</table>
		</div><!--col-sm-4-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<p>
				<b><i>
					I declare that the information provided is true and correct
				</i></b>
			</p>
			<p>
				<b>
					Signature of Applicant ... Date (Year) (Month) (Day)
				</b>
			</p>
		</div><!--col-sm-12-->
	</div><!--row-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table black-border">
				<tr>
					<th class="center-align">
						OFFICIAL USE
					</th>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-6">
								Comments:
								<br><br>
								Received by: ... Date ...
								<br><br>
								Comments:
								<br><br>
								Application for Registration: Approved [ ] &nbsp;&nbsp;&nbsp; Not Approved [ ]
								<br><br>
								Chief Fisheries Officer: ... Date ...
							</div>
							<div class="col-sm-6">
								<table class="table black-border no-top-td no-right-td no-left-td">
									<tr>
										<td class="no-top-cell no-right-cell no-left-cell">
											Reissue Reason
										</td>
										<td class="no-top-cell no-right-cell no-left-cell">
											Date
										</td>
										<td class="no-top-cell no-right-cell no-left-cell">
											Officer
										</td>
										<td class="no-top-cell no-right-cell no-left-cell">
											Updated
										</td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><br></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</table>
							</div>
						</div><!--row-->
					</td>
				</tr>
			</table>
		</div><!--col-sm-12-->
	</div><!--row-->
</div><!--container-->
