<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/fishery-division.png" class="img-responsive">
    </div><!--col-sm-2-->

    <div class="col-sm-8" align="center">
      <h5>
        FISHERIES DIVISION<br>
        Princess Alice Highway, Bridgetown<br>
        Tel: 426-3745 or 426-5973, Fax: 436-9068<br>
        www.agriculture.gov.bb
      </h5>
      <h4><b>
        APPLICATION FOR REGISTRATION OF A<br>
        LOCAL FISHING VESSEL
      </b></h4>
    </div><!--col-sm-8-->
    <div class="col-sm-2">
      <h5 align="right"><b>
        FD7
      </b></h5>
      <table class="black-border" style="width: 100%">
        <tr>
          <td class="center-align">
            Official Use
          </td>
        </tr>
        <tr>
          <td class="center-align">
            File No.
          </td>
        </tr>
        <tr>
          <td align="center"><b>{{ila.submission.serialNumberCertificate}}</b></td>
        </tr>
        <tr>
          <td class="center-align">
            Fisher No.
          </td>
        </tr>
        <tr>
          <td align='center'><b>{{ila.submission.owners[0].fisherNo}}</b></td>
        </tr>
      </table>
    </div><!--col-sm-2-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border no-right-td no-bottom-td no-left-td">
        <tr>
          <th class="center-align">
            OWNER(S) AND AGENT INFORMATION
          </th>
        </tr>
        <tr>
          <td class="no-right-cell no-bottom-cell no-left-cell">
            <div class="row">
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (1): <b>{{ila.submission.owners[0].name}}</b><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address <b>{{ila.submission.owners[0].address}}</b><br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. <b>{{ila.submission.owners[0].fisherNo}}</b>
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. <b>{{ila.submission.owners[0].idNo}}</b><br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) <b>{{ila.submission.owners[0].phone1}}</b>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) <b>{{ila.submission.owners[0].phone2}}</b>
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>

                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (2): <b>{{ila.submission.owners[1].name}}</b><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address <b>{{ila.submission.owners[1].address}}</b><br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. <b>{{ila.submission.owners[1].fisherNo}}</b>
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. <b>{{ila.submission.owners[1].idNo}}</b><br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) <b>{{ila.submission.owners[1].phone1}}</b>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) <b>{{ila.submission.owners[1].phone2}}</b>
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
              <div class="col-sm-6">
                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (3): <b>{{ila.submission.owners[2].name}}</b><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address <b>{{ila.submission.owners[2].address}}</b><br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. <b>{{ila.submission.owners[2].fisherNo}}</b>
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. <b>{{ila.submission.owners[2].idNo}}</b><br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) <b>{{ila.submission.owners[2].phone1}}</b>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) <b>{{ila.submission.owners[2].phone2}}</b>
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>

                <table class="table black-border">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-12">
                          Owner (3): <b>{{ila.submission.owners[3].name}}</b><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-12">
                          Address <b>{{ila.submission.owners[3].address}}</b><br><br><br>
                        </div><!--col-sm-12-->

                        <div class="col-sm-5">
                          Fisher No. <b>{{ila.submission.owners[3].fisherNo}}</b>
                        </div><!--col-sm-5-->
                        <div class="col-sm-7">
                          ID No. <b>{{ila.submission.owners[3].idNo}}</b><br><br>
                        </div><!--col-sm-7-->

                        <div class="col-sm-6">
                          Tel: (H) <b>{{ila.submission.owners[3].phone1}}</b>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                          (W/C) <b>{{ila.submission.owners[3].phone2}}</b>
                        </div><!--col-sm-6-->
                      </div><!--row-->
                    </td>
                  </tr>
                </table>
              </div><!--col-sm-6-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border no-top-td no-right-td no-bottom-td no-left-td">
        <tr>
          <th class="center-align">
            VESSEL DETAILS
          </th>
          <th class="center-align">
            FISHING INFORMATION
          </th>
        </tr>
        <tr>
          <td class="no-bottom-cell no-left-cell" width="50%">
            <div class="row">
              <div class="col-sm-1" align="center">
                <div class="row">
                  <div class="col-sm-12">
                    5.<br><br>
                    6.<br><br>
                    7.<br><br>
                    8.<br><br>
                    9.<br><br><br><br><br>
                    10.<br><br><br><br><br><br><br><br><br><br><br><br><br>
                    11.<br><br>
                    12.
                  </div><!--col-sm-12-->
                </div><!--row-->
              </div><!--col-sm-1-->
              <div class="col-sm-11">
                <div class="row">
                  <div class="col-sm-7">
                    Builder: <b>{{ila.submission.vesselDetails.builder}}</b>
                  </div><!--col-sm-7-->
                  <div class="col-sm-5">
                    Year Built (age): <b>{{ila.submission.vesselDetails.yearBuilt | date:'yyyy'}}</b><br><br>
                  </div><!--col-sm-5-->

                  <div class="col-sm-12">
                    Vessel Name: <b>{{ila.submission.vesselDetails.name}}</b><br><br>
                  </div>

                  <div class="col-sm-12">
                    Vessel Type:<br>
                    <span ng-if="ila.submission.vesselDetails.vesselType == 'longLiner'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.vesselType != 'longLiner'">[ &nbsp; ]</span>
                    - Long Liner &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.vesselType == 'iceboat'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.vesselType != 'iceboat'">[ &nbsp; ]</span>
                    - Iceboat &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.vesselType == 'dayBoat'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.vesselType != 'dayBoat'">[ &nbsp; ]</span>
                    - Day Boat &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.vesselType == 'openBoat'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.vesselType != 'openBoat'">[ &nbsp; ]</span>
                    - Open Boat &nbsp;&nbsp;&nbsp;<br><br>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    Hull Material:<br>
                    <span ng-if="ila.submission.vesselDetails.hullMaterial == 'wood'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.hullMaterial != 'wood'">[ &nbsp; ]</span>
                    - Wood &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.hullMaterial == 'grp'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.hullMaterial != 'grp'">[ &nbsp; ]</span>
                    - GRP &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.hullMaterial == 'steel'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.hullMaterial != 'steel'">[ &nbsp; ]</span>
                    - Steel &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.hullMaterial == 'other'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.hullMaterial != 'other'">[ &nbsp; ]</span>
                    - Other: <b>{{ila.submission.vesselDetails.hullMaterialOther}}</b><br><br>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    Dimensions of Vessel:
                    <span ng-if="ila.submission.vesselDetails.dimensions.unitType == 'metres'">[ <b>metres</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.dimensions.unitType != 'metres'">[ metres ]</span>
                    <span ng-if="ila.submission.vesselDetails.dimensions.unitType == 'feet'">[ <b>feet</b> ]</span>
                    <span ng-if="ila.submission.vesselDetails.dimensions.unitType != 'feet'">[ feet ]</span>
                    <br>
                    <table class="table black-border">
                      <tr>
                        <td>Length<br>
                          <b>{{ila.submission.vesselDetails.dimensions.length}}</b>
                        </td>
                        <td>Beam<br>
                          <b>{{ila.submission.vesselDetails.dimensions.beam}}</b>
                        </td>
                        <td>Depth<br>
                          <b>{{ila.submission.vesselDetails.dimensions.depth}}</b>
                        </td>
                        <td>Draught<br>
                          <b>{{ila.submission.vesselDetails.dimensions.draught}}</b>
                        </td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    Engine(s):<br>
                    <span ng-if="ila.submission.vesselDetails.engines[0].location == 'inboard' || ila.submission.vesselDetails.engines[1].location == 'inboard'">[ <b>X</b> ]</span>
                    <span ng-if="!(ila.submission.vesselDetails.engines[0].location == 'inboard' || ila.submission.vesselDetails.engines[1].location == 'inboard')">[ &nbsp; ]</span>
                    - Inboard &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.engines[0].location == 'outboard' || ila.submission.vesselDetails.engines[1].location == 'outboard'">[ <b>X</b> ]</span>
                    <span ng-if="!(ila.submission.vesselDetails.engines[0].location == 'outboard' || ila.submission.vesselDetails.engines[1].location == 'outboard')">[ &nbsp; ]</span>
                    - Outboard &nbsp;&nbsp;&nbsp;
                     | &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.engines[0].fuel == 'diesel' || ila.submission.vesselDetails.engines[1].fuel == 'diesel'">[ <b>X</b> ]</span>
                    <span ng-if="!(ila.submission.vesselDetails.engines[0].fuel == 'diesel' || ila.submission.vesselDetails.engines[1].fuel == 'diesel')">[ &nbsp; ]</span>
                    - Diesel &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.engines[0].fuel == 'gas' || ila.submission.vesselDetails.engines[1].fuel == 'gas'">[ <b>X</b> ]</span>
                    <span ng-if="!(ila.submission.vesselDetails.engines[0].fuel == 'gas' || ila.submission.vesselDetails.engines[1].fuel == 'gas')">[ &nbsp; ]</span>
                    - Gas &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.vesselDetails.engines[0].fuel == 'kerosene' || ila.submission.vesselDetails.engines[1].fuel == 'kerosene'">[ <b>X</b> ]</span>
                    <span ng-if="!(ila.submission.vesselDetails.engines[0].fuel == 'kerosene' || ila.submission.vesselDetails.engines[1].fuel == 'kerosene')">[ &nbsp; ]</span>
                    - Kerosene
                    <br>
                    <table class="table black-border">
                      <tr>
                        <td>H.p.:<br><b>{{ila.submission.vesselDetails.engines[0].hp}}</b></td>
                        <td>H.p.:<br><b>{{ila.submission.vesselDetails.engines[1].hp}}</b></td>
                      </tr>
                      <tr>
                        <td>Make:<br><b>{{ila.submission.vesselDetails.engines[0].make}}</b></td>
                        <td>Make:<br><b>{{ila.submission.vesselDetails.engines[1].make}}</b></td>
                      </tr>
                      <tr>
                        <td>Model:<br><b>{{ila.submission.vesselDetails.engines[0].model}}</b></td>
                        <td>Model:<br><b>{{ila.submission.vesselDetails.engines[1].model}}</b></td>
                      </tr>
                      <tr>
                        <td>Serial no.:<br><b>{{ila.submission.vesselDetails.engines[0].serialNo}}</b></td>
                        <td>Serial no.:<br><b>{{ila.submission.vesselDetails.engines[1].serialNo}}</b></td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    Proposed Number of Crew: <b>{{ila.submission.vesselDetails.crewSize | number}}</b><br><br>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    Emergency Plan for Vessel:<br>
                    <table class="table black-border">
                      <tr>
                        <td>Haul Up at:<br><b>{{ila.submission.vesselDetails.emergencyPlan.haulPoint}}</b></td>
                        <td>Take to Port:<br><b>{{ila.submission.vesselDetails.emergencyPlan.takeToPort}}</b></td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->
                </div><!--row-->
              </div><!--col-sm-11-->
            </div><!--row-->
          </td>
          <td class="no-right-cell no-bottom-cell">
            <div class="row">
              <div class="col-sm-1">
                13.<br><br>
                14.<br><br>
                15.<br><br>
                16.<br><br><br><br><br><br><br><br>
                17.<br><br><br><br><br>
                18.<br><br>
                19.<br><br><br>
                20.<br><br><br>
                21.
              </div><!--col-sm-1-->
              <div class="col-sm-11">
                <div class="row">
                  <div class="col-sm-8">
                      Fishing Distance from Shore:
                  </div>
                  <div class="col-sm-4">
                    <b>
                      {{ila.submission.fishingDetails.distanceFromShore}}
                      <span ng-if="ila.submission.fishingDetails.distanceUnits == 'miles'">miles</span>
                      <span ng-if="ila.submission.fishingDetails.distanceUnits == 'kilometers'">kilometers</span>
                  </b>
                  </div>

                  <div class="col-sm-8">
                      Length of a Fishing Trip:
                  </div>
                  <div class="col-sm-4">
                    <b>{{ila.submission.fishingDetails.lengthofTrip}} day(s)</b><br><br>
                  </div>

                  <div class="col-sm-3">
                    Fish Storage:
                  </div>
                  <div class="col-sm-3">
                    <span ng-if="ila.submission.fishingDetails.fishStorage.type == 'onDeck'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishStorage.type != 'onDeck'">[ &nbsp; ]</span>
                    - On Deck
                  </div>
                  <div class="col-sm-3">
                    <span ng-if="ila.submission.fishingDetails.fishStorage.type == 'insulatedBox'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishStorage.type != 'insulatedBox'">[ &nbsp; ]</span>
                    - Insulated Box
                  </div>
                  <div class="col-sm-3">
                    <span ng-if="ila.submission.fishingDetails.fishStorage.type == 'hold'">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishStorage.type != 'hold'">[ &nbsp; ]</span>
                    - Fish/Ice Hold<br><br>
                  </div>

                  <div class="col-sm-12">
                    Dimensions of Fish Storage:
                    <span ng-if="ila.submission.fishingDetails.fishStorage.dimensionUnitType == 'metres'">[ <b>metres</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishStorage.dimensionUnitType != 'metres'">[ metres ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishStorage.dimensionUnitType == 'feet'">[ <b>feet</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishStorage.dimensionUnitType != 'feet'">[ feet ]</span>
                    <br>
                    <table class="table black-border">
                      <tr>
                        <td>Length<br><b>{{ila.submission.fishingDetails.fishStorage.length}}</b></td>
                        <td>Width<br><b>{{ila.submission.fishingDetails.fishStorage.width}}</b></td>
                        <td>Height<br><b>{{ila.submission.fishingDetails.fishStorage.height}}</b></td>
                      </tr>
                      <tr>
                        <td>Thickness<br><b>{{ila.submission.fishingDetails.fishStorage.thickness}}</b></td>
                        <td>Capacity<br><b>{{ila.submission.fishingDetails.fishStorage.capacity}}</b></td>
                        <td>Material<br><b>{{ila.submission.fishingDetails.fishStorage.material}}</b></td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    <b>Proposed Operating Site</b><br>
                    <table class="table black-border">
                      <tr>
                        <td>(1):<br><b>{{ila.submission.fishingDetails.operatingSites[0]}}</b></td>
                        <td>(2):<br><b>{{ila.submission.fishingDetails.operatingSites[1]}}</b></td>
                      </tr>
                    </table>
                  </div><!--col-sm-12-->

                  <div class="col-sm-12">
                    Mooring Site or Home Port: <b>{{ila.submission.fishingDetails.homePort}}</b><br><br>
                  </div>

                  <div class="col-sm-12">
                    Target Species: <br>
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('dolphin') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('dolphin') == -1">[ &nbsp; ]</span>
                    - Dolphin &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('flyingFish') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('flyingFish') == -1">[ &nbsp; ]</span>
                    - Flying Fish &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('tuna') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('tuna') == -1">[ &nbsp; ]</span>
                    - Tuna &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('reefFish') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('reefFish') == -1">[ &nbsp; ]</span>
                    - Reef Fish<br>
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('other') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.targetSpecies.indexOf('other') == -1">[ &nbsp; ]</span>
                    - Other: <b>{{ila.submission.fishingDetails.targetSpeciesOther}}</b><br><br>
                  </div>

                  <div class="col-sm-12">
                    Fishing Gear: <br>
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('longLine') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('longLine') == -1">[ &nbsp; ]</span>
                    - Long Line &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('gillNet') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('gillNet') == -1">[ &nbsp; ]</span>
                    - Gill Net &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('pots') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('pots') == -1">[ &nbsp; ]</span>
                    - Pots &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('handLines') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('handLines') == -1">[ &nbsp; ]</span>
                    - Hand Lines<br>
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('other') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.fishingGear.indexOf('other') == -1">[ &nbsp; ]</span>
                    - Other: <b>{{ila.submission.fishingDetails.fishingGearOther}}</b><br><br>
                  </div>

                  <div class="col-sm-12">
                    Main Purpose of Fishing:<br>
                    <span ng-if="ila.submission.fishingDetails.purpose.indexOf('sellFish') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.purpose.indexOf('sellFish') == -1">[ &nbsp; ]</span>
                    - To Sell the Fish Caught &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.purpose.indexOf('recreation') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.purpose.indexOf('recreation') == -1">[ &nbsp; ]</span>
                    - Recreation &nbsp;&nbsp;&nbsp;
                    <span ng-if="ila.submission.fishingDetails.purpose.indexOf('consumption') != -1">[ <b>X</b> ]</span>
                    <span ng-if="ila.submission.fishingDetails.purpose.indexOf('consumption') == -1">[ &nbsp; ]</span>
                    - Personal Consumption &nbsp;&nbsp;&nbsp;
                  </div>
                </div><!--row-->
              </div><!--col-sm-11-->
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <th class="no-top-cell no-right-cell no-left-cell" colspan="2">
            I/We hereby submit this application to have the vessel mentioned above registration in accordance with the requirements of the Fisheries Act [ CAP 391 ] Section 19. I/We also declare all of the above information to be true.
          </th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (1))<br>
                <b>{{ila.submission.owners[0].name}}</b>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date:<br>
                <b>{{ila.submission.owners[0].dateSigned | date: 'd MMMM yyyy'}}</b>
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (2))<br>
                <b>{{ila.submission.owners[1].name}}</b>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date:<br>
                <b>{{ila.submission.owners[1].dateSigned | date: 'd MMMM yyyy'}}</b>
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (3))<br>
                <b>{{ila.submission.owners[2].name}}</b>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date:<br>
                <b>{{ila.submission.owners[2].dateSigned | date: 'd MMMM yyyy'}}</b>
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
          <td>
            <div class="row">
              <div class="col-sm-8">
                Signature (Owner (4) / Agent)<br>
                <b>{{ila.submission.owners[3].name}}</b>
              </div><!--col-sm-8-->
              <div class="col-sm-4">
                Date:<br>
                <b>{{ila.submission.owners[3].dateSigned | date: 'd MMMM yyyy'}}</b>
              </div><!--col-sm-4-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <!--NEXT PAGE-->

  <div class="row">
    <div class="col-sm-1">
      <p>
        Note:<br>
        1.<br><br>
        2.
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <p>
        To register or licence a fishing vessel may be denied where the proposed owner(s) is/are not a citizen(s) of Barbados or permanent resident(s) of Barbados within the meaning of the Immigration Act.
        <br>
        To register a fishing vessel you must submit proof of (a) Citizenship and (b) proof of Ownership of the vessel.
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th class="center-align">
            OFFICIAL USE
          </th>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-2">
                1. Proof of ownership verified.<br>
                2. Citizenship requirement satisfied.<br>
                3. Owner(s) and agent(s) registered.<br>
                4. Vessel can be used as a local fishing vessel.<br>
                5. Vessel passed inspection.<br>
                6. Recommended for registration and licensing.<br><br>
              </div><!--col-sm-8 col-sm-offset-2-->
              <div class="col-sm-2" align="right">
                <span ng-if="ila.submission.approvals.ownership == true"><b>YES</b> - NO</span>
                <span ng-if="ila.submission.approvals.ownership != true">YES - <b>NO</b></span>
                <br>
                <span ng-if="ila.submission.approvals.citizenship == true"><b>YES</b> - NO</span>
                <span ng-if="ila.submission.approvals.citizenship != true">YES - <b>NO</b></span>
                <br>
                <span ng-if="ila.submission.approvals.registered == true"><b>YES</b> - NO</span>
                <span ng-if="ila.submission.approvals.registered != true">YES - <b>NO</b></span>
                <br>
                <span ng-if="ila.submission.approvals.localFishingAllowed == true"><b>YES</b> - NO</span>
                <span ng-if="ila.submission.approvals.localFishingAllowed != true">YES - <b>NO</b></span>
                <br>
                <span ng-if="ila.submission.approvals.passInspection == true"><b>YES</b> - NO</span>
                <span ng-if="ila.submission.approvals.passInspection != true">YES - <b>NO</b></span>
                <br>
                <span ng-if="ila.submission.approvals.recommended == true"><b>YES</b> - NO</span>
                <span ng-if="ila.submission.approvals.recommended != true">YES - <b>NO</b></span><br>
              </div><!--col-sm-2-->

              <div class="col-sm-3 col-sm-offset-2">
                7. Class of vessel.
              </div><!--col-sm-4 col-sm-offset-2-->
              <div class="col-sm-5" align="right">
                <span ng-if="ila.submission.vesselDetails.dimensions.vesselClass == 1"><b>1. (1-6m)</b></span>
                <span ng-if="ila.submission.vesselDetails.dimensions.vesselClass != 1">1. (1-6m)</span>
                 -
                <span ng-if="ila.submission.vesselDetails.dimensions.vesselClass == 2"><b>2. (6-12m)</b></span>
                <span ng-if="ila.submission.vesselDetails.dimensions.vesselClass != 2">2. (6-12m)</span>
                 -
                <span ng-if="ila.submission.vesselDetails.dimensions.vesselClass == 3"><b>3. (12-20m)</b></span>
                <span ng-if="ila.submission.vesselDetails.dimensions.vesselClass != 3">3. (12-20m)</span>
              </div>
              <div class="col-sm-12">
              <br>
                Comments: <b>{{ila.submission.comments}}</b> <br><br><br><br>
              </div><!--col-sm-12-->

              <div class="col-sm-5 col-sm-offset-2">
                Inspector: <b>{{ila.submission.inspector}}</b>
              </div>
              <div class="col-sm-3">
                Date: <b>{{ila.submission.inspectionDate | date: 'd MMMM yyyy'}}</b> <br><br><br>
              </div>

              <div class="col-sm-12">
                Remarks: <b>{{ila.submission.remarks}}</b> <br><br><br><br><br><br><br><br><br><br><br><br>
              </div>

              <div class="col-sm-8">
                Assigned registration number: <b>{{ila.submission.referenceNumber}}</b><br><br>
              </div>
              <div class="col-sm-4">
                Hull No: <b>{{ila.submission.hullNo}}</b><br><br>
              </div>

              <div class="col-sm-12">
                Registration approved:
                <span ng-if="ila.submission.approved == true"><b>YES</b> - NO</span>
                <span ng-if="ila.submission.approved != true">YES - <b>NO</b></span>
              </div>
              <div class="col-sm-6 col-sm-offset-3" align="center">
                <b>{{ila.submission.approvedBy}}</b><br>
                <i>Chief Fisheries Officer</i>
              </div>
              <div class="col-sm-3" align="center">
                <b>{{ila.submission.approvalDate | date:'d MMMM yyyy'}}</b><br>
                <i>Date</i>
              </div>
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
