<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        Comptroller of Customs<br>
        Port Authority Building<br>
        The Harbour<br>
        <b><u>BRIDGETOWN</u></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-5 col-sm-offset-7">
      <h5>Date: ...</h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b><u>
          RE: APPLICATION FOR DUTY-FREE CONCESSION<br>
          ON AGRICULTURAL INPUTS
        </u></b>
      </h5>
      <p>Name of Farmer/Agribusiness: ...</p>
      <p>Type of Farm/Company Service: ...</p>
      <p>Address: ...</p>
      <p>Ministry of Agriculture, Food, Fisheries and Water Resource Management Registration No: ... Tel. No.: ... Fax No.: ...</p>

      <h6 align="justify"><b>
        Request permission to import the following items free of duty and taxes including value added tax (VAT) as per directive from the Ministry of Finance and Economic Affairs, Ref.: 5007/7/3 dated 1994-09-30. VAT exemption will be according to the VAT Act.
      </b></h6>

      <h5 align="center">
        <b><u>
          REMARKS
        </u></b>
      </h5>
      <p>Invoice Number: ...</p>
      <p>Supplier's Name & Address: ...</p>
      <br>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <h5 align="center"><b><u>
        ITEM NAME
      </u></b></h5>
    </div>
    <div class="col-sm-5">
      <h5 align="center"><b><u>
        ITEM DESCRIPTION
      </u></b></h5>
    </div>
    <div class="col-sm-3">
      <h5 align="center"><b><u>
        PART NO.
      </u></b></h5>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h5 align="right"><b>
      Please Complete Page 2
    </b></h5>
  </div><!--row-->

  <!--NEXT PAGE-->

  <div class="row">
    <div class="col-sm-12">
      <h5><b><u>
        REQUESTED BY:
      </u></b></h5>
      <p>Name of Person/Company: ...</p>
      <p>Title: ...</p>
      <p>Total Cost: ...</p>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <p>Signature: ...</p>
    </div><!--row-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <h6><b>
        WARNING:
      </b></h6>
    </div><!--col-sm-2-->
    <div class="col-sm-11">
      <h6><b>
        A signed Declaration constitutes a statement that all particulars are true and correct, and use of a Customs Procedure code (CPC) constitutes the necessary form of Declaration.
      </b></h6>
    </div><!--col-sm-2-->
  </div><!--row-->
</div><!--container-->
