<div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="col-sm-9"><br><br><br>
      <h5>
        <b>Date:</b>
      </h5><br>
    </div><!--col-sm-9-->
    <div class="col-sm-3">
      <h5 align="right">
        <b>05-2014-FD27</b>
      </h5>
      <table class="table black-border">
        <tr>
          <td>OFFICIAL USE</td>
        </tr>
        <tr>
          <td>Hull No.:</td>
        </tr>
        <tr>
          <td>Form No.:</td>
        </tr>
      </table>
    </div><!--col-sm-9-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5>
        <b>
          The Comptroller of Customs<br>
          Port Authority Building<br>
          The Harbour Road<br>
          BRIDGETOWN
          <br><br>
          Dear Sir
          <br><br>
        </b>
      </h5>
      <p>
        <b>
          I ... owner offishing vessel Reg. Number ... and Fisher Number ... hereby request permission to import the following items free of duty as per Customs (Amendment) Regulation 2009, Customs Tariff (Amendment) (No. 9) Order 2009 Part II ‐ Section B, Item 37A and 37D; obtain same items Zero rated from VAT as per 3rd schedule of the VALUE ADDED TAX ACT item 3 with reference to the first schedule item 7 (1) VAT Regulation 1996, of the same ACT. Exemption from, Environmental Levy as per S. I. 1997 No. 120 Part 2 Section B, Item 3, and the Excise Tax Act CAP. 69.
        </b>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b><u>
          REMARKS
        </u></b>
      </h5>

      <p><b>
        Importer (if not self) ...
      </b></p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <p><b>Invoice Number: ...</b></p>
      <p><b>Air Waybill Number: ...</b></p>
      <p><b>Or Bill of Lading Number: ...</b></p>
    </div><!--col-sm-6-->
    <div class="col-sm-6">
      <p><b>Invoice Date: ...</b></p>
      <p><b>Air Waybill Date: ...</b></p>
      <p><b>Bill of Lading Date: ...</b></p>
    </div><!--col-sm-6-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p><b>
        Supplier Name ...
      </b></p>
      <p><b>
        Supplier Address ...
        <br><br><br>
      </b></p>
      <p><b>
        Item Description: ...
      </b></p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <p><b>
        Item Name/Item Number
      </b></p>
    </div><!--col-sm-6-->
    <div class="col-sm-6">
      <p>...</p>
    </div><!--col-sm-6-->
  </div><!--row-->
  <br><br><br><br><br><br>

  <div class="row">
    <div class="col-sm-12">
      <p><b>
        Total Customs Value Bds. $ ...
      </b></p>
      <p><b>
        Yours Faithfully
      </b></p>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--col-sm-10 col-sm-offset-1-->
</div><!--row-->
</div><!--container-->
