<div>
  <div class="row">
    <div class="col-sm-9"><br><br><br>
      <h5>
        <b>Date:</b>
      </h5><br>
    </div><!--col-sm-9-->
    <div class="col-sm-3">
      <h5 align="right">
        <b>05-2014-FD27</b>
      </h5>
      <table class="table black-border">
        <tr>
          <td>OFFICIAL USE</td>
        </tr>
        <tr>
          <td>Hull No.:</td>
        </tr>
        <tr>
          <td>Form No.:</td>
        </tr>
      </table>
    </div><!--col-sm-9-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5>
        <b>
          The Comptroller of Customs<br>
          Port Authority Building<br>
          The Harbour Road<br>
          BRIDGETOWN
          <br><br>
          Dear Sir
          <br><br>
        </b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div edit-commodities3=""></div>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h3>
        Total Customs Value: Bds. $<b>{{ila.submission.totalValue}}</b>
      </h3>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
