<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        Comptroller of Customs<br>
        Port Authority Building<br>
        The Harbour<br>
        <b><u>BRIDGETOWN</u></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-5 col-sm-offset-7">
      <h5>Date: <b>{{current_date | date: 'd MMMM yyyy'}}</b></h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b><u>
          RE: APPLICATION FOR DUTY-FREE CONCESSION<br>
          ON AGRICULTURAL INPUTS
        </u></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>Item Details</h4>
      <div edit-commodities3=""></div>
    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <h5><b><u>
        REQUESTED BY:
      </u></b></h5>
      <p>Name of Person/Company: <b><span ng-if="ila.submission.applicant.contactPerson.name != ''">{{ila.submission.applicant.contactPerson.name}}, </span>{{ila.submission.applicant.name}}</b></p>
      <p>Title: <b><span ng-if="ila.submission.applicant.contactPerson.title != ''">{{ila.submission.applicant.contactPerson.title}}</span></b></p>
      <p>Total Cost: <b>Bds. {{ila.submission.commodities | totalCif | currency}}</b></p>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <p>Signature: <b>{{ila.submission.submitter}}</b></p>
    </div><!--row-->
  </div><!--row-->

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  <div class="row">
    <div class="col-sm-2 col-lg-1">
      <h6><b>
        WARNING:
      </b></h6>
    </div><!--col-sm-2-->
    <div class="col-sm-10 col-lg-11">
      <h6><b>
        A signed Declaration constitutes a statement that all particulars are true and correct, and use of a Customs Procedure code (CPC) constitutes the necessary form of Declaration.
      </b></h6>
    </div><!--col-sm-2-->
  </div><!--row-->

</div><!--container-->
