<div>
  <div class="row">
    <div class="col-sm-12">
      <h5 align="center"><b><u>
        MINISTRY OF AGRICULTURE, FOOD, FISHERIES<br>
        AND WATER RESOURCE MANAGEMENT<br>
        FARMERS REGISTRATION FORM
      </u></b></h5>
      <h5 align="center"><b>
        Farmers Registration #.: ___
      </b></h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>Full Name of Farmer: ___</p>
      <p>Address of Farmer: ___</p>
    </div><!--col-sm-12-->

    <div class="col-sm-6">
      <p>B’dos. ID #.: ___</p>
    </div>
    <div class="col-sm-6">
      <p>National Insurance # ___</p>
    </div>

    <div class="col-sm-6">
      <p>Age of Farmer: ___</p>
    </div>
    <div class="col-sm-3">
      <p>Sex: Male [ ]</p>
    </div>
    <div class="col-sm-3">
      <p>Female [ ]</p>
    </div>

    <div class="col-sm-6">
      <p>Telephone Numbers: ___</p>
      <p>No. of Dependents: Spouse: ___</p>
    </div>
    <div class="col-sm-6">
      <p>Email Address: ___</p>
      <p>Children: ___</p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5><b><u>
        DETAILS OF FARM
      </u></b></h5>
      <p>Farm Address: ___</p>
    </div><!--col-sm-12-->

    <div class="col-sm-6">
      <p>Size of Farm Acre/Hectare: ___</p>
    </div>
    <div class="col-sm-6">
      <p>Land Tax #: ___</p>
    </div>

    <div class="col-sm-3">
      <p>No of Employees:</p>
    </div>
    <div class="col-sm-3">
      <p>Full-time: ___</p>
    </div>
    <div class="col-sm-3">
      <p>Part-time: ___</p>
    </div>
    <div class="col-sm-3">
      <p>Seasonal: ___</p>
    </div>

    <div class="col-sm-4">
      <p>Status of Farmer:</p>
    </div>
    <div class="col-sm-4">
      <p>Full-time [ ]</p>
    </div>
    <div class="col-sm-4">
      <p>Part-time [ ]</p>
    </div>

    <div class="col-sm-3">
      <p>Tenure: Owned [ ]</p>
    </div>
    <div class="col-sm-3">
      <p>Rented [ ]</p>
    </div>
    <div class="col-sm-3">
      <p>Leased [ ]</p>
    </div>
    <div class="col-sm-3">
      <p>Other [ ]</p>
    </div>

    <div class="col-sm-12">
      <p>Name of Farm (where relevant): ___</p>
      <p>Name of Farmers’ Co-operation/Association or Partnership in Business:</p>
      <br><br>
    </div>

    <div class="col-sm-6">
      <p>Does farm have Irrigation facilities?</p>
    </div>
    <div class="col-sm-3">
      <p>Yes [ ]</p>
    </div>
    <div class="col-sm-3">
      <p>No [ ]</p>
    </div>

    <div class="col-sm-12">
      <p>Area Irrigated: ___(Acreage)___</p>
    </div>

    <div class="col-sm-4">
      <p>Type of Irrigation:</p>
    </div>
    <div class="col-sm-4">
      <p>Sprinkler</p><br>
      <!--NEXT PAGE-->
      Yes [][ ] Acres
    </div>
    <div class="col-sm-4">
      <p>Drip</p><br>
      <!--NEXT PAGE-->
      Yes [][ ] Acres
    </div>

    <div class="col-sm-4">
      <p>Type of Farming:</p>
    </div>
    <div class="col-sm-2">
      <p>Crop</p>
      [ ]
    </div>
    <div class="col-sm-2">
      <p>Livestock</p>
      [ ]
    </div>
    <div class="col-sm-2">
      <p>Flower</p>
      [ ]
    </div>
    <div class="col-sm-2">
      <p>Mixed</p>
      [ ]
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h5><b><u>
        Farm Enterprises: (Select Farm Activity)
      </u></b></h5>

      <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
          <p>Vegetables</p>
          <p>Root Crops</p>
          <p>Legumes</p>
          <p>Cereals</p>
          <p>Fruit Trees</p>
          <p>Cotton</p>
          <p>Cattle</p>
          <p>Poultry</p>
          <p>Rabbits</p>
          <p>Apiculture</p>
        </div>
        <div class="col-sm-2">
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) No.</p>
          <p>( ) No.</p>
          <p>( ) No.</p>
          <p>( ) No.</p>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
          <p>Sugar Cane</p>
          <p>Banana/Plantain</p>
          <p>Herbs/Spices</p>
          <p>Horticulture</p>
          <p>Onions</p>
          <p>Pasture</p>
          <p>Pigs</p>
          <p>Sheep</p>
          <p>Goats</p>
          <p>Aquaculture</p>
        </div>
        <div class="col-sm-2">
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) Acres</p>
          <p>( ) No.</p>
          <p>( ) No.</p>
          <p>( ) No.</p>
          <p>( ) No.</p>
        </div>
      </div><!--row-->
    </div><!--col-sm-11 col-sm-offset-1-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h5><b><u>
        Crops for Export Market
      </u></b></h5>
      <table class="table black-border">
        <tr>
          <th class="center-align">Vegetables</th>
          <th class="center-align">Root Crops</th>
          <th class="center-align">Fruits</th>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h5><b><u>
        Details of Livestock on Farm:
      </u></b></h5>
      <table class="table black-border no-top-td no-bottom-td">
        <tr>
          <th class="center-align no-bottom-cell">
            Species
          </th>
          <th class="center-align" colspan="3">
            Male
          </th>
          <th class="center-align" colspan="3">
            Female
          </th>
        </tr>
        <tr>
          <td class="no-top-cell"></td>
          <td class="center-align">Adult</td>
          <td class="center-align" colspan="2">
            Young
          </td>
          <td class="center-align">Adult</td>
          <td class="center-align" colspan="2">
            Young
          </td>
        </tr>
        <tr>
          <td>Cattle</td>
          <td></td>
          <td>< 15 mths</td>
          <td></td>
          <td></td>
          <td>< 15 mths</td>
          <td></td>
        </tr>
        <tr>
          <td>Sheep</td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
        </tr>
        <tr>
          <td>Goats</td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
        </tr>
        <tr>
          <td>Pigs</td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
        </tr>
        <tr>
          <td>Poultry (broilers)</td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
        </tr>
        <tr>
          <td>Poultry (layers)</td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
        </tr>
        <tr>
          <td>Rabits</td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
        </tr>
        <tr>
          <td>Other</td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
          <td></td>
          <td>< 6 mths</td>
          <td></td>
        </tr>
      </table>

      <h5 align="center">Signature: ___</h5>
      <!--NEXT PAGE-->
      <h5 align="center">Date: ___</h5>
    </div><!--col-sm-11 col-sm-offset-1-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1 col-sm-offset-1">
      <p><b>N. B.</b></p>
    </div><!--col-sm-1 col-sm-offset-1-->
    <div class="col-sm-10">
      <p><b>
        Horses and other companion animals (cats and dogs) do not qualify for farm incentives.
      </b></p>
    </div><!--col-sm-10-->

    <div class="col-sm-12">
      <h5><b><u>
        For Official Use Only
      </u></b></h5>
    </div>

    <div class="col-sm-4">
      Person’s Id # ___
    </div>
    <div class="col-sm-4">
      Farm Id # ___
    </div>
    <div class="col-sm-4">
      Address Id # ___
    </div>
  </div><!--row-->
</div><!--container-->
