<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/goverment.png" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h4 align="center"><b>
        MINISTRY OF AGRICULTURE, FOOD, FISHERIES<br>
        AND WATER RESOURCE MANAGEMENT
      </b></h4>
      <h6 align="center">
        PO. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES
      </h6>
    </div>
    <div class="col-sm-2" align="right">
      <img src="/Forms/img/logos/ministry-agriculture.png" class="img-responsive">
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center"><b><u>
        Verification of Agricultural Enterprise
      </u></b></h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <p>Signature of Officer: <b>{{ila.submission.submitter}}</b></p><br>
      <p>Signature of Farmer: <b>{{ila.submission.applicant.name}}</b></p>
    </div>
    <div class="col-sm-4">
      <p>Date: <b>{{ila.submission.approvalDate | date:'d MMMM yyyy'}}</b></p><br>
      <p>Date: <b>{{ila.submission.issuedDate | date:'d MMMM yyyy'}}</b></p>
    </div>
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-4">
      <h6>
        Minister: Hon David Estwick<br>
        <a href="mailto:Minister@minagriculture.gov.bb">Minister@minagriculture.gov.bb</a>
      </h6>
    </div>
    <div class="col-sm-4" align="center">
      <br>
      <h6>Website: <i><a href="www.agriculture.gov.bb">www.agriculture.gov.bb</a></i></h6>
    </div>
    <div class="col-sm-4" align="right">
      <h6>
        Permanent Secretary: Mr. Esworth Reid<br>
        <a href='mailto:ps@minagriculture.gov.bb'>ps@minagriculture.gov.bb</a>
      </h6>
    </div>
  </div><!--row-->
</div><!--container-->
