<div>
<div class="col-sm-offset-1">
  <div class="row">
    <div class="col-sm-11">
      <h5 align="center">
        <b>
          MINISTRY OF HEALTH - BARBADOS
        </b>
      </h5>
      <h4 align="center">
        <b>
          SAMPLING OF FOODS
        </b>
      </h4>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11 no-margin">
      <h6 align="right">
        A14:411
      </h6>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-11">
      I hereby certify that on <b>{{ila.submission.inspectionDate}}</b> I have examined at <b>{{ila.submission.inspectionLocation}}</b> a quantity of <b>{{ila.submission.typeFoodCategory}}: {{ila.submission.typeFoodDetail}}</b> consigned to or in possession of <b>{{ila.submission.consignee.name}}</b>
      <br>
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-11">
      I have collected and removed samples of the items listed for laboratory investigations
      <br><br><br><br><br><br>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">

      <div class="row">
        <div class="col-sm-8" align="center">
          <h4>{{ila.submission.consignee.name}}</h4>
          <div class="top-border">
            <h6 align="center">
              <i>
                Name of Agent/Consignee
              </i>
            </h6>
          </div>    
        </div>
      </div><!--row-->
      <br><br>

      <div class="row">
        <div class="col-sm-8" align="center">
          <div class="top-border">
            <h6 align="center">
              <i>
                Signature
              </i>
            </h6>
          </div>    
        </div>
      </div><!--row-->
      <br><br>

    </div>

    <div class="col-sm-6">

      <div class="row">
        <div class="col-sm-8" align="center">
          <h4>{{ila.submission.inspector}}</h4>
          <div class="top-border">
            <h6 align="center">
              <i>
                Public Health Inspector
              </i>
            </h6>
          </div>    
        </div>
      </div><!--row-->
      <br><br>

      <div class="row">
        <div class="col-sm-8" align="center">
          <div class="top-border">
            <h6 align="center">
              <i>
                Signature
              </i>
            </h6>
          </div>    
        </div>
      </div><!--row-->
      <br><br>

    </div>


  </div><!--row-->
  <br><br><br>

</div><!--col-sm-offset-1-->
</div><!--container-->