<div>
  <div class="row">
    <div class="col-sm-1">
      <h3>
        <b>6</b>
      </h3>
    </div>
    <div class="col-sm-10">
      <h3 align="center">
        <b><i>
          STATUTORY INSTRUMENT
        </i></b>
      </h3>
    </div>
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center">
        <b>
          SCHEDULE
        </b>
      </h4>
    </div><!--col-sm-12-->

    <div class="col-sm-4 col-sm-offset-8">
      <h5 align="right">
        <b>
          (Regulation 26(2))
        </b>
      </h5>
    </div><!--col-sm-4 col-sm-offset-8-->

    <div class="col-sm-12">
      <h5 align="center">
        <b>Form 1</b>
      </h5>
      <h5 align="center">
        <b>
          MINISTRY OF HEALTH
        </b>
      </h5>
      <h5 align="center">
        <b><i>
          Certificate of Condemnation of Food
        </i></b>
      </h5>
      <p align="justify">
        I, <b>{{ila.submission.submitter}}</b> (Public Health Inspector) certify that in accordance with the Health Services (FoodHygiene) Regulations. 1969 the undermentioned items of food have been inspected and condemned as being unfit for human consumption and they have been destroyed or otherwise disposed of by me:
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div view-commodities-no-price=""></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <br><br><br><br>
      <h6>
        <b><i>
          Signature of the Public Health Inspector
          <br><br><br><br>
          <b>Date: {{ila.submission.issuedDate  | date:'dd/MM/yyyy'}}</b>
        </i></b>
      </h6>
    </div><!--col-sm-5 col-sm-offset-1-->
  </div><!--row-->


</div><!--container-->
