<div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="col-sm-3">
      (LOGO)
    </div><!--col-sm-3-->
    <div class="col-sm-6" align="center">
      <h3><b>
        MINISTRY OF HEALTH
      </b></h3>
      <h4><b>
        ENVIRONMENTAL HEALTH DEPARTMENT
      </b></h4>
      <h5>
        3rd Floor, Frank Walcott Building<br>
        Culloden Road, St. Michael BB14018<br>
        BARBADOS, WEST INDIES
      </h5>
    </div><!--col-sm-6-->
    <div class="col-sm-3" align="right">
      (LOGO)
    </div><!--col-sm-3-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-7">
      <h5>
        <b>Our Ref: </b>17/1 Vol. 4
      </h5>
    </div><!--col-sm-7-->
    <div class="col-sm-5">
      <h5>
        Tel. No.: (246) 467-9300 (PABX)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(246) 467-0551<br>
        Fax No.: (246) 426-5570
      </h5>
    </div><!--col-sm-5-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <b>{{current_date | date: 'MMMM d, yyyy'}}</b>
    </div><!--col-sm-3-->
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center"><b><u>
        FREE SALE CERTIFICATE
      </u></b></h5>
      <p>I certify that the products:<br>
      <span ng-repeat="product in ila.submission.commodities"><b>{{product.name}}</b><br></span>
      </p><br>
      <p>are produced by the Company <b>{{ila.submission.supplier.name}}</b> in accordance with all sanitary specifications as required by the Health Services (Food & Hygiene) Regulations, 1969.
        <br><br>
        These products are legally authorized for human consumption in Barbados and are for sale in our country and in other foreign countries.
      </p>

      <table class="table black-border">
        <tr>
          <th class="center-align">DESCRIPTION</th>
          <th class="center-align">UNIT SIZE</th>
        </tr>
        <tr ng-repeat="product in ila.submission.commodities">
          <td><b>{{product.description}}</b></td>
          <td><b>{{product.units[0].unitSize}} {{product.units[0].unitType}}</b></td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--col-sm-10 col-sm-offset-1-->
</div><!--row-->
</div><!--container-->
