<div>
  <div class="row">
    <div class="col-sm-12">
      <h3 align="center">
        <b>
          {{ila.submission.applicant.name}}<br><br>
        </b>
      </h3>

      <h5 align="center">
        {{ila.submission.applicant.name}}<br>
        <b>{{ila.submission.applicant.phone}}</b><br>
        {{ila.submission.applicant.email}}<br>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      {{current_date  | date:'dd/MM/yyyy'}}<br><br>
      Ministry Health/Port Health
      <br><br><br>
      <p>
        Dear Sir, Madam<br><br>
        Please supply an officer to examine the under metioned cargo for as per below particulars.<br><br>
      </p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table>
        <tr>
          <td width="75%"><b>Importer:</b> <br><br></td>
           <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Country of Origin:</b> <br><br></td> 
          <td>{{ila.submission.origin}}<br><br></td>
        </tr>
        <tr>
          <td><b>Vessel or Craft:</b> <br><br></td>
           <td>{{ila.submission.vesselOrCraft}}<br><br></td>
        </tr>
        <tr>
          <td><b>Rotation number:</b> <br><br></td> 
          <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Container #:</b> <br><br></td>
           <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Contents:</b> <br><br></td>
           <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Quantity:</b> <br><br></td>
           <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Weight:</b> <br><br></td>
           <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Place of inspection:</b> <br><br></td>
          <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Requested time of inspection:</b> <br><br></td> 
          <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Entry Date:</b> <br><br></td> 
          <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
      </table>
    </div><!--col-sm-4-->

    <br> <br><br>
    <div class="col-<br><br>sm-8">
      ISLANDIA<br><br>
      1085 of 12/02/2016<br><br>
      TCNU5037395<br><br>
      Confectionery / Chocolates / Biscuits<br><br>
      3324 Pieces<br><br>
      200 kilos<br><br>
      <b>
        Old Mico Garment Factory Complex, Harbour Industrial Park, Harbour Rd Btown
      </b><br><br>
      Friday 19 th February 2016 4.30 <> 8.30<br><br>
      16/02/2016<br><br>
    </div><!--col-sm-8-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      Yours respectfully<br><br>
      Louis Forde<br><br><br><br><br>
      Customs Broker
    </div>
  </div><!--row-->
</div><!--container-->
