<div>


  <div class="row">
    <div class="col-sm-12">
      <h3 align="center">
        <b>
          {{ila.submission.applicant.name}}<br><br>
        </b>
      </h3>

      <h5 align="center">
        <b>{{ila.submission.applicant.address}}</b><br>
        <b>{{ila.submission.applicant.phone}}</b><br>
        {{ila.submission.applicant.email}}<br><br>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      {{current_date  | date:'dd/MM/yyyy'}}<br><br>
      Ministry Health/Port Health
      <br><br><br>
      <p>
        Dear Sir, Madam<br><br>
        Please supply an officer to examine the under metioned cargo for as per below particulars.<br><br>
      </p>
    </div>
  </div><!--row-->


  <div class="row">
    <div class="col-sm-6">
      <span field-name="1" form='form' readonly="true" ila='ila'></span>
      <span field-name="106" form='form' datatype="'String'"></span>
      <span field-name="50" form='form' datatype="'String'"></span>
      <span field-name="108" form='form' datatype="'Date'"></span>
      <span field-name="51" form='form' datatype="'String'"></span>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="2" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.applicant.name">
        </div>
      </div>

      <span field-name="4" form='form' readonly="true" ila='ila'></span>
      <span field-name="107" form='form' datatype="'String'"></span>
      <span field-name="109" form='form' datatype="'String'"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">  
      <div edit-commodities-products-food=""></div>
    </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div ng-if="lpcoForm.$submitted">
    <div ng-messages="lpcoForm.expectedArrival.$error">
        <div class="alert alert-danger" ng-message="required">Please enter the date the goods are expected to arrive in Barbados.</div>
        <div class="alert alert-danger" ng-message="date">Please enter a valid arrival date in the format: {{form.config.date.datepickerformat}}</div>
    </div>
    <div validate-commodities=""></div>
  </div>


</div><!--container-->
