<div>
  <div class="row">
    <div class="col-sm-12">
      <h3 align="center">
        <b>
          Louis Forde<br><br>
        </b>
      </h3>

      <h5 align="center">
        St. Catherine’s St. Philip Barbados<br>
        <b>246 234 8549</b><br>
        lafordelogistics@hotmail.com<br>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      19/02/2016<br><br>
      Ministry Health/Port Health
      <br><br><br>
      <p>
        Dear Sir, Madam<br><br>
        Please supply an officer to examine the under metioned cargo for as per below particulars.<br><br>
      </p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <b>
        Importer:<br><br>
        Country of Origin:<br><br>
        Vessel:<br><br>
        Rotation number:<br><br>
        Container #:<br><br>
        Contents:<br><br>
        Quantity:<br><br>
        Weight:<br><br>
        Place of inspection:::<br><br>
        Requested time of inspection:::<br><br>
        Entry Date:::<br><br>
      </b>
    </div><!--col-sm-4-->
    <div class="col-sm-8">
      <b>
        F W Woolworth & Co (Bdos) Ltd<br><br>
      </b>
      U.S.A<br><br>
      ISLANDIA<br><br>
      1085 of 12/02/2016<br><br>
      TCNU5037395<br><br>
      Confectionery / Chocolates / Biscuits<br><br>
      3324 Pieces<br><br>
      200 kilos<br><br>
      <b>
        Old Mico Garment Factory Complex, Harbour Industrial Park, Harbour Rd Btown
      </b><br><br>
      Friday 19 th February 2016 4.30 <> 8.30<br><br>
      16/02/2016<br><br>
    </div><!--col-sm-8-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      Yours respectfully<br><br>
      Louis Forde<br><br><br><br><br>
      Customs Broker
    </div>
  </div><!--row-->
</div><!--container-->
