<div>
  <div class="row">
    <div class="col-sm-12">
      <h3 align="center">
        <b>
          {{ila.submission.applicant.name}}<br><br>
        </b>
      </h3>

      <h5 align="center">
        <b>{{ila.submission.applicant.address}}</b><br>
        <b>{{ila.submission.applicant.phone}}</b><br>
        {{ila.submission.applicant.email}}<br><br>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      19/02/2016<br><br>
      Ministry Health/Port Health
      <br><br><br>
      <p>
        Dear Sir, Madam<br><br>
        Please supply an officer to examine the under metioned cargo for as per below particulars.<br><br>
      </p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table>
        <tr>
          <td width="75%"><b>Importer:</b> <br><br></td>
           <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Country of Origin:</b> <br><br></td> 
          <td>{{ila.submission.origin}}<br><br></td>
        </tr>
        <tr>
          <td><b>Vessel or Craft:</b> <br><br></td>
           <td>{{ila.submission.vessel}}<br><br></td>
        </tr>
        <tr>
          <td><b>Rotation number:</b> <br><br></td> 
          <td>{{ila.submission.rotationNumber}}<br><br></td>
        </tr>
        <tr>
          <td><b>Container #:</b> <br><br></td>
           <td>{{ila.submission.containerNumber}}<br><br></td>
        </tr>
        <tr>
          <td><b>Place of inspection:</b> <br><br></td>
          <td>{{ila.submission.applicant.name}}<br><br></td>
        </tr>
        <tr>
          <td><b>Requested Date of inspection:</b> <br><br></td> 
          <td>{{ila.submission.dateInspection}}<br><br></td>
        </tr>
        <tr>
          <td><b>Requested time of inspection:</b> <br><br></td> 
          <td>{{ila.submission.timeInspection}}<br><br></td>
        </tr>
        <tr>
          <td><b>Entry Date:</b> <br><br></td> 
          <td>{{ila.submission.entryDate}}<br><br></td>
        </tr>
      </table>
    </div><!--col-sm-4-->

  </div><!--row-->
  <hr>
  <div class="row">
    <div class="col-sm-12">  
      <div view-commodities-products-food=""></div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      Yours respectfully<br><br>
      Louis Forde<br><br><br><br><br>
      Customs Broker
    </div>
  </div><!--row-->



</div><!--container-->
