<div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h5>
        <b><u>
          SCHEDULE FORM 3<br><br>
        </u></b>
      </h5>
      <h4>
        <b>
          MINISTRY OF HEALTH<br><br>
          NOTIFICATION OF FOOD FOR<br><br>
          FURTHER EXAMINATION
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">
          <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" align="center">
          <h4 align="center"><b>Date Imported</b></h4>
          <input type="date" fieldName="" ng-model="ila.submission.dateArrival">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
                <br><br>
          <h4 align="center"><b>Specify type and quantity of food quarantined</b></h4>
          <div edit-commodities-no-price=""></div>
        </div>
      </div>
    </div>
  </div><!--row-->
<br><br>
  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
