<div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h5>
        <b><u>
          SCHEDULE FORM 3<br><br>
        </u></b>
      </h5>
      <h4>
        <b>
          MINISTRY OF HEALTH<br><br>
          NOTIFICATION OF FOOD FOR<br><br>
          FURTHER EXAMINATION
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h6>... Serial Number</h6>
      <h5>
        <b><u>
          To:
        </u></b>
      </h5>
      <h6 align="center">
        <b>Name of Importer</b>
      </h6>
      <h5>
        <b>TAKE NOTICE that the ... Specify type</b>
      </h5>
      <h6 align="center"><b>and quantity of food</b></h6>
      <h5>
        <b>imported by you on the ... day of (Month) (Year)</b>
      </h5>
      <h5>
        <b><i>
          is detained as part of the inspection process for bacteriological and/or chemical analysis by the<br><br>
        </i></b>
      </h5>
      <h6 align="center">
        Agency performing the analysis<br><br><br>
      </h6>
      <h5>
        <b>AND TAKE FURTHER NOTICE</b> that you (Name of Importer)<br><br>
      </h5>
      <h5>
        <i>
          Will be required to <b>PAY THE COST</b> of the examination and if necessary, storage cost, plug charges, the costs of the re-export, destruction or disposal of the food.<br><br><br><br><br>
        </i>
      </h5>

      <h6><i>
        Signature of Import or Agent and Date<br><br><br><br><br>
      </i></h6>

      <h6><i>
        Signature of Environmental Health Officer and Date
      </i></h6>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--col-sm-10 col-sm-offset-1-->
</div><!--row-->
</div><!--container-->
