<div>
<div class="col-sm-offset-1">
  <div class="row">
    <div class="col-sm-11">
      <h4 align="center">
        <b>
          <i>
            STATUTORY INSTRUMENT
          </i>
          <hr class="thick">
        </b>
      </h4>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11">
      <h5 align="center">
        <b>SCHEDULE-</b><i>Cont'd</i>
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-2 col-sm-offset-8">
      <i>
        (Regulation 26A (9))
      </i>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11">
      <h5 align="center">
        <b>
          Form 4<br><br>
          MINISTRY OF HEALTH<br><br>
          <i>
            Unwholesome Food Certificate
          </i><br><br>
        </b>
      </h5>
    </div>
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-2" align="center">
      <h4>765765756</h4>
      <div class="top-border">
      <i>
        Serial Number
      </i>
      </div>
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" align="center">
      <h4>{{ila.submission.applicant.name}}</h4>
      <div class="top-border">
        Name of Importer  
      </div>    
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" align="center">
      <h4>{{ila.submission.applicant.address}}</h4>
      <div class="top-border">
        Address of Importer  
      </div>    
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" align="center">
      <h4>{{ila.submission.carrier.name}}  ({{ila.submission.carrier.idNumber}})</h4>
      <div class="top-border">
      Name and Identification number of the Carrier
      </div>    
    </div>
  </div><!--row-->
  <br><br>



  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" align="center">
      <h4>{{ila.submission.origin}}</h4>
      <div class="top-border">
        Country of origin of food
      </div>    
    </div>
  </div><!--row-->
  <br><br>


  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" align="center">
      <h4>{{ila.submission.typeFoodCategory}}: {{ila.submission.typeFoodDetail}}</h4>
      <div class="top-border">
      Type of food
      </div>    
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" align="center">
      <h4>{{ila.submission.supportingDocumentation}}</h4>
      <div class="top-border">
      Supporting documentation requested<br>
      (Inspection certificates issued in the country of origin,<br>
      temperature control charts from the carrier)
      </div>    
    </div>
  </div><!--row-->
  <br><br>



  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" align="center">
      <p><b>{{ila.submission.inspectionLocation}}</b></p>
      <div class="top-border">
      Premises where the food is examined
      </div>    
    </div>
  </div><!--row-->
  <br><br>



  <!--Next Page-->

  <div class="row">
    <div class="col-sm-11">
      <hr>
    </div>
  </div><!--row-->


  <br>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-12">
          I, {{ila.submission.approvedBy}}, certify that the {{ila.submission.typeFoodCategory}}: {{ila.submission.typeFoodDetail}}, imported by {{ila.submission.applicant.name}} on the (day) day of (month) (year) is unfit for human consumption
          <br><br><br><br>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12" align="center">
          <p><b>{{ila.submission.reason}}</b></p>
          <div class="top-border">
            Reasons for the determination that the food is unfit for human consumption
          </div>    
        </div>
      </div><!--row-->
      <br><br>


        <div class="row">
          <div class="col-sm-6 top-border">
            <h6>
              <i>
                Signature of the Public Health Inspector
              </i>
              <br><br><br>
            </h6>
          </div>
        </div><!--row-->


        <div class="row">
          <div class="col-sm-6">
            <p><b>{{ila.submission.inspectionDate}}</b></p>
            <div class="top-border">
              <h6>
                <i>
                  Date of Inspection
                </i>
                <br><br>
              </h6>
            </div>    
          </div>
        </div><!--row-->
        <br><br>


        <div class="row">
          <div class="col-sm-12">
            <h5 align="center">
              <b>
                Made by the Minister this 21st day of September, 1999.
                <br><br>
              </b>
            </h5>
          </div><!--col-sm-12-->
        </div><!--row-->

        <div class="row">
          <div class="col-sm-12">
            <h5 align="center">
              <b>
                PHILLIP C. GODDARD<br>
                Minister responsible for Health.
                <br><br>
              </b>
            </h5>
          </div><!--col-sm-12-->
        </div><!--row-->
      </div><!--row-->
    </div><!--col-sm-7 col-sm-offset-2-->
  </div><!--row-->
</div><!--col-sm-offset-1-->
</div><!--container-->