<div>
  <div class="row">
    <div class="col-sm-12">
      <h5 align="right">
        A14:209
      </h5>
      <h4 align="center">
        MINISTRY OF HEALTH
      </h4>
      <h4 align="center"><b>
        WHOLESOME FOOD CERTIFICATE
      </b></h4>
      <h2>
        82586
      </h2>
      <h5>
        Serial Number
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row datetime">
    <div class="col-sm-6">
      <label class="control-label">Arrival Date:</label>
      <span class="date">
        <input name="dateArrival" type="date" class="form-control" ng-model="ila.submission.dateArrival" datepicker-popup ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close">
      </span>
    </div>

      <div class="col-sm-6">
        <label class="control-label">Inspection Date:</label>
        <span class="date">
          <input name="inspectionDate" type="date" class="form-control" ng-model="ila.submission.inspectionDate" datepicker-popup ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close">
        </span>
      </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
