<div>
  <div class="row">
    <div class="col-sm-12">
      <h6 align="right">
        Form 3
      </h6>
      <h5 align="center">
        <b>
          THE PESTICIDES CONTROL (APPROVAL OF PESTICIDES)<br>
          REGULATIONS, 1974
        </b>
      </h5>
      <h4 align="center">
        <b>
          APPLICATION FOR A LICENCE TO IMPORT/MANUFACTURE A PESTICIDE
        </b>
      </h4><br>
      <h5 align="right">
        <i>Date: <b>{{current_date | date: 'dd/MM/yyyy'}}</b></i>
      </h5><br><br>

      <div class="row">
        <div class="col-sm-12">
          <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
        </div>
      </div>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
