<div>
  <div class="row">
    <div class="col-sm-12">
      <h6 align="right">
        Form 3
      </h6>
      <h5 align="center">
        <b>
          THE PESTICIDES CONTROL (APPROVAL OF PESTICIDES)<br>
          REGULATIONS, 1974
        </b>
      </h5>
      <h4 align="center">
        <b>
          APPLICATION FOR A LICENCE TO IMPORT/MANUFACTURE A PESTICIDE
        </b>
      </h4><br>
      <h5 align="right">
        <i>Date...</i>
      </h5><br><br>
      <h5>
        The Secretary<br>
        Pesticides Control Board<br>
        Ministry of Agriculture<br>
        Graeme Hall<br>
        Christ Church
      </h5>

      <p>
        I ... (name)<br>
        of ... (address)<br>
        hereby apply to the Pesticides Control Board for a licence to import/manufacture the pesticide ... containing the active ingredients ...<br><br><br>
        in the formulations<br><br><br><br><br><br>
      </p>

      <p align="right">
        <i>Applicant</i>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
