<div>
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
  <!--PAGE 1 BEGIN-->
  <div class="row">
    <div class="col-sm-12">
      <h5 align="right">
        Form 1
      </h5>
      <h5 align="center">
        <b>
          THE PESTICIDES CONTROL (APPROVAL OF PESTICIDES)<br><br>
          REGULATIONS, 1974<br><br>
        </b>
        APPLICATION FOR APPROVAL OF A PESTICIDE
      </h5>
      <h5 align="right">
        Date: ...
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5>
        1. Trade Name of Product:
      </h5><br>
      <h5>
        2a. Name of applicant:
      </h5>
      <h5>
        2b. Applicant’s Physical (Street) Address:
      </h5><br>
      <h5>
        2c. Applicant’s Postal Address:
      </h5><br><br>
      <h5>
        3. Type of Pesticide:
      </h5>
      <h5>
        4. Intended Use
      </h5><br>
      <h5>
        5a. Name of Manufacturer of Pesticides Formulation:
      </h5><br>
      <h5>
        5b. Manufacturer’s Physical (Street) Address:
      </h5><br><br>
      <h5>
        5c. Manufacturer’s Postal Address:
      </h5><br><br>
  <!--PAGE 1 END  -->
  <!--PAGE 2 BEGIN-->
      <h5>
        5d. Manufacturer’s Email Address:
      </h5>
      <h5>
        6a. Is the product registered in the country of manufacture if no, give reasons ...
      </h5><br><br><br>
      <h5>
        7. Countries in the Caribbean for which the product is registered:
      </h5><br><br>
      <div class="row">
        <div class="col-sm-12">
          <h5>
            8. Details of Pesticide Formulation:
          </h5>
        </div><!--col-sm-12-->
        <div class="col-sm-4">
          <h5><u>
            Constituents
          </u></h5><br>
          <p>
            Active Ingredients<br><br>
            Non-active Ingredients
          </p>
        </div><!--col-sm-4-->
        <div class="col-sm-4">
          <h5><u>
            Concentration
          </u></h5>
          <p>
            [g/L, mg/L, g/kg, mg/kg]
          </p>
        </div><!--col-sm-4-->
        <div class="col-sm-4">
          <h5><u>
            Percentage
          </u></h5>
        </div><!--col-sm-4-->
      </div><!--row-->
      <h5>
        9. Type of formulation:
      </h5>
      <h5>
        10. Specific Gravity (liquids):
      </h5>
      <div class="row">
        <div class="col-sm-12">
          <h5>
            11. LD50 of Pesticide – Active Ingredient
          </h5>
          <table class="table no-border-td">
            <tr>
              <td>
                Animal species tested
              </td>
              <td>
                ORAL
              </td>
              <td>
                DERMAL
              </td>
              <td>
                INHALATION
              </td>
            </tr>
            <tr>
              <td>
                a
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                b
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                c
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div><!--col-sm-12-->
      </div><!--row-->
  <!--PAGE 2 END  -->
  <!--PAGE 3 BEGIN-->
      <div class="row">
        <div class="col-sm-12">
          <h5>
            12. LD50 of Pesticide – Formulation
          </h5>
          <table class="table no-border-td">
            <tr>
              <td>
                Animal species tested
              </td>
              <td>
                ORAL
              </td>
              <td>
                DERMAL
              </td>
              <td>
                INHALATION
              </td>
            </tr>
            <tr>
              <td>
                a
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                b
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                c
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div><!--col-sm-12-->
      </div><!--row-->
      <h5>
        13. Methods of pesticide formulation and residue analysis
      </h5>
      <h5>
        Pesticide:
      </h5>
      <h5>
        Formulation:
      </h5>
      <h5>
        14. Toxic effects on persons using or handling the pesticides:
      </h5>
      <h5>
        Ingestion:
      </h5><br>
      <h5>
        Inhalation:
      </h5><br>
      <h5>
        Absorption through the skin:
      </h5><br>
      <h5>
        15. Toxic effects on the environment and non-target animals
      </h5>
      <h5>
        a. Birds
      </h5>
      <h5>
        b. Fish
      </h5>
      <h5>
        c. Bees
      </h5>
      <h5>
        d. Other wild life
      </h5>
  <!--PAGE 3 END  -->
  <!--PAGE 4 BEGIN-->
      <h5>
        e. Domestic animals
      </h5>
      <h5>
        f. Water (Kow)
      </h5>
      <h5>
        g. Other environmental effects
      </h5>
      <h5>
        16. First Aid; Medical Treatment Advice; Antidote:
      </h5>
      <h5>
        First Aid:
      </h5><br>
      <h5>
        Medical Treatment:
      </h5><br>
      <h5>
        Antidote(s):
      </h5><br>
      <h5>
        17. Crops on which pesticide may be used:
      </h5><br><br><br>
      <h5>
        18. State crops on which the pesticides will be used locally
      </h5><br><br>
      <h5>
        19. Pests on which pesticide is to be used:
      </h5><br><br>
      <h5>
        20. Maximum Residual Limits (MRL) for recommended crops
      </h5><br>
  <!--PAGE 4 END-->
  <!--PAGE 5 BEGIN-->
      <h5>
        21. Tolerance levels as prescribed by FAO / WHO
      </h5><br>
      <h5>
        22a. Manufacturer’s recommended frequency of application
      </h5><br>
      <h5>
        22b. Manufacturer’s recommended rate of application
      </h5><br>
      <h5>
        22c. Manufacturer’s recommended re-entry period:
      </h5>
      <h5>
        22d. Recommended period between final application and harvest (PHI)
      </h5><br>
      <h5>
        23. Other information (Usage, etc.)
      </h5><br><br><br>
      <h5>
        24. Details of pesticides imported with the request of this license:
      </h5>
      <h5>
        a Size(s) of container(s) [ml, L, g, kg]
      </h5><br><br>
      <h5>
        b. Number of containers in this shipment
      </h5><br><br>
  <!--PAGE 5 END-->
  <!--PAGE 6 BEGIN-->
      <h5>
        b Description of container
      </h5><br><br>
      <!--Revisar si las letras van así o en el documento se equivocaron escribiendo el orden-->
      <h5>
        c Method of attachment of label
      </h5>
      <h5>
        e. Amount annually
      </h5>
      <div class="row">
        <div class="col-sm-12">
          <h5>
            25a. Details of method of storage:
          </h5>
          <div class="row">
            <div class="col-sm-1" align="right">
              <h5>
                a.
              </h5><br><br>
              <h5>
                b.
              </h5><br><br>
              <h5>
                c.
              </h5>
            </div><!--col-sm-1-->
            <div class="col-sm-11">
              <h5>
                Manufacturer’s recommendations:
              </h5><br><br>
              <h5>
                Address of storage area:
              </h5><br><br>
              <h5>
                Description of storage area:
              </h5>
              <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                  <h5>Size room (sq ft)</h5>
                  <h5>Wood or stone</h5>
                  <h5>Security</h5>
                  <h5>Ventilation</h5>
                  <h5>Elevation (describe)</h5>
                  <h5>Fire safety devices:</h5>
                </div><!--col-sm-11 col-sm-offset-1-->
              </div><!--row-->
            </div><!--col-sm-11-->
          </div><!--row-->
        </div><!--col-sm-12-->
      </div><!--row-->
      <p>
        DECLARATION: I declare that to the best of my knowledge the information I have provided to register this pesticide is true<br>
        NAME OF APPLICANT IN FULL:<br>
        SIGNATURE:
      </p>
      <div class="row">
        <div class="col-sm-6">
          <p>
            DATE:
          </p>
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          <p>
            COMPANY STAMP:
          </p>
        </div><!--col-sm-6-->
      </div><!--row-->
  <!--PAGE 6 END  -->
  <!--PAGE 7 BEGIN-->
      <div class="row">
        <div class="col-sm-12">
          <p><b>
            THE ORIGINAL COPY OF THE APPLICATION MUST BE ACCOMPANIED BY THE FOLLOWING SUPPORTING DOCUMENTATION:
          </b></p>
          <p>
            PHYSICAL AND CHEMICAL PROPERTIES AND EFFICACY
            <br><br>
            ANALYTICAL METHODS FOR THE ACTIVE INGREDIENT AND RESIDUES
            <br><br>
            TOXICOLOGY, FIRST AID AND MEDICAL ADVICE
            <br><br>
            RESIDUES IN FOOD
            <br><br>
            ENVIRONMENTAL FATE
            <br><br>
            ECOTOXICOLOGY
            <br><br>
            3 COPIES OF COLOURED LABEL IN ITS ORIGINAL FORMAT
            <br><br>
            FORMULATION DETAILS
            <br>
            MATERIAL SAFETY DATA SHEET FOR PRODUCT
          </p>
        </div><!--col-sm-12-->
      </div><!--row-->

      <hr class="thick">

      <div class="row">
        <div class="col-sm-12">
          <h5 align="center"><b>
            THIS SECTION IS FOR OFFICIAL USE ONLY
          </b></h5>
          <h5>
            DATE APPLICATION ACCEPTED<br>
            APPLICATION FILE NUMBER<br>
            NAME IN FULL OF OFFICER PROCESSING APPLICATION:
          </h5><br><br>
          <h5>
            SIGNATURE
          </h5><br>
          <h5>
            Year/Month/Day
          </h5>
        </div><!--col-sm-12-->
      </div><!--row-->
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--col-sm-8 col-sm-offset-2-->
</div><!--row-->
</div><!--container-->
