<div>
  <!--PAGE 1 BEGIN-->
  <div class="row">
    <div class="col-sm-12">
      <h5 align="right">
        Form 1
      </h5>
      <h5 align="center">
        <b>
          THE PESTICIDES CONTROL (APPROVAL OF PESTICIDES)<br><br>
          REGULATIONS, 1974<br><br>
        </b>
        APPLICATION FOR APPROVAL OF A PESTICIDE
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <hr class="thick">

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <p><b>
            THE ORIGINAL COPY OF THE APPLICATION MUST BE ACCOMPANIED BY THE FOLLOWING SUPPORTING DOCUMENTATION:
          </b></p>
          <p>
            PHYSICAL AND CHEMICAL PROPERTIES AND EFFICACY
            <br>
            ANALYTICAL METHODS FOR THE ACTIVE INGREDIENT AND RESIDUES
            <br>
            TOXICOLOGY, FIRST AID AND MEDICAL ADVICE
            <br>
            RESIDUES IN FOOD
            <br>
            ENVIRONMENTAL FATE
            <br>
            ECOTOXICOLOGY
            <br>
            3 COPIES OF COLOURED LABEL IN ITS ORIGINAL FORMAT
            <br>
            FORMULATION DETAILS
            <br>
            MATERIAL SAFETY DATA SHEET FOR PRODUCT
          </p>
        </div><!--col-sm-12-->
      </div><!--row-->
    </div><!--col-sm-12-->
  </div><!--row-->
  <br>
  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
