<div>
  <div class="row">
    <div class="col-sm-6">
      <span field-name="4" form='form' readonly="true" ila='ila'></span>
      <span field-name="5" form='form' readonly="true" ila='ila'></span>
      <span field-name="6" form='form' datatype="'Date'"></span>
    </div>
    <div class="col-sm-6">
      <span field-name="1" form='form' readonly="true" ila='ila'></span>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="2" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.applicant.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="8" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.supplier.name">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">  
      <div edit-commodities-no-price=""></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>  
      <h4>Please Note</h4>
      <ul>
        <li>Attach any relevant information that can assist in the processing of this Import Permit Application.</li>
        <li>Applications will be processed within five (5) working days from date of receipt.</li>
        <li>Due to the danger of introducing Viral and Bacteria diseases, Import Permit will NOT be issued for the importation of Citrus, Avocado or Mango plants.</li>
        <li>The original Import Permit Application must be submitted before the Import Permit is issued.</li>
        <li>INCOMPLETE APPLICATIONS WILL NOT BE PROCESSED</li>
      </ul>
    </div>
  </div>

  <span field-name="33" form='form' options='["Single","Multiple"]'></span>
  <span field-name="34" form='form'></span>
  <span field-name="35" form='form'></span>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div ng-if="lpcoForm.$submitted">
    <div ng-messages="lpcoForm.expectedArrival.$error">
        <div class="alert alert-danger" ng-message="required">Please enter the date the goods are expected to arrive in Barbados.</div>
        <div class="alert alert-danger" ng-message="date">Please enter a valid arrival date in the format: {{form.config.date.datepickerformat}}</div>
    </div>
    <div validate-commodities=""></div>
  </div>
</div>
