<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        <b>
          PQ Customs: <span class="big">{{ila.submission.serialNumberCertificate}}</span>
        </b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/ministry-agriculture.png" class="img-responsive">
    </div>
    <div class="col-sm-offset-1 col-sm-6" align="center">
      <h4 align="center">
        <b>
          MINISTRY OF AGRICULTURE<br>
          AND RURAL DEVELOPMENT
        </b>
      </h4>
      <h6 align="center">
        <b>
          P.O. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES
        </b>
      </h6>
    </div><!--col-sm-6-->
    <div class="col-sm-3" align="right">
      <img src="/Forms/img/logos/public-sector-reform6.png" class="img-responsive">
    </div>
  </div><!--row-->


  <div class="row">
    <div class="col-sm-3">
      <h6>
        <b>
          <i>
            Our Ref:
          </i>
        </b>
      </h6>
    </div>
    <div class="col-sm-6">
      <h6 align="center">
        <b>
          <i>
            Your Ref: {{ila.submission.referenceNumber}}
          </i>
        </b>
      </h6>
    </div>
    <div class="col-sm-3">
      <h6 align="right">
        <b>
          Tel:(246) 434‐5000<br>
          Fax No.:(246) 420-8444
        </b>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h6 align="center">
        <b>
          <i><!--REVISAR TEXTO, NO PUDE LEER BIEN EL PDF-->
            Plant Quarantine Division, Crumpton Sirce,t Bridgetown - Tel: (246) 426‐1222 Fax: (246) 426‐6927
          </i>
        </b>
      </h6>
    </div>
  </div><!--row-->
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <b>
        <h5>
          Date: {{current_date  | date:'dd/MM/yyyy'}}
        </h5><br><br>
        <p>
          The Comptroller of Customs,
          <br><br>
          Please process entry in absence of a Phytosanitary/Treatment certificate.
          <br><br>
          Plant Quarantine will perform the necessary inspection and supervise any treatment(s) as may be warranted.
        </p>
      </b>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br><br><br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <hr>
  <h4>Contents:</h4>
  <div class="row">
    <div class="col-sm-12">
      <div view-commodities-no-price=""></div>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <b>
        <p>
          NB. This document does not absolve the contents listed above from an on-site Inspection by Plant Quarantine
        </p><br><br>
        <p>
          <u>
            Stamp of Service
          </u>
        </p>
      </b>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br><br>
  <b>{{ila.submission.submitter}}</b> <br>
  <div class="row">
    <div class="col-sm-4 top-border">
      <b>
        Plant Quarantine Officer
      </b>
    </div>
  </div><!--row-->
</div><!--container-->
