<div>
  <div class="row">
    <div class="col-sm-12">
      <h5 align="right">
        Agr. 74
      </h5>
      <h3 align="center">
        PERMIT TO IMPORT PLANT MATERIAL<br>
        Class C
      </h3><br>
      <h4 align="center">
        PLANT PROTECTION ACT - 2007‐53
      </h4><br>
      <h4>
        No. <span class="big"><b></b></span>
      </h4>
      <h4 align="center">
        SCHEDULE II
        <br><br>
        MINISTRY OF AGRICULTURE<br>
        BARBADOS
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h6>
        <b>
          *Strike out which of these conditions are inapplicable to the class of planting materials to be imported
        </b>
      </h6>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-6">
      <h5 align="center">
        <i>
          For Chief Agricultural Office
        </i>
      </h5><br>
      <h5 align="center">
        <i>
          Date: {{current_date | date: 'MMMM d, yyyy'}}
        </i>
      </h5>
    </div><!--col-sm-6 col-sm-offset-6-->
  </div><!--row-->
</div><!--container-->
