<div>
  <div class="row">
    <div class="col-sm-3">
      (LOGO)
    </div>
    <div class="col-sm-6" align="center">
      <h4>
        <b>
          MINISTRY OF AGRICULTURE, FOOD, FISHERIES,<br>
          AND WATER RESOURCE MANAGEMENT
        </b>
      </h4>
      <h6>
        P.O. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES
      </h6>
    </div><!--col-sm-6-->
    <div class="col-sm-3" align="right">
      (LOGO)
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Our Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Your Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <h6 align="right">
        <i>Tel: (246) 426‐1222</i><br><br>
        <i>Fax: (246) 426‐6927</i>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center">
        <b>
          Plant Quarantine Division, Crumpton Street, Bridgetown
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th>
            <h4 align="center">
              <b>
                Specimen Samples - Plant Pests/ Prohibited Materials Interceptions
              </b>
            </h4>
          </th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>
        <b>
          Attach copies of documents relevant to the inspection (e.g. Phytosanitary Certificates, Import Permits, Treatment Certificates, Shipment Invoices etc.)
        </b>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
