<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/ministry-agriculture.png" class="img-responsive">
    </div>
    <div class="col-sm-offset-1 col-sm-6" align="center">
      <h4>
        <b>
          MINISTRY OF AGRICULTURE, FOOD, FISHERIES,<br>
          AND WATER RESOURCE MANAGEMENT
        </b>
      </h4>
      <h6>
        P.O. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES
      </h6>
    </div><!--col-sm-6-->
    <div class="col-sm-3" align="right">
      <img src="/Forms/img/logos/public-sector-reform6.png" class="img-responsive">
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Our Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Your Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <h6 align="right">
        <i>Tel: (246) 426‐1222</i><br>
        <i>Fax: (246) 426‐6927</i>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        <b>
          Plant Quarantine Division, Crumpton Street, Bridgetown, St. Michael
        </b>
      </h4>
      <h4>
        <b>
          PLANT QUARANTINE/ CUSTOMS WAIVER APPLICATION
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef1" sf-model="form.data"></div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-12">
	    <div edit-commodities-no-price=""></div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef2" sf-model="form.data"></div>
    </div>
  </div>

</div><!--container-->
