<div>
  <div class="row">
    <div class="col-sm-3">
      (LOGO)
    </div>
    <div class="col-sm-6" align="center">
      <h4>
        <b>
          MINISTRY OF AGRICULTURE, FOOD, FISHERIES,<br>
          AND WATER RESOURCE MANAGEMENT
        </b>
      </h4>
      <h6>
        P.O. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES
      </h6>
    </div><!--col-sm-6-->
    <div class="col-sm-3" align="right">
      (LOGO)
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Our Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Your Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <h6 align="right">
        <i>Tel: (246) 426‐1222</i><br><br>
        <i>Fax: (246) 426‐6927</i>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center">
        <b>
          Plant Quarantine Division, Crumpton Street, Bridgetown
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th>
            <h4 align="center">
              <b>
                Specimen Samples - Plant Pests/ Prohibited Materials Interceptions
              </b>
            </h4>
          </th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th colspan="2">Date of Collection<br><br></th>
          <th colspan="2">Port of Entry (P.Q. Station)</th>
        </tr>
        <tr>
          <th>Commodity<br><br></th>
          <th>Quantity</th>
          <th>Weight (kgs)</th>
          <th>Sample Collected</th>
        </tr>
        <tr>
          <th colspan="3">Country of Origin<br><br></th>
          <th>Date of Entry</th>
        </tr>
        <tr>
          <th colspan="4">Consignee & Address<br><br><br></th>
        </tr>
        <tr>
          <th colspan="2">Inpecting P.Q. Officer<br><br></th>
          <th colspan="2">P.Q. Group Coordinator</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table with-border">
        <tr>
          <th colspan="3" class="with-top">Problem Encountered</th>
        </tr>
        <tr>
          <th class="no-top">[ ] Pests:</th>
          <th class="no-top">[ ] Disease:</th>
          <th class="no-top right-align">[ ] Indeterminate</th>
        </tr>
        <tr>
          <th class="no-top">[ ] Prohibited Material:</th>
          <th class="no-top" colspan="2">[ ] Other:</th>
        </tr>
        <tr>
          <th colspan="3" class="with-top">Observations<br><br><br><br><br><br></th>
        </tr>
        <tr>
          <th class="with-top" colspan="3">Action Taken:</th>
        </tr>
        <tr>
          <th class="no-top">[ ] Held Pending Further Information</th>
          <th class="no-top" colspan="2">[ ] Held Pending Pest/Disease Identification</th>
        </tr>
        <tr>
          <th class="no-top">[ ] Confiscated</th>
          <th class="no-top" colspan="2">[ ] Other:</th>
        </tr>
        <tr>
          <th class="no-top" colspan="3">Details:<br><br></th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table with-border">
        <tr>
          <th class="with-top" colspan="3">Sample Submitted to:</th>
        </tr>
        <tr>
          <th class="no-top">[ ] Plant Pathology</th>
          <th class="no-top">[ ] Entomology</th>
          <th class="no-top">[ ] Other:</th>
        </tr>
        <tr>
          <th class="with-top" colspan="3">
            Diagnosis/ Recommendations
            <br><br><br><br>
          </th>
        </tr>
        <tr>
          <th class="no-top" colspan="2">Verified by:</th>
          <th class="no-top">Date:</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        <b>
          Attach copies of documents relevant to the inspection (e.g. Phytosanitary Certificates, Import Permits, Treatment Certificates, Shipment Invoices etc.)
        </b>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
