<div>

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center">
            MINISTRY OF AGRICULTURE
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
      <h5>
        Date:&nbsp;  {{ila.submission.dateInspection}}
      </h5>
    </div>
  </div><!--row-->
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is TO CERTIFY THAT the undermentioned has been inspected. and found to be apparently free from plant pests and diseases and may be delivered.
      </p>
      <p><b>Consigned to:</b> {{ila.submission.consignee.name}} </p>
      <p><b>Place of origin:</b> {{ila.submission.origin}}</p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br><br>
  <div class="row">
    <div class="col-sm-12">
      <p align="center">
        Signed 
        <br><br>
      for Chief of Agricultural Officer
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

</div><!--container-->
