<div>
  <div class="row">
    <div class="col-sm-12">
      <h5 align="right">
        Agr. 74
      </h5>
      <h3 align="center">
        PERMIT TO IMPORT PLANT MATERIAL<br>
        Class C
      </h3><br>
      <h4 align="center">
        PLANT PROTECTION ACT - 2007‐53
      </h4><br>
      <h4>
        No. <span class="big"><b>2909</b></span>
      </h4>
      <h4 align="center">
        SCHEDULE II
        <br><br>
        MINISTRY OF AGRICULTURE<br>
        BARBADOS
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        Permission is hereby given to ...<br>
        of ...<br>
        to import into Barbados from ...<br>
        <br><br><br>
      </p>
      <p>
        *2. The importation will be subject to the following conditions:‐
      </p>
    </div><!--col-sm-12-->
    <div class="col-sm-1" align="right">
      <p>(a)</p><br><br>
      <p>(b)</p><br>
      <p>(c)</p><br>
      <p>(d)</p><br><br><br><br>
      <p>(e)</p>
    </div>
    <div class="col-sm-11">
      <p>
        The material must be accompanied by a certificate from responsible authority in the country of export that the material has been inspected and found free of any pest or disease.
      </p><br>
      <p>
        The material shall be inspected by the Chief Agricultural Officer before importation into this Island.
      </p><br>
      <p>
        The material shall be disinfected or fumigated to the satisfaction of the Chief Agricultural Officer before being landed into this Island.
      </p><br>
      <p>
        ...<br>
        ...<br>
        ...<br>
        ...<br>
        ...
      </p>
      <p>
        U.K...<br>
        ...
      </p>
    </div><!--col-sm-11-->
    <div class="col-sm-12">
      <h6>
        <b>
          *Strike out which of these conditions are inapplicable to the class of planting materials to be imported
        </b>
      </h6>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-6">
      <h5 align="center">
        <i>
          For Chief Agricultural Office
        </i>
      </h5><br>
      <h5 align="center">
        <i>
          Date:
        </i>
      </h5>
    </div><!--col-sm-6 col-sm-offset-6-->
  </div><!--row-->
</div><!--container-->
