<div>
  <div class="row">
    <div class="col-sm-3">
      (LOGO)
    </div>
    <div class="col-sm-6" align="center">
      <h4>
        <b>
          MINISTRY OF AGRICULTURE, FOOD, FISHERIES,<br>
          AND WATER RESOURCE MANAGEMENT
        </b>
      </h4>
      <h6>
        P.O. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES
      </h6>
    </div><!--col-sm-6-->
    <div class="col-sm-3" align="right">
      (LOGO)
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Our Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <br>
      <h6>
        <i>Your Ref:</i>
      </h6>
    </div>
    <div class="col-sm-4">
      <h6 align="right">
        <i>Tel: (246) 426‐1222</i><br>
        <i>Fax: (246) 426‐6927</i>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        <b>
          Plant Quarantine Division, Crumpton Street, Bridgetown, St. Michael
        </b>
      </h4>
      <h4>
        <b>
          PLANT QUARANTINE/ CUSTOMS WAIVER APPLICATION
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table with-border">
        <tr>
          <th colspan="3" class="with-top">1. Name of Importer</th>
        </tr>
        <tr>
          <th colspan="3" class="no-top">Address</th>
        </tr>
        <tr>
          <th class="no-top">Contact Numbers</th>
          <th class="no-top right-align">(Tel.)</th>
          <th class="no-top right-align">(Cell.)</th>
        </tr>
        <tr>
          <th class="no-top"></th>
          <th class="no-top right-align">(Fax)</th>
          <th class="no-top right-align">(Other)</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--Table 2-->
    <div class="col-sm-12">
      <table class="table table-bordered black-border">
        <tr>
          <th colspan="3">
            2. Description of Consignment/ Commodity
          </th>
        </tr>
        <tr>
          <th class="center-align">QUANTITY</th>
          <th class="center-align">ITEM</th>
          <th class="center-align">WEIGHT</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--Table 3-4-->
    <div class="col-sm-12">
      <table class="table table-bordered black-border">
        <tr>
          <th>3. Container #:</th>
          <th>4. Vessel:</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--Table 5-6-->
    <div class="col-sm-12">
      <table class="table table-bordered black-border">
        <tr>
          <th>5. Country of Origin:</th>
          <th>6. BL # / AWB #:</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered black-border no-top-td no-bottom-th">
        <tr>
          <th>7. Date of Arrival:</th>
          <th>8. Rotation #:</th>
          <th>9. Date of Declaration:</th>
        </tr>
        <tr>
          <td>(DD/MM/YYYY)</td>
          <td></td>
          <td>(DD/MM/YYYY)</td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--Table 10-->
    <div class="col-sm-12">
      <table class="table table-bordered black-border">
        <tr>
          <th>10. Place of Inspection:</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--Table 11-->
    <div class="col-sm-12">
      <table class="table with-border">
        <tr>
          <th colspan="3" class="with-top">11. Customs Broker:</th>
        </tr>
        <tr>
          <th colspan="3" class="no-top">Address:</th>
        </tr>
        <tr>
          <th class="no-top">Contact Numers:</th>
          <th class="no-top right-align">(Tel.)</th>
          <th class="no-top right-align">(Cell.)</th>
        </tr>
        <tr>
          <th class="no-top"></th>
          <th class="no-top right-align">(Fax)</th>
          <th class="no-top right-align">(Other)</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table with-border">
        <tr>
          <td class="with-top">(Name (Please Print))</td>
          <td class="with-top">(Signature)</td>
          <td class="with-top">(Date)</td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table with-border">
        <tr>
          <th class="center-align active with-top" colspan="3"><i>OFFICIAL USE ONLY</i></th>
        </tr>
        <tr>
          <th class="with-top">Waiver Type:</th>
          <th class="with-top">COMMERCIAL [ ]</th>
          <th class="with-top">NON-COMMERCIAL [ ]</th>
        </tr>
        <tr>
          <th colspan="3" class="no-top">Waiver #:</th>
        </tr>
        <tr>
          <th class="no-top">Date Issued:</th>
          <th class="no-top right-align">P.Q. Inspector:</th>
          <th class="no-top"></th>
        </tr>
        <tr>
          <th colspan="3" class="no-top">Other Details/ Remarks:</th>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
