<div>
  <div class="row">
    <div class="col-sm-12">
      <h6 align="right">
        <b>Agr. 1</b>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        <b>
          MINISTRY OF AGRICULTURE, FOOD AND FISHERIES
        </b>
      </h4>
      <h3>
        <b>
          PHYTOSANITARY CERTIFICATE
        </b>
      </h3>
      <h4>
        <b>
          PLANT PROTECTION SERVICE
        </b>
      </h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <h5>
        OF BARBADOS, W.I.
      </h5>
    </div>
    <div class="col-sm-6">
      <h5 align="right">
        No. <span class="bigger">56300</span>
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p align="justify">
        This is to certify that the plants, parts of plants or plant products described below or representative samples of them were thoroughly examined on (date) ... by (name) ... an authorised officer of the (service) ... PLANT PROTECTION QUARANTINE and were found to the best of his knowledge to be substantially free from injurious diseases and pests; and that the consignment is believed to conform with the current phytosanitary regulations of the importing country both as stated in the additional declaration hereon and otherwise.
      </p>

      <hr class="thick">

      <p>
        Fumigation or disinfection treatment (if required by ímporting country)<br>
        Date ... Treatment ...<br>
        Duration of Exposure/temperature ...<br>
        Chemical and Concentration or temperature ...
      </p>

      <hr class="thick">
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4">
      <h5>
        Additional Declaration
      </h5>
      (STAMP)
      <h5>
        <i>
          (Stamp of the Service)
        </i>
      </h5>
    </div><!--col-sm-4-->
    <div class="col-sm-8">
      ...<br>
      ...<br>
      <p align="center">(Signature)</p><br>
      <h4 align="right">
        <b>PLANT QUARANTINE OFFICER</b>
      </h4>
      <h5 align="center">(Rank)</h5>
    </div><!--col-sm-8-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h4 align="center">
        <b>DESCRIPTION OF THE CONSIGNMENT</b>
      </h4>
      <p>
        Name and address of exporter ...<br>
        Name and address of consignee ...<br>
        Number and description of packages ...<br>
        Distinguishing marks ... Origin ...<br>
        Means of conveyance ... Point of entry ... <br>Quantity and name of produce (including Botanical name if required by importing country)
      </p>
      <br><br><br><br><br><br><br><br><br>
      <p align="justify">
        No liability shall attach to ... or to any officer or representative of the Ministry with respect to this Certificate.
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
