<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/ministry-agriculture.png" class="img-responsive">
    </div>
    <div class="col-sm-offset-1 col-sm-6" align="center">
      <h4 align="center">
        <b>
          MINISTRY OF AGRICULTURE, FOOD,<br>
          FISHERIES, AND WATER RESOURCE
        </b>
      </h4>
      <h6 align="center">
        <b>
          P.O. BOX 505, GRAEME HALL, CHRIST CHURCH, BARBADOS, WEST INDIES<br><br>
        </b>
      </h6>
    </div><!--col-sm-6-->
    <div class="col-sm-3" align="right">
      <img src="/Forms/img/logos/public-sector-reform6.png" class="img-responsive">
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-2">
      <h6>
        <b>
          Our Ref:
        </b>
      </h6>
    </div>
    <div class="col-sm-7" align="center">
      <h6>
        <b>
          Your Ref:
        </b>
      </h6>
    </div>
    <div class="col-sm-2" align="right">
      <h6>
        <b>
          Tel: (246) 426‐1222,<br>
          Fax (246) 426‐6927
        </b>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11">
      <h6 align="center">
        Plant Quarantine Division<br>
        Tel: (246) 426‐1222, Fax (246) 426‐6927<br>
        Email: <b>quarantine_bdos@Caribsurf.com</b>
      </h6>
    </div><!--col-sm-11-->
  </div><!--row-->
  <br> <br>
  <div class="row">
    <div class="col-sm-11">
        <b>Consignee/Broker:</b> {{ila.submission.consignee.name}}<br>
        <b>Address:</b> {{ila.submission.consignee.address}}<br>
        <b>Telephone No:</b> {{ila.submission.consignee.phone}}<br>
        <b>Date:</b> {{ila.submission.entryDate}}<br><br>


      <h5>
        Oficer-in-Charge<br>
        Plant Quarantine<br>
        Crumpton Street<br>
        St. Michael<br><br>
      </h5>

      <p>
        Dear Sir,<br><br>

        Please provide the services of a Plant Quantine Officer to examine the under mentioned cargo es per particulars below.
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11">
      <p>
          <b>COUNTRY OF ORIGIN:</b> {{ila.submission.consignee.name}}<br>
          <b>VESSEL: {{ila.submission.vesselOrCraft}}</b><br>
          <b>ROTATION # & DATE:</b> {{ila.submission.rotationNumber}} {{ila.submission.dateArrival}}<br>
          <b>CONTAINER NO:/AWB NO:</b> {{ila.submission.containerNumber}}<br>
          <b>PHYTOSANITARY CERTIFICATE NO:/WAIVER NO:</b> {{ila.submission.phytosanitaryCertificate}}<br>
          <b>IMPORTS PERMIT NO:</b> {{ila.submission.approvalNumber}}<br>
          <b>DATE & TIME OF INSPECTION:</b> {{ila.submission.dateInspection}}  {{ila.submission.timeInspection}}<br>
          <b>PLACE OF INSPECTION (With brief description/direction):</b> {{ila.submission.inspectionLocation}}<br>
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div view-commodities-no-price=""></div>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-11">
        N.B Please attach ORIGINAL Phytosanitary and or Fumigation Certificate.<br><br>
        Yours faithfully,<br><br><br>
        <div class="col-sm-2 top-border">
          <h6>
            Consignee/Broker
          </h6>
        </div>
    </div><!--col-sm-11-->
  </div><!--row-->
</div><!--container-->
