<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        <b>Memorandum of Understanding between <u>{{ila.submission.applicant.name}}</u> and the Ministry of Agriculture for the Waiver of Duties and Taxes on an Agricultural Vehicle</b><br><br><br>
        Preconditions of Concession
      </h5>
    </div><!--col-sm-12-->
  </div>

  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        1.
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p>
        Recipients of this concession who have established enterprises must have submitted proof of recent annual gross revenue of at least $60,000.
      </p>
    </div><!--col-sm-11-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        2.
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p>
        Recipients who cannot show recent annual gross revenue of $60,000 or who are establishing new ventures must have submitted a 3-year business plan detailing their proposed activities. It is expected that within 3 years such enterprises will show a minimum of $60,000 in annual revenue.
      </p>
    </div><!--col-sm-11-->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h5>Conditions of Concession</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        1
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        The vehicle cannot be sold or otherwise disposed of within five (5) years of purchase unless the unexpired portion of duties and taxes are repaid or else waived by the Minister responsible for Agriculture.
      </p>
    </div><!--col-sm-1-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        2
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        The recipient must remain in the business of agriculture for at least five (5) years following the date of the letter of notification.
      </p>
    </div><!--col-sm-1-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        3
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        The special identification number must be affixed to both front doors of the vehicle.
      </p>
    </div><!--col-sm-1-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        4
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        The vehicle must be presented to the Ministry of Agriculture within seven (7) working days of purchase to confirm that the registration number was affixed.
      </p>
    </div><!--col-sm-1-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        5
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        Applications for the duty free concession on agricultural vehicles will only be considered once every five (5) years.
      </p>
    </div><!--col-sm-1-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        6
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        Recipients are required to cooperate with the MA with respect to inspection of the agricultural activities of the enterprise and to respond to questionnaires and other data gathering methods.
      </p>
    </div><!--col-sm-1-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        7
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        Failure to satisfy any of the above conditions will result in the total duties and taxes waived being repayable, or the vehicle being seized by the Comptroller of Customs in the event of the liability not being settled.
      </p>
    </div><!--col-sm-1-->
  </div>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>
        8
      </p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p align="justify"><!--1-->
        The Ministry of Agriculture reserves the right to deny any applicant the concession if there is evidence of any management practice existing on a farm or business which is sufficiently deleterious to jeopardize future production or plant, animal or human health. Applications in this case may be held in suspension until such practices are corrected.
      </p>
    </div><!--col-sm-1-->
  </div>
  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-11">
        <p>Signed this <b>{{ila.submission.issuedDate  | date: 'MMMM d, yyyy'}}</b></p>

        <div class="col-sm-12">
          <p>Name of Applicant <b>{{ila.submission.applicant.name}}</b></p>
          <p>Signature of Applicant </p>
        </div><!--col-sm-12-->

        <div class="col-sm-8">
          <p>
            Name of Officer <b>{{ila.submission.officer.name}}</b>
            <br><br>
            Signature of Officer
          </p>
        </div>
        <div class="col-sm-4" align="center">
          <p>
            Chief Agricultural Officer<br>
            Ministry of Agriculture<br>
            Chief Agricultural Officer<br>
            Ministry of Agriculture
          </p>
        </div>
      </div><!--row-->
    </div><!--col-sm-11-->
  </div><!--row-->
</div><!--container-->
