<div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-5">
      <img src="/Forms/img/logos/goverment.png" class="img-responsive">
    </div><!--col-sm-6 col-sm-offset-3-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h5 align="center">
        <b><i>Telecommunication Act – 2001</i></b><br>
        <i>(Act 2001-36)</i>
      </h5>
    </div><!--col-sm-6 col-sm-offset-3-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center"><b>
        Form 12
      </b></h5>
      <h5 align="right"><b>
        TU012
      </b></h5>
    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <p>
        <b>
          Purpose of Individual Licence<br>
        </b>
        For sale of prescribed equipment for local use.
      </p>

      <!--PART C and PART D-->
      <table class="table black-border">
        <tr>
          <th>
            <h4>
              <b>PART C: DOCUMENTARY EVIDENCE</b>
            </h4>
          </th>
        </tr>
        <tr>
          <td>
            The applicant also must provide the following documents:
            <div class="row">
              <div class="col-sm-1" align="right">
                (a)<br><br>
                (b)<br><br>
                (c)<br><br>
                (d)
              </div>
              <div class="col-sm-11">
                Copies of certificate of incorporation or business registration certificate.
                <br><br>
                Most recent annual audited financial report.
                <br><br>
                Documentary evidence to demonstrate the financial capability of the company for the first 2 years of operation.
                <br><br>
                Performance Bond or Bank Guarantee for payment of licence fees for the first two years of the licence.
              </div>
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <th>
            <b>PART D: CERTIFICATION STANDARDS</b>
          </th>
        </tr>
        <tr>
          <td>
            The applicant certifies that all statements made in this application and in the exhibits, attachments, or documents incorporated by reference are true, complete, correct, and made in good faith.
          </td>
        </tr>
        <tr>
          <td>
            The applicant agrees to comply with the Telecommunications (Public Telecommunications Licensing) Regulations, 2003 with regard to the application procedures and requirements.
          </td>
        </tr>
        <tr>
          <td>
            If granted a Licence by the Minister, the applicant agrees to provide the licensed carrier network in accordance with the Telecommunications Act, 2001.  The relevant Regulations made under the Act, and terms and conditions of the licence.  Licensee must pay an annual licence fee.
          </td>
        </tr>
        <tr>
          <td>
            The applicant must obtain any other necessary government approvals required regarding the construction and use of the proposed network facilities.
          </td>
        </tr>
        <tr>
          <td>
            If granted a licence by the Minister, applicant must have the capability of shutting down any transactions in the event of a malfunction.
          </td>
        </tr>
        <tr>
          <td>
            Typed or printed name of party authorized to sign: ...
          </td>
        </tr>
        <tr>
          <td>
            Position:
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-6">
                Signature: ...
              </div>
              <div class="col-sm-6">
                Date: ...
              </div>
            </div><!--row-->
          </td>
        </tr>
      </table>

      <h5><b>
        Important Information
      </b></h5>

      <div class="row">
        <div class="col-sm-1">
          1.<br><br>
          2.
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          Guidelines are attached to this application form.
          <br><br>
          This is an application form for Sellers and Dealers who import, sell, hire, offer or possess for sale prescribed telecommunications equipment.
        </div><!--col-sm-11-->
      </div><!--row-->
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5><b>
        Guidelines to Application for Telecommunication<br>
        Sellers and Dealer’s Licences
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-1"><!--1-->
      <b>1.</b><br><br><br>
      1.1.<br><br>
      1.2<br><br><br>
      1.3
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <b>Introduction</b><br><br>
      <br>
      This document contains general information and guidelines for interested parties to apply for telecommunication Sellers and Dealer’s licence.
      <br><br>
      Importers, retailers, manufacturers intending to manufacture, import, sell, deal radio telecommunication equipment may apply for the Sellers and Dealer’s Licence.  One of the requirements is that it must be a company incorporated or a business registered with the Corporate Affairs and Intellectual Property Office (CAIPO).
      <br><br>
      There are two types of Telecommunication Sellers and Dealer’s Licence; namely
      <br><br>
      <div class="row">
        <div class="col-sm-1" align="right">
          (a)<br><br>
          (b)
        </div>
        <div class="col-sm-11">
          Telecommunication Sellers and Dealer’s Individual Licence; and
          <br><br>
          Telecommunication Sellers and Dealer’s Class Licence.
        </div>
      </div><!--row-->
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--2-->
      <br>
      <b>2.</b><br><br>
      2.1<br><br><br>
      2.2<br><br><br>
      2.3<br><br>
      2.4<br><br>
      2.5<br><br>
      2.6<br><br>
      2.7
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <b>Definition</b><br><br>
      “Dealer”  means a person who manufactures, imports, sells, hires, offers or possess for sale, hire or hire-purchase any equipment which is capable for being used for the purpose of telecommunication, and includes his employees.
      <br><br>
      “sales” includes every transaction of or the nature of barter of exchange, every transaction of hire or hire-purchase and every transaction by which goods are pawned for hypothecated or as a result of which the ownership of or an interest in goods is or may be transferred or created.
      <br><br>
      “Telecommunication Sellers and Dealer’s Licence”  means a Sellers and Dealer’s Class Licence granted under the <i>Telecommunications Act 2001-36.</i>
      <br><br>
      “telecommunication equipment “ means any appliance, apparatus or accessory used or intended to be used for telecommunication.
      <br><br>
      “specified equipment” means any telecommunication equipment approved, used or intended to be used for telecommunication.
      <br><br>
      “Act” means the <i>Telecommunications Act 2001-36.</i>
      <br><br>
      “CAIPO” means Corporate Affairs and Intellectual Property Office.
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--3-->
      <br>
      <b>3.</b><br><br>
      3.1<br><br><br><br><br><br><br><br><br><br>
      3.2<br>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <b>Scope of Licence</b><br><br>
      Sellers and Dealer’s Licence
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)<br><br><br>
          (b)<br><br>
          (c)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          No person, other than a holder of a Sellers and Dealer’s Individual Licence granted by the Ministry, shall import, hire, sell, or offer of possess for sale, any telecommunication equipment other than type-approved equipment or telecommunication equipment.
          <br><br>
          A holder of a Sellers and Dealer’s Individual Licence shall not sell prohibited telecommunication equipment.
          <br><br>
          A Seller and Dealer shall obtain a Dealer’s Individual Licence for each of the premises under his control or occupation at which he imports, hires, sells, offers or possesses for sale any telecommunication equipment.
          <br><br>
        </div><!--col-sm-11-->
      </div><!--row-->
      Sellers and Dealer’s Class Licence
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          A Seller and Dealer who imports, hires, sells or offers or possesses for sale any specified equipment or telecommunication equipment set out in Appendix 3 ($1,200 for sales more than $2,000, $600 for sales less than $2,000) shall be deemed to have been granted a Sellers and Dealer’s Class Licence for that purpose.
        </div><!--col-sm-11-->
      </div><!--row-->
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--4-->
      <br>
      <b>4.</b>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <b>Licence Fees/Duration of Licence</b>
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)<br><br>
          (b)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          The Licence fee for a Dealer’s Individual Licence as detailed in 3.2.
          <br><br>
          The Licence fee for a Sellers and Dealer’s Class Licence is $100 for 5 years.
        </div><!--col-sm-11-->
      </div><!--row-->
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--5-->
      <br>
      <b>5.</b><br><br>
      5.1<br><br>
      5.2
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <b>Compliance with Regulatory Framework</b>
      <br><br>
      The licensee shall ensure that his employees comply with the provisions of sections 56, 57 and 58 of the Act.
      <br><br>
      The licensee shall comply with any directions and notifications which the Ministry may, from time to time, issue.
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--6-->
      <br>
      <b>6.</b><br><br>
      6.1<br><br><br><br><br><br><br><br>
      6.2<br><br>
      6.2.1<br><br>
      6.2.2
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <b>Application Procedure</b>
      <br><br>
      Applicants who wish to apply for the licence can apply to the Ministry for an application form and submit their completed application form together with the following documents by post to:
      <br><br>
      Chief Telecommunications Officer<br>
      Telecommunications Unit<br>
      Ministry Responsible for Telecommunications <br>
      Barbados, W.I.
      <br><br>
      The additional documents to be submitted are as follows:
      <br><br>
      A Photostat copy of the Corporate Registration Certificate for CAIPO.
      <br><br>
      A cheque for the Licence fee.
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--7-->
      <br>
      <b>7.</b><br><br>
      7.1<br><br>
      7.2<br><br>
      7.3
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      <b>Appendices</b>
      <br><br>
      Telecommunication equipment under the General Approval Scheme <i>(set out in Appendix 1)</i>
      <br><br>
      Telecommunication equipment which are prohibited from import <i>(set out in Appendix 2)</i>
      <br><br>
      Prescribed Radio and Telecommunications Apparatus as per Section 56(1) of the <i>Telecommunications Act 2001-36.</i> (Set out in Appendix 3).
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row"><!--Appendix I-->
    <div class="col-sm-12">
      <h5 align="right">
        <b>Appendix I</b>
      </h5>
      <h5 align="center"><b>
        Sellers and Dealer’s Class Licence Conditions
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-1"><!--1-->
      1.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      In these conditions, “relevant telecommunication equipment” means the telecommunication equipment imported, hired, sold, offered or possessed for sale by the holder of a Sellers and Dealer’s Licence.
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--2-->
      <br>
      2.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      A holder of a Sellers and Dealer’s Licence shall:-
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)<br><br><br>
          (b)<br><br><br>
          (c)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          unless he holds a Sellers and Dealer’s Individual Licence, register with the Authority in such form as the Ministry may require in respect of each of the premises under his control or occupation at which he imports, hires, sells, offers or possesses for sale any telecommunication equipment;
          <br><br>
          submit in writing to the Ministry such information as the Ministry may require relating to its particulars, and the description and scope of its business dealings in the relevant telecommunication equipment; and
          <br><br>
          inform the Ministry of any change of the information submitted to the Ministry under sub-paragraph (b).
        </div><!--col-sm-11-->
      </div><!--row-->
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--3-->
      <br>
      3.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      A holder of a Sellers and Dealer’s Class Licence shall comply with the standards and specifications published by the Ministry from time to time in relation to the relevant telecommunication equipment.
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--4-->
      <br>
      4.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      A holder of a Sellers and Dealer’s Class Licence if required by the Ministry, produce at his expense any relevant telecommunication equipment for inspection by the Ministry.
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--5-->
      <br>
      5.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      A holder of a Sellers and Dealer’s Class Licence shall not have in his possession:
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)<br><br>
          (b)<br><br>
          (c)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          any telecommunication equipment that is prohibited equipment;
          <br><br>
          any device or equipment that is capable of monitoring or intercepting the transmissions of a radio-communication network; or
          <br><br>
          any device or equipment that can be used to insert or duplicate the identification of an authorised telecommunication equipment to an unauthorised telecommunication equipment.
        </div><!--col-sm-11-->
      </div><!--row-->
    </div><!--col-sm-11-->

    <div class="col-sm-1"><!--6-->
      <br>
      6.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br>
      A holder of a Sellers and Dealer’s Class Licence shall comply with the Ministry’s policies and directions in relation to the relevant telecommunication equipment as specified from time to time.
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row"><!--Appendix 2-->
    <div class="col-sm-12">
      <h5 align="right"><b>
        Appendix 2
      </b></h5>
      <h5 align="center"><b>
        Sellers and Dealer’s Individual Licence Conditions
      </b></h5>
    </div><!--col-sm-12-->

    <div class="col-sm-1">
      <br>
      1.<br><br><br>
      2.<br><br><br><br>
      3.<br><br><br><br><br>
      4.<br><br><br><br><br><br><br><br><br><br><br>
      5.<br><br><br>
      6.<br><br><br><br>
      7.<br><br>
      8.<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      9.<br><br><br>
      10.<br><br><br>
      11.<br><br><br>
      12.<br><br><br>
      13.<br><br><br>
      14.<br><br>
      15.<br><br>
      16.<br><br><br>
      17.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br><!--1-->
      This Licence is issued by the Ministry responsible for Telecommunications in Barbados in accordance with and subject to the Act and shall remain valid for the duration of this Licence, unless revoked by the Minister in accordance with Section 62 of the Act.
      <br><br><!--2-->
      The Licence fee is $600 for sales under $2,000 or $1,200 for sales over sales over $2,000 per annum, and shall be payable in advance and is not refundable.  Please note that if any licence fee remains unpaid 7 days after the date on which a licence should have been renewed, a late payment fee shall be charged in accordance with the Act.
      <br><br><!--3-->
      Notwithstanding the grant of this Licence, the Licensee shall obtain the Ministry’s prior approval for the import of any telecommunication equipment and shall comply with any terms and conditions which may be imposed by the Ministry thereof.  The import of scanning receivers, military communication equipment, telephone voice changing equipment, automatic call diverters, radio-communication equipment operating in frequency bands 886-901 MHz and 931-950 MHz (except cellular mobile phones or such other equipment approved by the Ministry) is prohibited.
      <br><br><!--4-->
      The Licensee shall import, hire, sell or offer or possess for sale only:
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)<br><br>
          (b)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          specified telecommunication equipment i.e. telecommunication equipment approved for sale;
          <br><br>
          telecommunication equipment set out in section 56 (1) of the Act.
          <br><br>
          For the purposes of this condition, the Licensee who wishes to sell any telecommunication equipment set out in Appendix 3 shall, before selling such telecommunication equipment, ensure that it meets the relevant standards of the Ministry, that it interworks correctly with the relevant telecommunications system or equipment of the telecommunication system licensee to which it is connected and shall further, cease to sell the telecommunication equipment and dispose of the telecommunication equipment at his own expense in the manner directed by the Ministry.
        </div><!--col-sm-11-->
      </div><!--row-->
      <br><!--5-->
      The Licensee shall, when required, furnish the Ministry with such detailed specifications and information on the types of telecommunication equipment sold or to be sold by the licensee.
      <br><br><!--6-->
      The Licensee shall not have in his possession any device or equipment which is capable of monitoring or intercepting the transmission of a radio-communication network or which can be used to alter, insert, delete, duplicate or remove the ESN, MIN or PIN number of a registered cellular mobile telephone to an unregistered mobile telephone.
      <br><br><!--7-->
      The Licensee shall not sell prohibited telecommunication equipment.
      <br><br><!--8-->
      The Licensee shall
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)<br><br>
          (b)<br><br><br>
          (c)<br><br>
          (d)<br><br><br>
          (e)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          exhibit his Sellers and Dealer’s Licence, i.e. this Licence, at all times in a prominent position at each place of his business;
          <br><br>
          affix the Ministry’s type-approval labels on all type-approved  telecommunication equipment intended for use in Barbados before such telecommunication equipment is displayed or offered for sale;
          <br><br>
          affix such other labels as the Ministry considers necessary before any telecommunication equipment is displayed or offered for sale;
          <br><br>
          ensure that every advertisement, pamphlet or brochure relating to any telecommunication equipment which he sells or offers for sale contains such information as the Ministry may specify; and
          <br><br>
          comply with such rules or labeling as may be published by the Ministry.
        </div><!--col-sm-11-->
      </div><!--row-->
      <br><br><!--9-->
      The Licensee shall maintain a record of every sale of any type of telecommunication equipment, as per section 56 paragraph 5 to 7 of the <i>Telecommunications Act 2001-36.</i>
      <br><br><!--10-->
      Where necessary, the Licensee shall inform every purchaser or hirer to whom he sells or lets any telecommunication equipment of the need to obtain a licence from the Ministry under the Act for the possession, operation, installation or use of such telecommunication equipment.
      <br><br><!--11-->
      Notwithstanding the grant of this Licence, the Licensee shall obtain the Ministry’s approval for the operation of any telecommunication equipment for demonstration purposes.
      <br><br><!--12-->
      The Minister may modify, suspend, revoke or refuse to renew a licence in accordance with section 62 of the Act.  The Licensee shall, at his own expense, comply with the varied conditions.
      <br><br><!--13-->
      Except with the Ministry’s prior written consent, the Licensee shall not assign, transfer, sublet or otherwise dispose of the benefit of this Licence, or permit any person to participate in any of the benefits, powers or authority granted by this Licence.
      <br><br><!--14-->
      The Licensee shall ensure that his employees comply with the provisions of the Act.
      <br><br><!--15-->
      The Licensee shall comply with any directions and notifications, which the Ministry may, from time to time, issue.
      <br><br><!--16-->
      Nothing in this Licence shall render the Ministry liable or responsible for any infringement by a Licensee, of copyright in any work or any patent or for any breach of any written law by the Licensee.
      <br><br><!--17-->
      The Ministry shall have the power to take action against the Licensee under the Act and to suspend or revoke this Licence by notice in writing where the Licensee:-
      <br><br>
      <div class="row">
        <div class="col-sm-1">
          (a)<br><br>
          (b)<br><br>
          (c)
        </div><!--col-sm-1-->
        <div class="col-sm-11">
          furnishes false, misleading or inaccurate information in his application for this Licence or to the Ministry;
          <br><br>
          misuses any telecommunication equipment; or
          <br><br>
          fails to comply with any of the conditions of this Licence, any provision of any code of practice, standard of performance or any direction of the Ministry.
        </div><!--col-sm-11-->
      </div><!--row-->
    </div><!--col-sm-11-->

    <div class="col-sm-12">
      <h5><b>
        Offences and Penalties
      </b></h5>
      <p>
        Please note Sections 56(9) <i>(a), (b),</i> 84(1) <i>(b),</i> 91<i>(a), (b)</i> and penalties 92 of the <i>Telecommunications Act 2001-36</i> denote offences under these guidelines.
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row"><!--Appendix 3-->
    <div class="col-sm-12">
      <h5 align="right"><b>
        Appendix 3
      </b></h5>
      <h5 align="center"><b>
        Prescribed Radio and Telecommunication Apparatus as per<br>
        Section 56(1) of the Telecommunications Act 2001-36
      </b></h5>
      <br>
    </div><!--col-sm-12-->

    <div class="col-sm-1">
      <br>
      1.<br><br>
      2.<br><br>
      3.<br><br>
      4.<br><br>
      5.<br><br>
      6.<br><br>
      7.<br><br>
      8.<br><br>
      9.<br><br>
      10.<br><br>
      11.<br><br>
      12.<br><br>
      13.<br><br>
      14.<br><br>
      15.<br><br>
      16.<br><br>
      17.
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <br><!--1-->
      Telephone (Standard/Multi-Feature/Image/Data/Switching)
      <br><br><!--2-->
      Telephone Line Interface
      <br><br><!--3-->
      Telephone Ancillary
      <br><br><!--4-->
      Autodialler
      <br><br><!--5-->
      Auto Answering/Recording Set
      <br><br><!--6-->
      Caller Identification Equipment
      <br><br><!--7-->
      Security Alarm System
      <br><br><!--8-->
      Facsimile Transceiver
      <br><br><!--9-->
      Modem (Discrete or Integrated)
      <br><br><!--10-->
      Telex Equipment
      <br><br><!--11-->
      Digital Leased Circuit Equipment
      <br><br><!--12-->
      Short Range Devices (SRDs) as approved by the Ministry
      <br><br><!--13-->
      Amateur Radio Equipment approved by the Ministry
      <br><br><!--14-->
      Family Radio Service (FRS) Radio
      <br><br><!--15-->
      Bluetooth and Wireless Fidelity Equipment
      <br><br><!--16-->
      Any information and Communication Technology (ICT) Equipment currently in use by Cable and Wireless (Barbados) Limited
      <br><br><!--17-->
      Any other ICT equipment as approved by the Ministry
    </div><!--col-sm-11-->
  </div><!--row-->
</div><!--container-->
