<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>AO9:VS017</h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <h5>To:</h5>
    </div>
    <div class="col-sm-11">
      <h5>
        Chief Veterinary Officer<br>
        Veterinary Services<br>
        Ministry of Agriculture<br>
        The Pine, St. Michael
      </h5><br>
      <h4 align="center">
        <b>
          APPLICATION FOR A PERMIT TO IMPORT VETERINARY BIOLOGICAL PRODUCTS
          OTHER THAN SEMEN
        </b>
      </h4>
      <br>
      <p>
        I/We <b>{{ila.submission.applicant.name}}</b> of <b>{{ila.submission.applicant.address}}</b> <br>
        the following Veterinary Biological Products:
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>
        <b>
          I/We hereby agree to comply with Import Conditions required in the event that permission is granted.
        </b>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-5 col-sm-offset-7">
      <h5>
        Signature: <b>{{ila.submission.submitter}}</b>
        <br><br>
        Date: <b>{{ila.submission.entryDate | date:'dd/MM/yyyy'}}</b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br>


</div><!--container-->
