<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/ministry-agriculture.png" class="img-responsive">
    </div>
    <div class="col-sm-8" align="center">
      <h3>
        <b><i>
          MINISTRY OF AGRICULTURE<br>
          AND RURAL DEVELOPMENT
        </i></b>
      </h3>
      <h4>
        <i>
          VETERINARY SERVICES<br>
        </i>
        THE PINE, ST MICHAEL BB11091<br>
        BARBADOS
      </h4>
    </div><!--col-sm-6-->
    <div class="col-sm-2" align="right">
      <img src="/Forms/img/logos/vet-services.png" class="img-responsive">
    </div>
  </div><!--row-->


  <div class="row">
    <div class="col-sm-7">
      <h5>
        <b>
          ANIMAL HEALTH ADMINISTRATION [ ]<br><br>
          VETERINARY SERVICES LABORATORY [ ]
        </b>
      </h5>
    </div>
    <div class="col-sm-5" align="right">
      <h5>
        <b>
          TEL. NOS: (246) 427-5073<br>
          (246) 427-5492<br>
          FAX. NO: (246) 429-2143<br>
          E-Mail: vetservices@caribsurf.com<br>
          Website: http://agriculture.gov.bb
        </b>
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h2 align="center">
        <u>
          VETERINARY SERVICES PASSENGER MEAT<br>
          APPLICATION FORM
        </u>
      </h2>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <h5>
        <i>
          Application Fee: $25.00
        </i>
      </h5>
    </div><!--col-sm-6-->
    <div class="col-sm-6">
    </div><!--col-sm-6-->
  </div><!--row-->

</div><!--container-->
