<div>

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b><u>
          Application to Import Meat / Meat Products, Poultry / Poultry Products, Dairy Products and/or Other
          <br>
          Products of Animal/Poultry Origin into Barbados DIRECT from Country of Origin
          <br>
          (under the terms of permit granted under Animals (Diseases and Importation) Act. Cap 253)
        </u></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <div edit-commodities-no-price=""></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
      <h6 align="right">
        <b>
          1.<br>
          2.<br>
          3.<br>
          4.<br>
          5.<br><br><br>
          6.
        </b>
      </h6>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <h6>
        <b>
          This application is to be filled out per shipment. in duplicate
          <br>
          Request for Transshipments through ANY port MUST be stated in the application.
          <br>
          Transshipments MUST FIRST be approved prior to placing order.
          <br>
          Additional Items in this shipment must be submitted on an attached sheet
          <br>
          The ENDORSED ORIGINAL application along with ORIGINAL Veterinary Sanitary Health Certificate issued by the Veterinary Authority of the country of ORIGIN must accompany the shipment or must arrive prior to the consignment and are to be presented to the Agricultural Quarantine Inspector at Point of Entry prior to inspection of the shipment.
          <br>
          The approval of this application MAY BE WITHDRAWN at any time if circumstances arise which warrant such action. Notice of any such action will be given in writing.
        </b>
      </h6>
    </div><!--col-sm-11-->
  </div><!--row-->

  <!--Next Page-->

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</div><!--container-->
