<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>AO9:VS018</h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <h5>To:</h5>
    </div>
    <div class="col-sm-11">
      <h5>
        Chief Veterinary Officer<br>
        Veterinary Services<br>
        Ministry of Agriculture<br>
        The Pine, St. Michael
      </h5>
      <br>
      <h4 align="center">
        <b>
          APPLICATION FOR A PERMIT TO IMPORT SEMEN FOR THE ARTIFICIAL INSEMINATION OF ANIMALS
        </b>
      </h4>
      <br>
      <p>
        I/We <b>{{ila.submission.applicant.name}}</b> of <b>{{ila.submission.applicant.address}}</b> <br>
          hereby apply for a permit to import the following semen for the artificial insemination of animals from: <br>
        <b>{{ila.submission.supplier.name}}</b> of <b>{{ila.submission.supplier.address}}</b>
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <th class="center-align">Details of Donor Animal</th>
          <th class="center-align">Address where Animal kept</th>
          <th class="center-align">Name of Address of Collection Agency</th>
          <th class="center-align">Quantity</th>
        </tr>
        <tr ng-repeat="item in ila.submission.commodities">
          <td>{{item.units[0].name}}<br>
          {{item.description}}</td>
          <td>{{item.units[0].address}}</td>
          <td>{{item.units[0].collectionAgency.name}}<br>
          {{item.units[0].collectionAgency.address}}</td>
          <td>{{item.units[0].quantity}}</td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        <b>
          I/We hereby agree to comply with Import Conditions required in the event that permission is granted.
        </b>
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-5 col-sm-offset-7">
      <h5>
        Signature: <b>{{ila.submission.submitter}}</b>
        <br><br>
        Date: <b>{{ila.submission.entryDate | date:'dd/MM/yyyy'}}</b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <table class="table with-border">
        <tr>
          <th class="with-top center-align" colspan="2">
            FOR OFFICE USE ONLY
          </th>
        </tr>
        <tr>
          <th class="no-top">
            Application approved:
          </th>
          <th class="no-top">
            <span ng-if="ila.submission.approvalDate!=''">Yes [X] &nbsp;&nbsp; No [ ]</span>
            <span ng-if="ila.submission.approvalDate==''">Yes [ ] &nbsp;&nbsp; No [X]</span>
          </th>
        </tr>
        <tr>
          <th class="no-top" colspan="2">
            If yes, Permit Number issued: {{ila.submission.serialNumberCertificate}}
          </th>
        </tr>
        <tr>
          <th class="no-top"></th>
          <th class="no-top">
            Date: {{ila.submission.approvalDate | date:'dd/MM/yyyy'}}
          </th>
        </tr>
      </table>
    </div><!--col-sm-9 col-sm-offset-3-->
  </div><!--row-->
</div><!--container-->
