<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        <b>
          Chief Veterinary Officer<br>
          Ministry of Agriculture<br>
          Veterinary Services<br>
          The Pine<br>
          St. Michael<br>
        </b>
      </h5>
      <h5 align="center">
        <b>
          <u>
            APPLICATION TO TRANSIT ANIMALS/BIRDS/REPTILES THROUGH<br>
            BARBADOS
          </u>
        </b>
      </h5>

      <p>
          Name of owner/agent: <b>{{ila.submission.applicant.name}}</b><br><br>
          Address: <b>{{ila.submission.applicant.address}}, {{ila.submission.applicant.country}}</b><br><br>
          Details of Animals/Birds/Reptiles:
      </p>

      <table class="table black-border">
        <tr>
          <th class="center-align">
            Description
          </th>
          <th class="center-align">
            Number
          </th>
        </tr>
        <tr ng-repeat="animal in ila.submission.commodities">
          <td><b>{{animal.description}}</b></td>
          <td><b>{{animal.units[0].quantity}}</b></td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <p>
          Country of Origin/Name of Ship: <b>{{ila.submission.origin}}</b><br><br>
          Country of Destination/Name of Ship: <b>{{ila.submission.destinationCountry}}</b><br><br>
          Date & Time of Arrival: <b>{{ila.submission.dateArrival | date:'dd/MM/yyyy'}} {{ila.submission.timeArrival | date:'HH:mm'}}</b><br><br>
          Date & Time of Departure:<br><b>{{ila.submission.dateDeparture | date:'dd/MM/yyyy'}} {{ila.submission.timeDeparture | date:'HH:mm'}}</b><br><br>
      </p>
    </div>
    <div class="col-sm-6">
      <p>
          <br><br><br><br>
          Arrival via Airline Flight #/ Vessel: <b>{{ila.submission.vesselArrive}}</b><br><br>
          Departure via Airline Flight #/ Vessel: <b>{{ila.submission.vesselDepart}}</b><br><br><br>
      </p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <b><i>Signature of Applicant</i>: {{ila.submission.submitter}}</b>
    </div>
    <div class="col-sm-6">
      <b><i>Date</i>: {{ila.submission.entryDate | date:'dd/MM/yyyy'}}</b>
    </div>
  </div>

  <hr class="thick">

  <div class="row">
    <div class="col-sm-12">
      <h5>
        <b>For Office Use Only</b>
      </h5>
    </div>

    <div class="col-sm-4">
      <h5>Application #: <b>{{ila.submission.approvalNumber}}</b></h5><br>
      <h5>Application Approved By:   </h5><br>
      <h5>Date of Arrival: <b>{{ila.submission.dateArrival | date:'dd/MM/yyyy'}}</b></h5>
    </div><!--col-sm-4-->
    <div class="col-sm-4">
      <h5>Date Approved: <b>{{ila.submission.approvalDate | date:'dd/MM/yyyy'}}</b></h5><br>
      <h5><b>{{ila.submission.approvedBy}}</b><br>
      Chief Veterinary Officer</h5>
    </div><!--col-sm-4-->
    <div class="col-sm-4">
      <h5 align="right">Permit #: <b>{{ila.submission.serialNumberCertificate}}</b></h5><br><br><br><br>
      <h5>Date of Departure: <b>{{ila.submission.dateDeparture | date:'dd/MM/yyyy'}}</b></h5>
    </div><!--col-sm-4-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div>
        <p>
          <b>
            This Application is to be made in duplicate. The endorsed copy, along with the permit issued must be presented to the Quarantine Inspector at port of entry. Where applicable, copies of CITES certificates must accompany this application.
          </b>
        </p>
        <p>
          AO9:VS028
        </p>
      </div>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
