<div>
  <div class="row">
    <div class="col-sm-12">
      <h5>
        <b>
          Chief Veterinary Officer<br>
          Ministry of Agriculture<br>
          Veterinary Services<br>
          The Pine<br>
          St. Michael<br>
        </b>
      </h5>
      <h5 align="center">
        <b>
          <u>
            APPLICATION TO TRANSIT ANIMALS/BIRDS/REPTILES THROUGH<br>
            BARBADOS
          </u>
        </b>
      </h5>

      <div class="row">
        <div class="col-sm-12">
          <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
        </div>
      </div>

      <div class="row datetime">
        <div class="col-sm-6">
          <label class="control-label">Date & Time of Arrival:</label>
            <span class="date">
              <input name="dateArrival" type="date" class="form-control" ng-model="ila.submission.dateArrival" datepicker-popup ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close">
            </span>
            <span class="time">
              <input name="timeArrival" type="time" ng-model="ila.submission.timeArrival" timepicker show-meridian="false">
            </span>
          </div>

          <div class="col-sm-6">
            <label class="control-label">Date & Time of Departure:</label>
              <span class="date">
                <input name="dateDeparture" type="date" class="form-control" ng-model="ila.submission.dateDeparture" datepicker-popup ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close">
              </span>
              <span class="time">
                <input name="timeDeparture" type="time" ng-model="ila.submission.timeDeparture" timepicker show-meridian="false">
              </span>
            </div>
        </div>
      </div>

      <hr>
      <h4>Details of Animals/Birds/Reptiles:</h4>

      <div class="row">
        <div class="col-sm-12">
          <div edit-commodities-no-price=""></div>
        </div>
      </div>

    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br><br><br><br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        <i>Signature of Applicant:</i>
        <b>{{ila.submission.submitter}}</b>
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        <i>Date:</i>
        <b>{{ila.submission.entryDate}}</b>
      </p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div>
        <p>
          <b>
            This Application is to be made in duplicate. The endorsed copy, along with the permit issued must be presented to the Quarantine Inspector at port of entry. Where applicable, copies of CITES certificates must accompany this application.
          </b>
        </p>
        <p>
          AO9:VS028
        </p>
      </div>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
