<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/ministry-agriculture.png" class="img-responsive">
    </div>
    <div class="col-sm-8" align="center">
      <h3>
        <b>
          MINISTRY OF AGRICULTURE
        </b>
      </h3>
      <h4>
        <b>
          VETERINARY SERVICES
        </b>
      </h4>
      <h4>
        <b>
          THE PINE, ST MICHAEL BB11091
        </b>
      </h4>
      <h4>
        <b>
          BARBADOS
        </b>
      </h4>
    </div><!--col-sm-6-->
    <div class="col-sm-2" align="right">
      <img src="/Forms/img/logos/vet-services.png" class="img-responsive">
    </div>
  </div><!--row-->
  <br><br>


  <div class="row">
    <div class="col-sm-4" align="center">
      <h5>TEL. NOS: (246) 427-5073/427-5492</h5>
    </div>
    <div class="col-sm-4" align="center">
      <h5>FAX. NO: (246) 429-2143</h5>
    </div>
    <div class="col-sm-4" align="center">
      <h5>E-Mail: vetservices@caribsurf.com</h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h3 align="center">
        <b>
          <u>
            APPLICATION FOR A PERMIT TO IMPORT DOGS AND CATS
          </u>
        </b>
      </h3>
    </div><!--col-sm-12-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef1" sf-model="form.data"></div>
    </div>
  </div>

  <hr>

  <div class="row">
    <h4>DESCRIPTION OF ANIMAL(S)</h4>
    <div class="col-sm-12">
      <div edit-commodities-animals=""></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef2" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row datetime">
    <h4>EXPECTED DATE and TIME OF ARRIVAL:</h4>
    <div class="col-sm-12 col-md-6">
        <span class="date">
          <input name="dateArrival" type="date" class="form-control" ng-model="ila.submission.dateArrival" datepicker-popup ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close">
        </span>
        <span class="time">
          <input name="timeArrival" type="time" ng-model="ila.submission.timeArrival" timepicker show-meridian="false">
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h6>
        <b>
          PLEASE NOTE: The conditions under which animals are permitted entry into Barbados are subject to change at short notice, depending on the animal disease status of the country from which they are being imported.
        </b>
      </h6>
      <br>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</div><!--container-->
