<div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        GOVERNMENT OF BARBADOS
      </h4>
      <h4><b>
        CITES PERMITS
      </b></h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1" align="center">
      (LOGO)
    </div>
    <div class="col-sm-5">
      <h5><b>
        CONVENTION ON<br>
        INTERNATIONAL TRADE IN<br>
        ENDANGERED SPECIES OF<br>
        WILD FAUNA AND FLORA
      </b></h5>
    </div><!--col-sm-6-->
    <div class="col-sm-6" align="right">
      <h5><b>
        PERMIT/CERTIFICATE NO.
        <span class="bigger"></span>
      </b></h5>
    </div>
  </div><!--row-->

  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>
  <br><br>

</div><!--container-->
