<div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h4>
        GOVERNMENT OF BARBADOS
      </h4>
      <h4><b>
        CITES PERMITS
      </b></h4>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-2" align="center">
      <img src="/Forms/img/logos/cites.jpg" class="img-responsive">
    </div>
    <div class="col-sm-4">
      <h5><b>
        CONVENTION ON<br>
        INTERNATIONAL TRADE IN<br>
        ENDANGERED SPECIES OF<br>
        WILD FAUNA AND FLORA
      </b></h5>
    </div><!--col-sm-6-->
    <div class="col-sm-6" align="right">
      <h5><b>
        PERMIT/CERTIFICATE NO.
        <span class="bigger"></span>
      </b></h5>
    </div>
  </div><!--row-->

  <span ng-repeat="item in ila.submission.species">
    {{item.name}}<br>
  </span>

  <div class="row">
    <div class="col-sm-12">
      <table class="custom-table black-border no-top-td no-bottom-td no-left-td no-right-td">
        <tr>
          <td class="no-top-cell no-bottom-cell no-left-cell" colspan="3"></td>
          <td class="no-top-cell no-right-cell no-bottom-cell" colspan="2">
            <p>
              <span ng-if="ila.submission.typeApplication != 'export'">[&nbsp;&nbsp;]</span>
              <span ng-if="ila.submission.typeApplication == 'export'">[<b>X</b>]</span>
              EXPORT
            </p>
            <p>
              <span ng-if="ila.submission.typeApplication != 're-export'">[&nbsp;&nbsp;]</span>
              <span ng-if="ila.submission.typeApplication == 're-export'">[<b>X</b>]</span>
              RE-EXPORT
            </p>
          </td>
          <td class="no-top-cell no-right-cell no-left-cell"></td>
        </tr>
        <tr>
          <td class="no-top-cell no-left-cell" colspan="3"></td>
          <td class="no-top-cell">
            <p>
              <span ng-if="ila.submission.typeApplication != 'import'">[&nbsp;&nbsp;]</span>
              <span ng-if="ila.submission.typeApplication == 'import'">[<b>X</b>]</span>
              IMPORT
            </p>
            <p>
              <span ng-if="ila.submission.typeApplication != 'other'">[&nbsp;&nbsp;]</span>
              <span ng-if="ila.submission.typeApplication == 'other'">[<b>X</b>]</span>
              OTHER
            </p>
          </td>
          <td colspan="2">
            <h6>2. Valid until</h6>
            <p align="center"><b>March 20, 2016</b></p>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="row">
              <div class="col-sm-12">
                <h6>
                  3. Importer (name and address)
                </h6>
              </div><!--col-sm-12-->

              <div class="col-sm-10 col-sm-offset-1">
                <p><b>
                  {{ila.submission.importer.name}}<br>
                  {{ila.submission.importer.address}}
                </b></p>
              </div><!--col-sm-10 col-sm-offset-1-->
            </div><!--row-->
          </td>
          <td colspan="3" width="45%">
            <div class="row">
              <div class="col-sm-12">
                <h6>4. Exporter (name and address, country)</h6>
              </div><!--col-sm-12-->

              <div class="col-sm-12">
                <p><b>
                  {{ila.submission.exporter.name}}<br>
                  {{ila.submission.exporter.address}}
                </b></p>
              </div>
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h6>3a. Country of import</h6>
            <p align="center" style="margin-top: -20px">
              <b>{{ila.submission.importer.country}}</b>
            </p>
          </td>
          <td colspan="3">
            <h6 align="center" style="margin-top: -5px;">
              Signature of the applicant
            </h6>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h6>5. Special conditions</h6>
            <br><br>
            <h6>
              {{ila.submission.conditions}}
            </h6>
          </td>
          <td class="no-bottom-cell" colspan="3">
            <div class="row">
              <div class="col-sm-12">
                <h6>
                  Name, address, national seal/stamp and country of Management Authority
                </h6>
              </div>

              <div class="col-sm-4" align="center">
                (IMAGE)
              </div>
              <div class="col-sm-8">
                <p>
                  PERMANENT SECRETARY<br>
                  MINISTRY OF ENVIRONMENT AND DRAINAGE<br>
                  10TH FLOOR, WARRENS TOWERS II<br>
                  WARRENS<br>
                  ST. MICHAEL
                </p>
              </div>
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <td colspan="2" width="32%">
            <div class="row">
              <div class="col-sm-9">
                <h6>
                  5a. Purpose of the transaction (see reverse)
                </h6>
              </div>
              <div class="col-sm-3">
                <h5><b>{{ila.submission.purpose}}</b></h5>
              </div>
            </div><!--row-->
          </td>
          <td>
            <h6>
              5b. Security Stamp No. <br>
              {{ila.submission.securityNo}}
            </h6>
          </td>
          <td class="no-top-cell" colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2">
            <h6>
              7./8 SCIENTIFIC NAME (Genus and species) AND COMMON NAME OF ANIMAL OR PLANT
            </h6>
          </td>
          <td>
            <h6>
              9. Description of specimens, including identifying marks or numbers (age/sex if alive)
            </h6>
          </td>
          <td>
            <h6>
              10. Appendix No. and source (see reverse)
            </h6>
          </td>
          <td>
            <h6>
              11. Quantity (including unit)
            </h6>
          </td>
          <td>
            <h6>
              11a. Total exported/ Quota
            </h6>
          </td>
        </tr>
          <tbody ng-repeat="item in ila.submission.species">
            <tr><!--A-->
              <td class="no-bottom-cell"></td>
              <td class="no-right-cell">
                <div class="row">
                  <div class="col-sm-2">
                    <h6>7./8</h6>
                  </div>
                  <div class="col-sm-10">
                    <h5><b>
                      {{item.name}}
                    </b></h5>
                  </div>
                </div><!--row-->
              </td>
              <td class="no-left-cell">
                <div class="row">
                  <div class="col-sm-2">
                    <h6>9.</h6>
                  </div>
                  <div class="col-sm-10">
                    <h5><b>
                      {{item.description}}
                    </b></h5>
                  </div>
                </div><!--row-->
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-2">
                    <h6>10.</h6>
                  </div>
                  <div class="col-sm-10">
                    <h5><b>
                      {{item.apendixNo}}
                    </b></h5>
                  </div>
                </div><!--row-->
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-2">
                    <h6>11.</h6>
                  </div>
                  <div class="col-sm-9">
                    <h5><b>
                      {{item.quantity}}
                    </b></h5>
                  </div>
                </div><!--row-->
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-2">
                    <h6>11a.</h6>
                  </div>
                  <div class="col-sm-9">
                    <h5><b>
                      {{item.quantityOfQuota}} / {{item.quota}}
                    </b></h5>
                  </div>
                </div><!--row-->
              </td>
            </tr>
            <tr>
              <td class="no-top-cell">
                <h6>{{$index+1}}</h6>
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-5">
                    <h6>12. Country of origin*</h6>
                  </div>
                  <div class="col-sm-4">
                    <h6>Permit No.</h6>
                  </div>
                  <div class="col-sm-3">
                    <h6>Date</h6>
                  </div>
                </div><!--row-->
                <div class="row">
                  <div class="col-sm-5">
                    <h5>{{item.origin}}</h5>
                  </div>
                  <div class="col-sm-7">
                    <h5>
                      {{item.permitNo}}<br>
                      {{item.permitDate}}
                    </h5>
                  </div>
                </div><!--row-->
              </td>
              <td colspan="2">
                <div class="row">
                  <div class="col-sm-5">
                    <h6>
                      12a. Country of last re-export
                    </h6>
                  </div>
                  <div class="col-sm-4">
                    <h6>
                      Certificate No.
                    </h6>
                  </div>
                  <div class="col-sm-3">
                    <h6>
                      Date
                    </h6>
                  </div>
                </div><!--row-->
                <div class="row">
                  <div class="col-sm-5">
                    <h5>{{item.lastCountry}}</h5>
                  </div>
                  <div class="col-sm-7">
                    <h5>
                      {{item.certificate}}<br>
                      {{item.certificateDate}}
                    </h5>
                  </div>
                </div><!--row-->
              </td>
              <td colspan="2">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>
                      12b. No. of operation ** or date of acquisition ***
                    </h6>
                  </div>
                </div><!--row-->
                <div class="row">
                  <div class="col-sm-12">
                    <h5>
                      {{item.operationNo}}<br>
                      {{item.dateAcquisition}}
                    </h5>
                  </div>
                </div><!--row-->

              </td>
            </tr>
          </tbody>
        <tr>
          <td colspan="4">
            <h6>
              * Country to which the specimens were taken from the wild, bred in captivity or artifically propagated (only in case of re-export)<br>
              ** Only for specimens of Appendix | species bred in captivity for commercial purposes<br>
              *** for pre-Convention specimens
            </h6>
          </td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="row">
              <div class="col-sm-12">
                <h6>MINISTRY OF AGRICULTURE</h6>
              </div>

              <div class="col-sm-1">
                <h6>13.</h6>
              </div><!--col-sm-1-->
              <div class="col-sm-5">
                <h6>
                  a) Health Certificate
                  <br><br>
                  c) Surname
                </h6>
              </div><!--col-sm-5-->
              <div class="col-sm-3">
                <h6>
                  b) Date
                  <br><br>
                  d) Signature
                </h6>
              </div><!--col-sm-3-->
              <div class="col-sm-3">
                <h6>
                  <br><br>
                  Office Stamp
                </h6>
              </div><!--col-sm-3-->
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="row">
              <div class="col-sm-12">
                <h6>14. THIS PERMIT IS ISSUED BY</h6>
              </div>

              <div class="col-sm-4" align="center">
                <h6>
                  <br><br>
                  Place
                </h6>
              </div><!--col-sm-4-->
              <div class="col-sm-3" align="center">
                <h6>
                  <br><br>
                  Date
                </h6>
              </div><!--col-sm-3-->
              <div class="col-sm-5" align="center">
                <h6>
                  <br><br>
                  Security stamp<!--el sello no me dejó leer lo que dice aquí--> official seal
                </h6>
              </div><!--col-sm-5-->
            </div><!--row-->
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="row">
              <div class="col-sm-3">
                <h6>
                  15. EXPORT ENDORSEMENT
                </h6>
                <table class="black-border" width="100%">
                  <tr>
                    <td class="center-align" width="50%">
                      Block
                    </td>
                    <td class="center-align">
                      Quantity
                    </td>
                  </tr>
                  <tr>
                    <td class="center-align">
                      A
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="center-align">
                      B
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="center-align">
                      C
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="center-align">
                      D
                    </td>
                    <td></td>
                  </tr>
                </table>
              </div><!--col-sm-3-->
              <div class="col-sm-3 col-sm-offset-1" align="center">
                <h6>
                  16. Bill of Lading/Air Waybill Number
                </h6>
                <br><br><br><br>
                <div class="row">
                  <div class="col-sm-7" align="center">
                    <h6>Port of Export</h6>
                  </div><!--col-sm-7-->
                  <div class="col-sm-5" align="center">
                    <h6>Date</h6>
                  </div><!--col-sm-5-->
                </div><!--row-->
              </div><!--col-sm-3 col-sm-offset-1-->
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5" align="center">
                    <br><br><br><br><br><br>
                    <h6>Signature</h6>
                  </div>
                  <div class="col-sm-7" align="center">
                    <br><br><br><br><br><br>
                    <h6>Official Stamp and title</h6>
                  </div>
                </div><!--row-->
              </div><!--col-sm-5-->
            </div><!--row-->
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
    <div class="col-sm-4 col-sm-offset-8">
      <p>CITES PERMIT/CERTIFICATE No.</p>
    </div>
  </div><!--row-->
</div><!--container-->
