<div>
  <div class="row">
    <div class="col-sm-3">
      (LOGO)
    </div>
    <div class="col-sm-6" align="center">
      <h3>
        <b>
          MINISTRY OF AGRICULTURE
        </b>
      </h3>

      <h4>
        <b>
          VETERINARY SERVICES
        </b>
      </h4>

      <h5>
        <b>
          THE PINE, ST. MICHAEL, BB11091<br>
          BARBADOS.
        </b>
      </h5>
    </div>
    <div class="col-sm-3" align="right">
      (LOGO)
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-2 col-sm-offset-8">
      <b>
        TEL. NOS:<br><br>
        FAX. NO:
      </b>
    </div>
    <div class="col-sm-2" align="right">
      <b>
        (246) 427‐5073<br>
        (246) 427‐5492<br>
        (246) 429‐2143<br>
      </b>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <b>
        E-Mail: vetservices@caribsurf.com<br>
        Website: http://agriculture.gov.bb
      </b>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b>
          Endorsement of Customs Entry Documents
        </b>
      </h5>

      <p align="justified">
        Endorsement of Customs Entry documents, particularly a copy of the APPROVED Application to import Meat & Meat Products, Dairy & Dairy, form # A09:VS013 with stamp.
      </p>

      <br>
      <label>Consignee:</label>
      <textarea name="consignee" class="form-control" type="textarea" ng-model="ila.submission.consignee" required></textarea>

    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12" align="center">
      <h2>Agency Approvals</h2>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <h4>
        <b>ANIMAL HEALTH ADMINISTRATION</b>:&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-if="ila.submission.agencyApprovals[0].approved == false">
          <button class="btn btn-danger" type="button" ng-click="ila.submission.agencyApprovals[0].approved = !ila.submission.agencyApprovals[0].approved">Click to Approve</button>
        </span>
        <span ng-if="ila.submission.agencyApprovals[0].approved == true">
          <button class="btn btn-success" type="button" ng-click="ila.submission.agencyApprovals[0].approved = !ila.submission.agencyApprovals[0].approved">Reverse Approval</button>
        </span>
          <!-- <input type="checkbox" ng-model="ila.submission.agencyApprovals[0].approved">
        </label> -->
          <br><br>
        <b>VETERINARY SERVICES LABORATORY:</b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-if="ila.submission.agencyApprovals[1].approved == false">
          <button class="btn btn-danger" type="button" ng-click="ila.submission.agencyApprovals[1].approved = !ila.submission.agencyApprovals[1].approved">Click to Approve</button>
        </span>
        <span ng-if="ila.submission.agencyApprovals[1].approved == true">
          <button class="btn btn-success" type="button" ng-click="ila.submission.agencyApprovals[1].approved = !ila.submission.agencyApprovals[1].approved">Reverse Approval</button>
        </span>
      </h4>
    </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
