<div>
  <div class="row">
    <div class="col-sm-2">
      <img src="/Forms/img/logos/ministry-agriculture.png" class="img-responsive">
    </div>
    <div class="col-sm-8" align="center">
      <h3>
        <b>
          MINISTRY OF AGRICULTURE
        </b>
      </h3>

      <h4>
        <b>
          VETERINARY SERVICES
        </b>
      </h4>

      <h5>
        <b>
          THE PINE, ST. MICHAEL, BB11091<br>
          BARBADOS.
        </b>
      </h5>
    </div><!--col-sm-6-->
    <div class="col-sm-2" align="right">
      <img src="/Forms/img/logos/vet-services.png" class="img-responsive">
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-4">
      <h6>
        <b>ANIMAL HEALTH ADMINISTRATION</b><br>
        <b>VETERINARY SERVICES LABORATORY</b>
      </h6>
    </div>
    <div class="col-sm-2">
      <span ng-if="ila.submission.agencyApprovals[0].approved == true">[X]</span>
      <span ng-if="ila.submission.agencyApprovals[0].approved == false">[&nbsp; ]</span>
      <br>
      <span ng-if="ila.submission.agencyApprovals[1].approved == true">[X]</span>
      <span ng-if="ila.submission.agencyApprovals[1].approved == false">[&nbsp; ]</span>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <b>
        TEL. NOS:<br><br>
        FAX. NO:
      </b>
    </div>
    <div class="col-sm-2" align="right">
      <b>
        (246) 427‐5073<br>
        (246) 427‐5492<br>
        (246) 429‐2143<br>
      </b>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <b>
        E-Mail: vetservices@caribsurf.com<br>
        Website: http://agriculture.gov.bb
      </b>
    </div><!--col-sm-12-->
  </div><!--row-->

  <br><br><br><br><br>

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b>
          Endorsement of Customs Entry Documents
        </b>
      </h5>

      <p align="justified">
        Endorsement of Customs Entry documents, particularly a copy of the APPROVED Application to import Meat & Meat Products, Dairy & Dairy <b>{{ila.submission.consignee}}</b> form # A09:VS013 with stamp:
      </p>

      <h5 align="center">
        <b>
          ENTRY APPROVED<br>
          MINISTRY OF AGRICULTURE<br>
          ANIMAL QUARANTINE<br>
        </b>
      </h5>

      <h6>
        <b>
          <i>
            SAMPLE:
          </i>
        </b>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 with-border">
      <h4 align="center">
        <b>
          ENTRY APPROVED
        </b>
      </h4>
      <h5 align="center">
        MINISTRY OF AGRICULTURE<br>
        ANIMAL QUARANTINE<br>
        INSPECTION SERVICE<br><br><br>
      </h5>
      <p class="bottom-border" align="center"><b>{{ila.submission.approvedBy}}</b></p>
      <h6 align="center">
        FOR SENIOR VETERINARY OFFICER<br><br><br>
      </h6>
      <h6>
        DATE: <b>{{ila.submission.approvalDate | date: 'dd/MM/yyyy'}}</b>
      </h6>
    </div>
  </div><!--row-->
</div><!--container-->
