<div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" align="center">
      <h4>
        <b>MINISTRY OF AGRICULTURE</b>
      </h4>
      <h4>
        <b>VETERINARY EXPORT HEALTH CERTIFICATE</b>
      </h4>
    </div><!--col-sm-10 col-sm-offset-1-->
    <div class="col-sm-1">
      <h6>Agr.177</h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <h5>
        <b>No. </b><span class="bigger"></span>
      </h5>
    </div>
    <div class="col-sm-6">
      <h5 align="right">
        Barbados W.I.
      </h5>
    </div>
  </div><!--row-->




  <br><br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <b>In my opinion the animal(s) is/are in good health and free from clinical symptoms of communicable disease.</b>
      </p>
    </div>
  </div><!--row-->
  <br><br>
  <br><br>



  <div class="row">
    <div class="col-sm-7 col-sm-offset-5">
      <div align="center">
        {{ila.submission.submitter}}
      </div>
    </div>
  </div><!--row-->
  <div class="row">
    <div class="col-sm-7 col-sm-offset-5 top-border">
      <h5 align="center">
        <i>Senior Veterinary Officer</i>
      </h5>
    </div>
  </div><!--row-->
</div><!--container-->
