<div>
  <div class="row">
    <div class="col-sm-3">
      <h6>
        <b>
          A09: VS004
        </b>
      </h6>
    </div>
    <div class="col-sm-6" align="center">
      <h5>
        MINISTRY OF AGRICULTURE<br>
        VETERINARY SERVICES
      </h5>
      <h4>
        <b>
          Landing Certificate for Animals
        </b>
      </h4>
      <h5>
        <i>
          THE ANIMALS (DISEASES AND IMPORTATION) ACT, 1949<br>
          The Animals (Diseases and Importation) Control Regulations, 1961
        </i>
      </h5>
    </div>
    <div class="col-sm-3" align="right">
      <br>
      BARBADOS, W.I.
    </div>
  </div><!--row-->

  <br>
  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        This is to certify that I have this day examined the undermentioned animal(s)/bird(s):
        <br><br><br>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  
  <br><br>


  <div class="row">
    <div class="col-sm-2">
      <h6>
        <b>
          Agr:63 Rev.05/90
        </b>
      </h6>
    </div><!--col-sm-2-->
  </div><!--row-->
</div><!--container-->


