<div>
  <div class="row">
    <div class="col-sm-2">
      <h6>
        A09: VS 002
      </h6>
    </div>
    <div class="col-sm-8" align="center">
      <h5>
        GOVERNMENT OF BARBADOS<br>
        MINISTRIES OF AGRICULTURE AND HEALTH<br>
        MEAT AND POULTRY INSPECTION SERVICE
      </h5>
      <h4>
        <b>
          Official Veterinary Meat Inspection Certificate
        </b>
      </h4>
    </div><!--col-sm-8-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef1" sf-model="form.data"></div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
	    <div edit-commodities-no-price=""></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-5">
      <h4>Total marked Net Weight: <span class="sum" ng-bind="ila.submission.commodities | sum:0"></span></h4>
    </div>
    <div class="col-sm-5">
      <h4>Total no. pkgs: <span class="sum" ng-bind="ila.submission.commodities | sum:1"></span></h4>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef2" sf-model="form.data"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1 col-sm-offset-1" align="right">
      <h6>1</h6>
    </div><!--col-sm-1 col-sm-offset-1-->
    <div class="col-sm-10" align="justify">
      <h6>
        Barbados is free from Foot and Mouth Disease, Hog Cholera, African Swine Fever, Swine Vesicular Disease and Velogenic Viscerotropic Newcastle Disease. Importations are not allowed from countries enzootic for these diseases.
      </h6>
    </div><!--col-sm-10-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1 col-sm-offset-1" align="right">
      <h6>2</h6>
    </div><!--col-sm-1 col-sm-offset-1-->
    <div class="col-sm-10" align="justify">
      <h6>
        The Animals/Birds from which the above product(s) was/were derived received antemortem and postmortem veterinary inspection at the time of slaughter and were found to be free from disease and fit for human consumption.
      </h6>
    </div><!--col-sm-10-->
  </div><!--row-->
  <div class="row">
    <div class="col-sm-1 col-sm-offset-1" align="right">
      <h6>3</h6>
    </div><!--col-sm-1 col-sm-offset-1-->
    <div class="col-sm-10" align="justify">
      <h6>
        The product(s) has/have not been treated with and does/do not contain prohibited preservatives or colouring matter injurious to health and has/have been processed under sanitary conditions.
      </h6>
    </div><!--col-sm-10-->
  </div><!--row-->
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <h6 align="center">
        <i>
          Chief Veterinary Officer,<br>
          Veterinary Services, Ministry of Agriculture
        </i>
      </h6>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-2" align="right">
      <h6>
        <b>
          Stamp<br>
          Updated 90/05/31
        </b>
      </h6>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
