<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-1">
        <h5>To:</h5>
      </div>
      <div class="col-sm-6">
        <h5>
          <b>
            The Senior Veterinary Officer.<br/>
            Veterinary Services,<br/>
            Ministry of Agriculture.<br/>
            The Pine, St. Michael.
          </b>
        </h5>
      </div>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="page-header" align="center">
      <h4>
        <u><b>
          Application to Import Meat / Meat Products. Poultry / Poultry Pruducts, Dairy Products and/or Other<br/>
          Products of Animal/Poultry Origin into Barbados DIRECT from Country of Origin<br/>
           (under the terms of permit granted under Animals (Diseases and Importation) Art, Cap 253)
        </b></u>
      </h4>
    </div><!--page-header-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <span field-name="1" form='form' readonly="true" ila='ila'></span>
      <span field-name="4" form='form' readonly="true" ila='ila'></span>

      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="8" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.supplier.name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">
          Address
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.supplier.address">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span field-name="2" form-fields="form.options.formFields"></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.applicant.name">
        </div>
      </div>

      <span field-name="6" form='form' datatype="'Date'"></span>

      <span field-name="106" form='form' datatype="'String'"></span>

    </div>
  </div>
  <hr>


  <div class="col-sm-offset-1">
    <div class="row">
      <div class="col-sm-8" align="center">
        <u>
          Description of product (s) (include Brand Name for processed foods)
        </u>
      </div>
      <div class="col-sm-2" align="center">
        <u>
          Quantity (kg)
        </u>
      </div>
    </div><!--row-->
    <br>

    <div class="row">
      <div class="col-sm-12">
        <div edit-commodities-no-price=""></div>
      </div>
    </div>

    <br/><br/><br/>

    <div class="row">
      <div class="col-sm-11" align="justify">
        1. This application is to be filled out per shipment in duplicate.<br/>
        2. Request for Transshipments through ANY port MUST stated in the application.<br/>
        3. Transshipments MUST FIRST be approved prior to placing order.<br/>
        4. Additional Items in this shipment must be submitted on an attached sheet.<br/>
        5. The ENDORSED ORIGINAL application along with ORIGINAL Veterinary Sanitary Health Certificate issued by the Veterinary Authority of the country of ORIGIN must accompany the shipment or must arrive prior to the consignment and are to be presented to the Agricultural Quarantine Inspector at Point of Entry prior to inspection of the shipment.<br/>
        6. The approval of this application MAY BE WITHDRAWN at any time if circumstances arise which warrant such action. Notice of any such action will be given in writing.
      </div>
    </div><!--row-->

    <br><br>

    <div class="row">
      <div class="col-sm-7">
        <small>
          <u>
            A09: VSO13 (Revised 2010/01/14)
          </u>
        </small>
      </div>
    </div><!--row-->
    <br/>
  </div><!--col-sm-offset-1-->


 <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div ng-if="lpcoForm.$submitted">
    <div ng-messages="lpcoForm.expectedArrival.$error">
        <div class="alert alert-danger" ng-message="required">Please enter the date the goods are expected to arrive in Barbados.</div>
        <div class="alert alert-danger" ng-message="date">Please enter a valid arrival date in the format: {{form.config.date.datepickerformat}}</div>
    </div>
    <div validate-commodities=""></div>
  </div>

</div><!--container-->
