<div>
  <div class="row">
    <div class="col-sm-12">
      <h4 align="center">
        <b>
          VETERINARY SERVICES<br>
          The Pine, St Michael<br>
          Barbados
        </b>
      </h4>
      <h4>
        <b>
          NO: {{ila.submission.approvalNumber}}
        </b>
      </h4>
      <h4 align="center">
        <b>
          PERMIT TO IMPORT MEAT AND POULTRY PRODUCTS
        </b>
      </h4>
      <h5 align="center">
        <b><i>
          Made under the Animals (Diseases and Importation) Act, Cap. 253<br>
          Animals (Diseases and Importation Control) Regulations, 1961<br>
          Animals (Diseases and Importation Control) (Amendment) Regulations, 1991<br>
          Animals (Diseases and Importation Control) (Amendment) (No.2) Regulations, 1991
        </i></b>
      </h5>
      <h5 align="center">
        This permit must be presented to the Department of Customs<br>
        when clearing importation of meat and/or poultry products into Barbados
      </h5>
    </div>
  </div><!--row-->

  <hr class="thick">

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b>
          SUBJECT TO THE TERMS AND CONDITIONS OF THIS PERMIT AS GRANTED BY THE<br>
          SENIOR VETERINARY OFFICER UNDER THE ABOVE MENTIONED ACT,<br>
          PERMISSION IS HEREBY GRANTED TO
        </b>
      </h5>
      <br><br>
      <h5>
        <b>{{ila.submission.applicant.name}}</b><br>
          Of <b>{{ila.submission.applicant.address}}</b><br>
          TO IMPORT INTO BARBADOS MEAT AND/OR POULTRY PRODUCTS DURING THE PERIOD<br>
          <b>{{ila.submission.periodRequestStart}}</b> TO <b>{{ila.submission.periodRequestEnding}}</b>
      </h5>
      <br><br>
      <h5 align="right">
        <b>{{ila.submission.submitter}}</b><br>
        <i>Senior Veterinary Officer.</i>
      </h5>
      <br><br>
      <h5 align="right">
        <b>{{ila.submission.approvalDate}}</b><br>
        Date
      </h5>
      <h5>
        NOTE:
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      This permit may be cancelled at any time during the period for which it has been issued if circumstances arise which warrant such action. Notice of any such cancellation will be given in writing. Attention is drawn to Regulation 26 of the Animals (Diseases and Importation Control) Regulations, 1961 which makes it an offence for a person to import any meat or poultry products in contravention of these regulations.
    </div><!--col-sm-11 col-sm-offset-1-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <h6>
        <b>
          AO9: VS007 (Revised: 01/01/09)(Previous rev 0790)
        </b>
      </h6>
    </div><!--col-sm-12-->
  </div><!--row-->
</div><!--container-->
