<div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <h4>
        MINISTRY OF AGRICULTURE<br>
        VETERINARY SERVICES
      </h4>
      <h4>
        <b>Permit to Import into Barbados</b>
      </h4>
    </div>
    <div class="col-sm-2">
      <h5>
        <br>
        <b>BARBADOS, W.I.</b>
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b><i>
          The Animals (Diseases and Importation) Act, Cap. 253<br>
          The Animals (Diseases and Importation Control) Regulations, 1961
        </i></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        NO. 
        <span class="big"><b>A</b></span> 
        <span class="bigger">3644</span>
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Permission is hereby granted to ... <br>
        of ... <br>
        to import into Barbados from ... (name of company) <br>
        of ... (full address) <br>
        the following: ...
      </p>
    </div><!--col-sm-12-->

    <div class="col-sm-4">
      <p>[ ] Hatching Eggs</p>
      <p>[ ] Germ Plasm</p>
    </div>
    <div class="col-sm-4">
      <p>[ ] Semen</p>
      <p>[ ] Veterinary Biologicals</p>
    </div>
    <div class="col-sm-4">
      <p>[ ] Other (specify)</p>
    </div>

    <div class="col-sm-12">
      <p>
        Description:<br><br>
        subject to Attached Conditions.<br>
        This permit is valid until ...
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-7">
      <br><br><br>
      <h6>
        <b>Revised 90/07/01</b>
      </h6>
    </div>
    <div class="col-sm-5">
      <br>
      <p class="top-border" align="center">
        <i>Chief Veterinary Officer</i>
      </p>
      <p align="right">
        Date
      </p>
    </div>
  </div><!--row-->
</div><!--container-->
