<div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <h4>
        MINISTRY OF AGRICULTURE<br>
        VETERINARY SERVICES
      </h4>
      <h4>
        <b>Permit to Import into Barbados</b>
      </h4>
    </div>
    <div class="col-sm-2">
      <h5>
        <br>
        <b>BARBADOS, W.I.</b>
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <h5 align="center">
        <b><i>
          The Animals (Diseases and Importation) Act, Cap. 253<br>
          The Animals (Diseases and Importation Control) Regulations, 1961
        </i></b>
      </h5>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <p>
        NO.
        <span class="big"><b>A</b></span>
        <span class="bigger">3644</span>
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Permission is hereby granted to <b>{{ila.submission.applicant.name}}</b> <br>
        of <b>{{ila.submission.applicant.address}}, {{ila.submission.applicant.country}}</b> <br>
        to import into Barbados from <b>{{ila.submission.supplier.name}}</b> <br>
        of <b>{{ila.submission.supplier.address}}, {{ila.submission.supplier.country}}</b> <br>
        the following:
      </p>
    </div><!--col-sm-12-->


    <div class="row">
      <div class="col-sm-12">
        <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
      </div>
    </div>
  </div>
</div><!--container-->
