<div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="col-sm-2">
      <h6>A09: vs 005</h6>
    </div><!--col-sm-2-->
    <div class="col-sm-8" align="center">
      <h5>
        MINISTRY OF AGRICULTURE<br>
        <b>VETERINARY SERVICES</b>
      </h5>
      <h4><b>
        Permit to Import Animals and Birds into Barbados
      </b></h4>
      <h5><i>
        The Animals (Diseases and Importation) Act, Cap. 253<br>
        The Animals (Diseases and Importation Control) Regulations, 1961
      </i></h5>
    </div><!--col-sm-8-->
    <div class="col-sm-2">
      <br>
      <h5>BARBADOS, W.I.</h5>
    </div><!--col-sm-2-->
  </div><!--row-->


  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <div edit-commodities-with-fields=""></div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-sm-12">
        This permit is valid for <input class="form-inline-number" type="number" ng-model="ila.submission.permitLength" min="0" required> month(s) from the date of issue.
      </p>
    </div><!--col-sm-12-->
  </div><!--row-->
  <br><br>

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--col-sm-10 col-sm-offset-1-->
</div><!--row-->
</div><!--container-->
