<div>
  <div class="row">
    <div class="col-sm-2">
      <h6>A09:VS003</h6>
    </div><!--col-sm-2-->
    <div class="col-sm-8" align="center">
      <h4>
        MINISTRY OF AGRICULTURE<br>
        VETERINARY SERVICES
      </h4>
      <h4><b>
        Veterinary Export Health Certificate Equine
      </b></h4>
    </div><!--col-sm-2-->
    <div class="col-sm-2" align="right">
      <h5>BARBADOS, W.I.</h5>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef1" sf-model="form.data"></div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-8">
          <table class="table black-border">
            <tr>
              <th>
                Please ensure that diagram and written description agree.
              </th>
            </tr>
          </table>
        </div><!--col-sm-8-->
      </div><!--row-->
    </div>
    <div class="col-sm-4">
      <p align="center"><i>
        (whorls to be shown)
      </i></p>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <table class="table black-border">
            <tr>
              <th class="center-align">
                WHITE MARKINGS<br>
                TO BE SHOWN IN RED
              </th>
            </tr>
          </table>
        </div><!--col-sm-7 col-sm-offset-5-->
      </div><!--row-->
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12 col-lg-6 horse-draw-container">
          <!-- <div drawHorse=""></div> -->
      <div>
        <canvas id="horse-right-side" class="horse-draw">
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 horse-draw-container">
          <!-- <div drawHorse=""></div> -->
      <div>
        <canvas id="horse-left-side" class="horse-draw">
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 horse-draw-container">
          <!-- <div drawHorse=""></div> -->
      <div>
        <canvas id="horse-hind" class="horse-draw">
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 horse-draw-container">
          <!-- <div drawHorse=""></div> -->
      <div>
        <canvas id="horse-fore" class="horse-draw">
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 horse-draw-container">
          <!-- <div drawHorse=""></div> -->
      <div>
        <canvas id="horse-neck" class="horse-draw">
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 horse-draw-container">
          <!-- <div drawHorse=""></div> -->
      <div pw-canvas options="{width: auto, height: 400, lineWidth: 1, undo: true, imageSrc: '../../Forms/img/horse/upper-eye-level.jpg'}">
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 horse-draw-container">
          <!-- <div drawHorse=""></div> -->
      <!-- <div pw-canvas id="horse-muzzle" class="horse-draw"></div> -->
      <div pw-canvas options="{width: auto, height: 400, lineWidth: 1, undo: true, imageSrc: '../../Forms/img/horse/muzzle.jpg'}">
      </div>
    </div>
  </div>

<br><br>

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef2" sf-model="form.data"></div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-11">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li><!--2-->
              Barbados is free from Foot and Mouth Disease.
            </li>
            <li><!--3-->
              The animal is healthy and free from signs of infectious diseases.
            </li>
            <li><!--4-->
              So far as it has been possible to ascertain, no case of dourine (Mal du coit), Mal de Caderas, glanders (farcy), epizootic lymphangitis, ulcerative lymphangitis, influenza, equine infectious anaemia, equine encephalomyelitis, contagious equine metritis, equine viral arteritis. equine rhinopneumonitis, or mange, occurred on the premises where the animal was kept during the thirty days prior to the date of exportation.
            </li>
            <li><!--5-->
              Within forty-eight hours of export, the animal was treated for external parasites with an approved chemical.
            </li>
          </ul>
        </div><!--col-sm-12-->
      </div><!--row-->
    </div><!--col-sm-11-->
  </div><!--row-->

  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div><!--container-->
