<div>
  <div class="row">
    <div class="col-sm-2">
      <h6>
        A09:VS001
      </h6>
    </div>
    <div class="col-sm-8" align="center">
      <h5>
        MINISTRY OF AGRICULTURE
      </h5>
      <h5>
        <b>
          VETERINARY SERVICES
        </b>
      </h5>
      <h4>
        <b>
          Veterinary Export Health Certificate Avian
        </b>
      </h4>
    </div>
    <div class="col-sm-2">
      <br><br>
      <h5>
        BARBADOS, W.I.
      </h5>
    </div>
  </div><!--row-->

  <br><br>
  <div class="row">
    <div class="col-sm-6">
      <h4>
        <b>
          NO.
          <span class="big"></span>
          <span class="bigger">{{ila.submission.serialNumberCertificate}}</span>
        </b>
      </h4>
    </div>
    <div class="col-sm-6">
      <br>
      <h5 align="right">{{ila.submission.issuedDate  | date:'dd/MM/yyyy'}}</h5>
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-5">
      <p>
        <b>Consignee:</b> {{ila.submission.consignee.name}}<br><br>
        <b>Exporter:</b> {{ila.submission.applicant.name}}
      </p>
    </div>
    <div class="col-sm-7">
      <p>
        <b>Address:</b> {{ila.submission.consignee.address}}<br><br>
        <b>Address:</b> {{ila.submission.applicant.address}}
      </p>
    </div>
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="max-width: 100%">
      <table class="table black-border" style="size: 1500px; !important">
        <tr>
          <td colspan="4">
            DESCRIPTION
          </td>
          <td>NO.</td>
          <td colspan="3">
            SEX
          </td>
          <td>AGE</td>
          <td style="border-bottom: none !important"></td>
          <td style="border-bottom: none !important"></td>
          <td colspan="6">
            VACCINATIONS
          </td>
        </tr>
        <tr class="narrow-cells">
          <td>
            <br><br><br><br><br><br><br><br><br>
            <p class="rotate">
              BROILER
            </p>
          </td>
          <td>
            <p class="rotate">
              LAYER
            </p>
          </td>
          <td>
            <p class="rotate">
              TURKEY
            </p>
          </td>
          <td>
            <p class="rotate">
              OTHER
            </p>
          </td>
          <td>
            <p>

            </p>
          </td>
          <td>
            <p class="rotate">
              MALE
            </p>
          </td>
          <td>
            <p class="rotate">
              FEMALE
            </p>
          </td>
          <td>
            <p class="rotate">
              UNSEXED
            </p>
          </td>
          <td>
            <p class="rotate">

            </p>
          </td>
          <td style="border-top: none !important;">
            <p class="rotate">
              FED
            </p>
          </td>
          <td style="border-top: none !important;">
            <p class="rotate">
              WATERED
            </p>
          </td>
          <td>
            <p class="rotate">
              MAREKS
            </p>
          </td>
          <td>
            <p class="rotate">
              FOWLPOX
            </p>
          </td>
          <td>
            <p class="rotate">
              NEWCASTLE
            </p>
          </td>
          <td>
            <p class="rotate">
              AIB
            </p>
          </td>
          <td>
            <p class="rotate">
              GUMBORO
            </p>
          </td>
          <td>
            <p class="rotate">
              OTHER
            </p>
          </td>
        </tr>
        <tr ng-repeat="item in ila.submission.commodities">
          <td><span ng-if="item.commodityType =='broiler'">X</span></td>
          <td><span ng-if="item.commodityType =='layer'">X</span></td>
          <td><span ng-if="item.commodityType =='turkey'">X</span></td>
          <td><span ng-if="item.commodityType =='other'">X</span></td>
          <td ng-bind="item.units[0].quantity"></td>
          <td><span ng-if="item.sex =='male'">X</span></td>
          <td><span ng-if="item.sex =='female'">X</span></td>
          <td><span ng-if="item.sex =='unsexed'">X</span></td>
          <td ng-bind="item.age"></td>
          <td><span ng-if="item.condition.fed == true">X</span></td>
          <td><span ng-if="item.condition.watered == true">X</span></td>
          <td><span ng-if="item.vaccinations.mareks == true">X</span></td>
          <td><span ng-if="item.vaccinations.fowlpox == true">X</span></td>
          <td><span ng-if="item.vaccinations.newcastle == true">X</span></td>
          <td><span ng-if="item.vaccinations.aib == true">X</span></td>
          <td><span ng-if="item.vaccinations.gumboro == true">X</span></td>
          <td><span ng-if="item.vaccinations.other == true">X</span></td>
        </tr>
      </table>
    </div><!--col-sm-10 col-sm-offset-1-->
  </div><!--row-->
  <br><br>
  <div class="row">
    <div class="col-sm-1" align="right">
      <p>[<span ng-if="ila.submission.safety.safe_hatcheries == true"><b>X</b></span><span ng-if="ila.submission.safety.safe_hatcheries == false">&nbsp;&nbsp;</span>] 1.</p>
      <p>[<span ng-if="ila.submission.safety.healthy == true"><b>X</b></span><span ng-if="ila.submission.safety.healthy == false">&nbsp;&nbsp;</span>] 2.</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p>
        The birds originate from Hatcheries participating in the Hatchery Sanitation Scheme of the Ministry of Agriculture.
      </p>
      <p>
        In my opinion the bird(s) is/are in good health and free from clinical symptoms of communicable disease and insofar as can be determined has/have not been exposed to Fowl Cholera, Fowl Typhoid, New Castle Disease and Avian Influenza (Fowl Plague).
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
      <p align="center">
        <b>{{ila.submission.submitter}}</b> <br>
        <i>Chief Veterinary Officer</i>
      </p>
    </div>
  </div><!--row-->
</div><!--container-->
