<div>
  <div class="row">
    <div class="col-sm-2">
      <h6>A09:VS003</h6>
    </div><!--col-sm-2-->
    <div class="col-sm-8" align="center">
      <h4>
        MINISTRY OF AGRICULTURE<br>
        VETERINARY SERVICES
      </h4>
      <h4><b>
        Veterinary Export Health Certificate Equine
      </b></h4>
    </div><!--col-sm-2-->
    <div class="col-sm-2" align="right">
      <h5>BARBADOS, W.I.</h5>
    </div><!--col-sm-2-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <h4>
        NO.
        <span class="big"><b>A</b></span>
        <span class="bigger">0854</span>
      </h4>
      <p>Consignee: <b>{{ila.submission.applicant.name}}</b></p>
      <p>Exporter: <b>{{ila.submission.supplier.name}}</b></p>
      <p><b>Description of Animal:</b></p>
    </div><!--col-sm-6-->
    <div class="col-sm-6">
      <h5 align="right"><b>{{ila.submission.entryDate | date: 'd MMMM, yyyy'}}</b></h5>
      <p>Address: <b>{{ila.submission.applicant.address}}</b></p>
      <p>Address: <b>{{ila.submission.supplier.address}}</b></p>
    </div><!--col-sm-6-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-8">
          <table class="table black-border">
            <tr>
              <th>
                Please ensure that diagram and written description agree.
              </th>
            </tr>
          </table>
        </div><!--col-sm-8-->
      </div><!--row-->

      <div class="row">
        <div class="col-sm-12">
          <p align="center"><i>
            Right side
          </i></p>
          <br><br><br><br><br><br><br><br><br><br><br>
          <p><i>
            Hind - Rear view
          </i></p>
          <br>
          <p><i>
            Left
          </i></p>
        </div><!--col-sm-12-->
      </div><!--row-->
    </div><!--col-sm-4-->
    <div class="col-sm-4">
      <p align="center"><i>
        (whorls to be shown)
      </i></p>
      <br><br><br><br><br><br>
      <p align="right"><i>
        Upper<br>
        eye<br>
        level<br><br><br><br><br><br><br><br>
      </i></p>
      <div class="row">
        <div class="col-sm-6">
          <p align="center"><i>
            Neck<br>
            Lower view
          </i></p>
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          <p align="center"><i>
            <br>
            Muzzle
          </i></p>
        </div><!--col-sm-6-->
      </div><!--row-->
    </div><!--col-sm-4-->
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <table class="table black-border">
            <tr>
              <th class="center-align">
                WHITE MARKINGS<br>
                TO BE SHOWN IN RED
              </th>
            </tr>
          </table>
        </div><!--col-sm-7 col-sm-offset-5-->
      </div><!--row-->

      <div class="row">
        <div class="col-sm-12">
          <p align="center"><i>
            Left side
          </i></p>
          <br><br><br><br><br><br><br><br><br>
          <p align="right"><i>
            Fore - Rear view
          </i></p>
          <br><br><br>
        </div><!--col-sm-12-->

        <div class="col-sm-4">
          <p align="right"><i>
            Left
          </i></p>
        </div><!--col-sm-4-->
        <div class="col-sm-4 col-sm-offset-4">
          <p><i>
            Right
          </i></p>
        </div><!--col-sm-4-->
      </div><!--row-->
    </div><!--col-sm-4-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-sm-12">
      <table class="table black-border">
        <tr>
          <td>Colour</td>
          <td>Sex</td>
          <td>Year of Birth</td>
          <td>Breed</td>
          <td>Name</td>
        </tr>
        <tr>
          <td><b>{{ila.submission.horseFeatures.colour}}</b></td>
          <td><b>{{ila.submission.horseFeatures.sex}}</b></td>
          <td><b>{{ila.submission.horseFeatures.yearBirth}}</b></td>
          <td><b>{{ila.submission.horseFeatures.breed}}</b></td>
          <td><b>{{ila.submission.horseFeatures.name}}</b></td>
        </tr>
      </table>

      <table class="table black-border no-top-td no-right-td no-left-td">
        <tr>
          <td class="no-top-cell no-left-cell" width="15%">
            <h5 align="center">Head</h5>
            <p align="right">
              LF
              <br><br>
              RF
            </p>
            <p align="left">
              Limbs
            </p>
            <p align="right">
              LH
              <br><br>
              RH
            </p>
            <p align="center">
              Body
              <br><br>
              Acquired
            </p>
          </td>
          <td class="no-top-cell no-right-cell">
            <h5></h5>
            <p>{{ila.submission.horseFeatures.markings.head}}</p>
            <p>{{ila.submission.horseFeatures.markings.limbs.lf}}</p>
            <br>
            <p>{{ila.submission.horseFeatures.markings.limbs.rf}}</p>
            <br>
            <p>{{ila.submission.horseFeatures.markings.limbs.lh}}</p>
            <p>{{ila.submission.horseFeatures.markings.limbs.rh}}</p>
            <p>{{ila.submission.horseFeatures.markings.body}}</p>
            <br>
            <p>{{ila.submission.horseFeatures.markings.acquired}}</p>


            <br><br>

            <h6 align="right"><i>
              (If no markings - This fact to be stated)
            </i></h6>
          </td>
        </tr>
      </table>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1">
      <p>1.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>2.</p>
      <p>3.</p>
      <p>4.</p><br><br>
      <p>5.</p>
      <p>6.</p>
      <p>7.</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <div class="row">
        <div class="col-sm-3">
          <p>Vaccinations</p>
        </div><!--col-sm-3-->
        <div class="col-sm-3">
          <p>Equine Influenza</p>
          <p>Equine Rhinopneumonitis</p>
          <p>Other: <b>{{ila.submission.horseVaccinationDates.other.type}}</b></p>
        </div><!--col-sm-3-->
        <div class="col-sm-6">
          <p>date(s): <span ng-repeat="shot in ila.submission.horseVaccinationDates.influenza"><b>{{shot | date: 'M/d/yyyy'}}</b><span ng-show="!$last">, </span></span></p>
          <p>date(s): <span ng-repeat="shot in ila.submission.horseVaccinationDates.rhinopneumonitis"><b>{{shot | date: 'M/d/yyyy'}}</b><span ng-show="!$last">, </span></span></p>
          <p>date(s) <span ng-repeat="date in ila.submission.horseVaccinationDates.other.dates"><b>{{date | date: 'M/d/yyyy'}}</b><span ng-show="!$last">, </span></span></p>
        </div><!--col-sm-6-->

        <div class="col-sm-12">
          <p><!--2-->
            Barbados is free from Foot and Mouth Disease.
          </p>
          <p><!--3-->
            The animal is healthy and free from signs of infectious diseases.
          </p>
          <p><!--4-->
            So far as it has been possible to ascertain, no case of dourine (Mal du coit), Mal de Caderas, glanders (farcy), epizootic lymphangitis, ulcerative lymphangitis, influenza, equine infectious anaemia, equine encephalomyelitis, contagious equine metritis, equine viral arteritis. equine rhinopneumonitis, or mange, occurred on the premises where the animal was kept during the thirty days prior to the date of exportation.
          </p>
          <p><!--5-->
            Within forty-eight hours of export, the animal was treated for external parasites with an approved chemical.
          </p>
          <p><!--6-->
            The animal was born in Barbados and/or resident since <b>{{ila.submission.dateBorn | date: 'M/d/yyyy'}}</b>
          </p>
          <p><!--7-->
            Additional certification <b>{{ila.submission.remarks}}</b>
            <br><br><br>
          </p>
          <p align="right"><i>
            <span class="bottom-border"><b>{{ila.submission.approvedBy}}</b></span><br>
            Chief Veterinary Officer
          </i></p>
        </div><!--col-sm-12-->
      </div><!--row-->
    </div><!--col-sm-11-->
  </div><!--row-->
</div><!--container-->
