<div>
  <div class="row">
    <div class="col-sm-2">
      <h6>
        A09:VS001
      </h6>
    </div>
    <div class="col-sm-8" align="center">
      <h5>
        MINISTRY OF AGRICULTURE
      </h5>
      <h5>
        <b>
          VETERINARY SERVICES
        </b>
      </h5>
      <h4>
        <b>
          Veterinary Export Health Certificate Avian
        </b>
      </h4>
    </div>
    <div class="col-sm-2">
      <br><br>
      <h5>
        BARBADOS, W.I.
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <h4>
        <b>
          NO. 
          <span class="big">A</span>
          ... <span class="bigger">10621</span>
        </b>
      </h4>
      <p>
        Consignee...<br><br>
        Exporter...
      </p>
    </div>
    <div class="col-sm-6">
      <br>
      <h5 align="right">...20...</h5>
      <p>
        Address...<br><br>
        Address...
      </p>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="max-width: 100%">
      <table class="table black-border" style="size: 1500px; !important">
        <tr>
          <td colspan="4">
            DESCRIPTION
          </td>
          <td>NO.</td>
          <td colspan="3">
            SEX
          </td>
          <td>AGE</td>
          <td style="border-bottom: none !important"></td>
          <td style="border-bottom: none !important"></td>
          <td colspan="6">
            VACCINATIONS
          </td>
        </tr>
        <tr class="narrow-cells">
          <td>
            <br><br><br><br><br><br><br><br><br>
            <p class="rotate">
              BROILER
            </p>
          </td>
          <td>
            <p class="rotate">
              LAYER
            </p>
          </td>
          <td>
            <p class="rotate">
              TURKEY
            </p>
          </td>
          <td>
            <p class="rotate">
              OTHER
            </p>
          </td>
          <td>
            <p>
              
            </p>
          </td>
          <td>
            <p class="rotate">
              MALE
            </p>
          </td>
          <td>
            <p class="rotate">
              FEMALE
            </p>
          </td>
          <td>
            <p class="rotate">
              UNSEXED
            </p>
          </td>
          <td>
            <p class="rotate">
              
            </p>
          </td>
          <td style="border-top: none !important;">
            <p class="rotate">
              FED
            </p>
          </td>
          <td style="border-top: none !important;">
            <p class="rotate">
              WATERED
            </p>
          </td>
          <td>
            <p class="rotate">
              MAREKS
            </p>
          </td>
          <td>
            <p class="rotate">
              FOWLPOX
            </p>
          </td>
          <td>
            <p class="rotate">
              NEWCASTLE
            </p>
          </td>
          <td>
            <p class="rotate">
              AIB
            </p>
          </td>
          <td>
            <p class="rotate">
              GUMBORO
            </p>
          </td>
          <td>
            <p class="rotate">
              OTHER
            </p>
          </td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
      </table>
    </div><!--col-sm-10 col-sm-offset-1-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-1" align="right">
      <p>[ ] 1.</p>
      <p>[ ] 2.</p>
    </div><!--col-sm-1-->
    <div class="col-sm-11">
      <p>
        The birds originate from Hatcheries participating in the Hatchery Sanitation Scheme of the Ministry of Agriculture.
      </p>
      <p>
        In my opinion the bird(s) is/are in good health and free from clinical symptoms of communicable disease and insofar as can be determined has/have not been exposed to Fowl Cholera, Fowl Typhoid, New Castle Disease and Avian Influenza (Fowl Plague).
      </p>
    </div><!--col-sm-11-->
  </div><!--row-->
  <br><br>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
      <p align="center">
        <i>Chief Veterinary Officer</i>
      </p>
    </div>
  </div><!--row-->
</div><!--container-->
