<div>
  <div class="row">
    <div class="col-sm-2">
      <h6>
        A09:VS001
      </h6>
    </div>
    <div class="col-sm-8" align="center">
      <h5>
        MINISTRY OF AGRICULTURE
      </h5>
      <h5>
        <b>
          VETERINARY SERVICES
        </b>
      </h5>
      <h4>
        <b>
          Veterinary Export Health Certificate Avian
        </b>
      </h4>
    </div>
    <div class="col-sm-2">
      <br><br>
      <h5>
        BARBADOS, W.I.
      </h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <h4>
        <b>
          NO. 
          <span class="big"></span>
          <span class="bigger"></span>
        </b>
      </h4>
    </div>
    <div class="col-sm-6">
      <br>
      <h5 align="right">{{current_date  | date:'dd/MM/yyyy'}}</h5>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-12">
      <div sf-schema="schema" sf-form="formdef" sf-model="form.data"></div>
    </div>
  </div>
  <pre>{{form.data}}</pre>

  <br><br>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
      <p align="center">
        <i>Chief Veterinary Officer</i>
      </p>
    </div>
  </div><!--row-->
</div><!--container-->
