/* @override
	http://localhost:3000/css/app.css
	http://localhost:4000/Forms/css/app.css
*/

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}



.row .form-group {
	width: 100%;
	margin-left: 0;
}



.app{
	margin:200px;
}
.loading-bar{
	width:30%;
}
.document{
	position:relative;padding:10px;cursor:pointer;margin-bottom:5px;border-bottom:1px solid black;
	transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out;
}
.document:hover{
	background:rgba(0,0,0,0.1);
	transform: scale(1.05); -ms-transform: scale(1.05); -webkit-transform: scale(1.05); -moz-transform: scale(1.05);
}
.document .title{
	font-size:1.1em; font-weight:bold;
}
.document .info{
	margin-left:30px;padding-top:5px;
}
.panel-heading > div{
	display:inline-block;
}
.panel-tools{
	float:right;
}
form.ng-submitted .ng-invalid, form .page-submitted .ng-invalid{
	border: 1px solid red;
}
form .page-submitted input[type=radio].ng-invalid{
	outline: 1px solid red
}
form.ng-submitted.ng-invalid .ng-valid, form .page-submitted .ng-valid{
	border:1px solid lime;
}
.document .actions{
	position:absolute;bottom:0px;right:0px;margin:10px;visibility:hidden;
}
.document:hover .actions{
	visibility: visible;
}
.btn-right{
	float:right;
}
.input-form .related-information{
	padding:10px 20px;border-bottom:1px solid #ddd;margin-bottom:10px;
}
.input-form .related-information .related-link{
	width:100%;text-align:right;
}
.input-form.default .post-error{
	color:red;font-weight:bold;text-align:center;padding:5px;
}
.task-description{
	padding:5px;margin-bottom:5px;font-weight:bold;border-bottom:1px solid #ddd;
}
.modal-footer .btn-warning{
	float:left;
}
.hs-code{
	padding:5px;margin-bottom:5px;border-bottom:1px solid #ddd;font-weight:bold;
}
.hs-code .title{
	font-size:1.2em;margin-bottom:5px;
}
.hs-code .subtitle{
	font-size:1.1em;margin-bottom:5px;
}
table.table td.commodity-subtable{
	padding:0px;vertical-align:middle;
}
.commodity-subtable table{
	width:100%;
}
.commodity-subtable table td{
	width:25%;
}

thead table tbody td {
	padding-left: 5px;
}

table.table td.commodity-subtable.subtable-animal {
	padding-left: 10px;
}

.commodity-subtable.subtable-animal table td:nth-of-type(2) {
	width: 12%;
}

.commodity-subtable.subtable-animal table td:nth-of-type(3) {
	width: 7%;
}

.commodity-subtable.subtable-animal table td:nth-of-type(4) {
	width: 17%;
}

.form-group .control-value{
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left;
}

.form-group .control-label {
	text-align: left;
}

.field-tooltip {
	font-size:0.7em;
}
.field-name {
}
.currency > input[type="number"]{
	width:90%;
	display:inline-block;
}

.odd {
    background-color: #fafafa;
}
.even {
    background-color: #FFF;
}


/*
  Some styles are shared, the other ones will have their own section which name is the name of
  Bixal PDF Document.
*/

/* Commons */
.top-border {
  border-top: solid 1px;
}

.no-margin {
  margin-top: -65px;
}

.thick {
  height: 2px;
  color: black;
  background-color: black;
}

.big {
  font-size: 22px
}

.bigger {
  font-size: 32px;
}

.with-border {
  border: 1px solid;
}

.right-align {
  text-align: right;
}

.no-top-td td, .no-top {
  border-top: none !important;
}

.black-border th, .black-border td {
  border: 1px solid black !important;
}

.with-top {
  border-top: 1px solid black !important;
}

.with-right {
  border-right: 1px solid black !important;
}

.with-left {
  border-left: 1px solid black !important;
}

.no-border-th th {
  border-left: none !important;
  border-right: none !important;
}

.no-top-th .th-top {
  border-top: none !important;
}

.right-border {
  border-right: 1px solid black;
}

.left-border {
  border-left: 1px solid black;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.no-top-td .no-top-cell {
  border-top: none !important;
}

.no-right-td .no-right-cell {
  border-right: none !important;
}

.no-bottom-td .no-bottom-cell {
  border-bottom: none !important;
}

.no-left-td .no-left-cell {
  border-left: none !important;
}
/* End of Commons */

/* Application for permit to import Dairy Products */
.no-margin-lt {
  margin-left: -15px;
  margin-top: -10px;
}

.no-margin-t {
  margin-top: -10px;
}

.under-word {
  margin-top: -30px;
  padding-left: 125px;
}
/* End */

/* Application to Individual Permit to Import Meat Dairy Poultry */
.top-padding {
  padding-top: 10px;
}

.no-border-top {
  border: 1px solid;
  border-top: none;
}
/* End */

/* Duty Free Certificate */
.inverse th {
  font-weight: normal;
}

.inverse td {
  font-weight: bold;
}
/* End */

/* Export Authorization Narcotics */
.authorisation td, .authorisation tr {
  border: 2px solid black;
}
/* End */

/* Plant Quarantine Waiver Application */
.no-bottom-th th, .no-bottom {
  border-bottom: none !important;
}

.center-align {
  text-align: center;
}
/* End */

/* Veterinary Export Health Certificate Avian */
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.narrow-cells td p {
  width: 7px;
  position: absolute;
  top: 215px;
}

.narrow-cells td {
  width: 25px;
}
/* End */

/* Application for Approval of Pesticide */
.no-border-td td {
  border: none !important;
}
/* End */

/* CITES Permit - sample data */
.custom-table td {
  padding-left: 10px;
}
/* End */

/* End of HTML conversion */



/*Timepicker Format*/
.datetime {
	margin-bottom: 50px;
}

.datetime .date, .datetime .time {
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.datetime .time {
	padding-left: 15px;
}

.time table tbody > tr:first-child, .time table tbody > tr:last-child {
	display: none;
}

/*schema checkboxes inline*/

.schema-form-checkboxes.inline label.control-label {
	float: left;
	text-align: left;
	width: 100%;
}

.schema-form-checkboxes.inline .checkbox {
	float: left;
	padding-right: 25px;
}

.form-inline-number {
	width: 50px;
	text-align: center;
}


/*radios inline with input box - Atlantic Swordfish Certificate, 134*/

.swordfish-commodity .radio {
	padding-top: 0;
	min-height: auto;
}

.swordfish-commodity .radio label, .swordfish-commodity .radio input {
	line-height: 1em;
	margin-top: 0;
}

.approve-right-align {
	display: inline-block;
	float: right;
}

/* End */
