<div>
	<div class="form-group">
    	<label class="col-sm-2 control-label">Approval</label>
    	<div class="col-sm-10">
    		<div ng-repeat="a in form.options.approvalCodes">
    			<label><input type="radio" ng-model="form.data.approvalCode" value="{{a.id}}" ng-required="!form.data.approvalCode"> {{a.name}}</label>
    		</div>
    	</div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2 control-label">Comments</label>
    	<div class="col-sm-10">
      		<textarea class="form-control" ng-model="form.data.comments" rows="6" ng-required="form.data.approvalCode == 3"></textarea>
    	</div>
  	</div>
</div>