<div>
  <div>
    <div class="row">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <td>HS Code</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Price Per Unit</td>
            <td>CIF Value</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in ila.submission.commodities">
            <td ng-bind="item.hsCode"></td>
            <td ng-bind="item.description"></td>
            <td ng-bind="item.quantity"></td>
            <td ng-bind="item.pricePerUnit"</td>
            <td ng-bind="item.cifValue"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">On behalf myself</label>
          <div class="col-sm-8" ng-bind="ila.submission.onBehalf">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Origin</label>
          <div class="col-sm-8" ng-repeat="item in form.options.countries | filter:{id: ila.submission.originId}:true | limitTo:'1'">
            <span ng-bind="item.name"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Expected Arrival Date</label>
          <div class="col-sm-8" ng-bind="ila.submission.expectedArrival | date:form.datepicker.format">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">Company</label>
          <div class="col-sm-8" ng-repeat="item in form.options.companies | filter:{id: ila.submission.companyId}:true | limitTo:'1'">
            <span ng-bind="item.name"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Consigned</label>
          <div class="col-sm-8" ng-repeat="item in form.options.countries | filter:{id: ila.submission.countryConsignedId}:true | limitTo:'1'">
            <span ng-bind="item.name"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Supplier</label>
          <div class="col-sm-8" ng-repeat="item in form.options.suppliers | filter:{id: ila.submission.supplierId}:true | limitTo:'1'">
            <div ng-bind="item.name"></div>
            <div ng-bind="item.address"></div>
            <div ng-bind="item.countryId"></div>
          </div>
        </div>
      </div>
    </div>
</div>