<form name="lpcoForm" class="form-horizontal input-form default" novalidate ng-submit="form.submit(lpcoForm)">
	<div class="modal-header">
        <h3 class="modal-title" ng-bind="item.title"></h3>
    </div>
    <div class="modal-body" ng-show="!form.loaded">
     [spinner]
    </div>
    <div class="modal-body" ng-show="form.loaded">
    	<div ng-if="item.description" class="task-description">
	    	<div ng-bind="item.description"></div>
	  	</div>
	  	<div class="related-information">
		  	<div tabset="">
		    	<div tab="" heading="Submission">
		    		<div ng-show="form.showSubmission() && form.page == -1">
		    			<div submission="item.submission" class="tab-content submission"></div>
		    		    <div class="modal-footer">
					        <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
					        <button type="button" class="btn btn-primary" ng-click="form.pageUp()">Continue</button>
					    </div>
					</div>
		    		<div ng-hide="form.showSubmission() && form.page == -1">
		    			<div ng-include="form.template" onload="form.loaded = true;"></div>
		    		</div>
		    	</div>
		    	<div tab="" heading="History" ng-if="item.tasks.length">
		    		<div class="tab-content">
		    			<div history="item.tasks" class="history"></div>
		    		</div>
		    	</div>
		    </div>
	  	</div>
    </div>
    <div class="post-error">
    	<span ng-if="form.postError" ng-bind="form.postError"></span>
    </div>
</form>
