<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'origin'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.origin">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'countryConsigned'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.countryConsigned">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'expectedArrival'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.description}}"></span></span>
        </label>
        <div class="col-sm-8 control-value">
          <input name="expectedArrival" type="text" class="form-control" datepicker-popup="{{form.config.date.dateformat}}" ng-model="form.data.expectedArrival" ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
        <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'submitter'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.submitter">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'applicant'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.applicant">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'supplier'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.supplier">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div edit-commodities=""></div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div ng-if="lpcoForm.$submitted">
    <div ng-messages="lpcoForm.expectedArrival.$error">
        <div class="alert alert-danger" ng-message="required">Please enter the date the goods are expected to arrive in Barbados.</div>
    </div>
    <div validate-commodities=""></div>
  </div>
</div>