<div>
  <div class="row">
    <div class="col-sm-6">
      <span field-name="4" form='form' readonly="true" ila='ila'></span>
      <span field-name="5" form='form' readonly="true" ila='ila'></span>
      <span field-name="6" form='form' readonly="true" ila='ila'></span>
    </div>
    <div class="col-sm-6">
      <span field-name="1" form='form' readonly="true" ila='ila'></span>
      <span field-name="2" form='form' readonly="true" ila='ila'></span>
      <span field-name="8" form='form' readonly="true" ila='ila'></span>
    </div>
  </div>
  <div class="row">
    <div view-commodities=""></div>
  </div>

</div>
