<div>
  <div class="row">
    <div class="col-sm-12">
      <h4>MINISTRY OFINDUSTRY, INTERNATIONAL BUSINESS, COMMERCE <br> AND SMALL BUSINESS DEVELOPMENT</h4>
      <h5>DEPARTMENT OF COMMERCE AND CONSUMER AFFAIRS</h5>
      <h5>Block 1, Pelican Industrial Estate Bridgetown St. Michael</h5>


Tel.: (246)437‐3552 <br>
Fax: (246) 228‐3821 <br><br>
Our Ref.:  <br> 
Your Ref.: <br><br>

Licence Application No: <br><br>

Dear Sir/Madam: <br><br>

<p>I refer to your application for license to import the undermentioned vehicle: <br>
<span field-name="4" form='form' readonly="true" ila='ila'></span>
<span field-name="36" form='form' readonly="true" ila='ila'></span>
<span field-name="37" form='form' readonly="true" ila='ila'></span>
<span field-name="38" form='form' readonly="true" ila='ila'></span>
<span field-name="39" form='form' readonly="true" ila='ila'></span>
<span field-name="40" form='form' readonly="true" ila='ila'></span>
</p>


Tariff Number: <br>
C.I.F: <br>

<p>I am directed to inform you that in accordance with Government Regulations, you should deposit with the Comptroller of Customs a sum equivalent to the deposit payable on the C.I.F. value stated above and the receipt presented to the Director, Department of Commerce and Consumer Affairs before the licence can be issued.</p>
<p>You should note that when the vehicle arrives and the C.I.F. value as determined by Customs differs from that es stated on the license, the necessary adjustments to Customs duties would be made.</p>
<p>Please note that the vehicle must not be more than four (4) years old and with an odometer reading less than 50,000 km.</p>
<p>Yours faithfully,</p>

<p>for Director (Ag.)</p>
<p>N.B.: Your application may be cancelled if official receipt is not presented to this office by</p>

    </div>
</div>