<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'origin'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.origin">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'countryConsigned'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.countryConsigned">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'expectedArrival'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.description}}"></span></span>
        </label>
        <div class="col-sm-8 control-value">
          <input name="expectedArrival" type="text" class="form-control" datepicker-popup="{{form.config.date.dateformat}}" ng-model="form.data.expectedArrival" ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
        <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'submitter'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.submitter">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'applicant'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.applicant">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'supplier'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
        </label>
        <div class="col-sm-8 control-value" ng-bind="ila.submission.supplier">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'hsCode'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span></td>
          <td>
          <span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'description'}:true | limitTo:'1'"><span ng-bind="field.display"></span></span>
          </td>
          <td colspan="4" class="commodity-subtable">
            <table>
                <tr>
                  <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'quantity'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.description}}"></span></span></td>
                  <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'unitType'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.description}}"></span></span></td>
                  <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'pricePerUnit'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.description}}"></span></span></td>
                  <td><span class="field-name" ng-repeat="field in form.options.formFields | filter:{internal: 'cifValue'}:true | limitTo:'1'"><span ng-bind="field.display"></span> <span class="field-tooltip glyphicon glyphicon-info-sign" tooltip="{{field.description}}"></span></span></td>
                </tr>
            </table>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in form.data.commodities">
          <td ng-bind="item.hsCode"></td>
          <td ng-bind="item.description"></td>
          <td colspan="4" class="commodity-subtable">
            <table class="table-condensed">
              <tbody>
                <tr ng-repeat="unit in item.units">
                  <td><input name="quantity" type="number" class="form-control" ng-model="unit.quantity" min="{{form.config.quantity.min}}" required></td>
                  <td ng-bind="unit.unitType"></td>
                  <td class="currency"><span ng-bind="form.config.currency.symbol.short"></span><input name="pricePerUnit" type="number" class="form-control" ng-model="unit.pricePerUnit" min="{{form.config.currency.min}}" ng-pattern="form.config.currency.pattern" required></td>
                  <td class="currency"><span ng-bind="form.config.currency.symbol.short"></span><input name="cifValue" type="number" class="form-control" ng-model="unit.cifValue" min="{{form.config.currency.min}}" ng-pattern="form.config.currency.pattern" required></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div ng-if="lpcoForm.$submitted">
    <div ng-messages="lpcoForm.expectedArrival.$error">
        <div class="alert alert-danger" ng-message="required">Please enter the date the goods are expected to arrive in Barbados.</div>
    </div>
    <div ng-messages="lpcoForm.quantity.$error">
        <div class="alert alert-danger" ng-message="min">The minimum quantity is {{form.config.quantity.min}}.</div>
        <div class="alert alert-danger" ng-message="required">Please enter the Quantity in units of sale.</div>
    </div>
    <div ng-messages="lpcoForm.pricePerUnit.$error">
        <div class="alert alert-danger" ng-message="min">The minimum Price Per Unit is {{form.config.currency.min}}.</div>
        <div class="alert alert-danger" ng-message="pattern">Price Per Unit must be a valid dollar amount.</div>
        <div class="alert alert-danger" ng-message="required">Please enter the Price Per Unit.</div>
    </div>
    <div ng-messages="lpcoForm.cifValue.$error">
        <div class="alert alert-danger" ng-message="min">The minimum Customs Value is {{form.config.currency.min}}.</div>
        <div class="alert alert-danger" ng-message="pattern">Customs Value must be a valid dollar amount.</div>
        <div class="alert alert-danger" ng-message="required">Please enter the Customs Value.</div>
    </div>
  </div>
</div>