<div>
  <div class="row">
    <div class="col-sm-12">
      <h4>MINISTRY OFINDUSTRY, INTERNATIONAL BUSINESS, COMMERCE <br> AND SMALL BUSINESS DEVELOPMENT</h4>
      <h5>DEPARTMENT OF COMMERCE AND CONSUMER AFFAIRS</h5>
      <h5>Block 1, Pelican Industrial Estate Bridgetown St. Michael</h5>


Tel.: (246)437‐3552 <br>
Fax: (246) 228‐3821 <br><br>

<h3>MEMORANDUM</h3>

FROM: DERECTOR,DEPARTMENT OIF COMMERCE AND CONSUMERS AFFAIRS<br>
TO : Chief Licensing Officer, Licensing Authority<br>
DATE: <br>
SUBJECT: IMPORTATION OF RECONDITIONED CARS FOR SALE TO THE PUBLIC<br><br>

OUR REF: [[REFERENCE]]<br><br>

Reference is made to Memorandum TRA-200/1 l/15 dated l996‐01-11<br>


<p>1. Please be advised that the following shipment of Used/Reconditioned Vehicles:</p>

<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
  	<div view-commodities-with-fields=""></div>
	</div>
</div>


<p>consigned to [[NAME OF PERSON]] of [[BUSINESS NAME]] [[ADDRESS]] [[CONTACT NO]]</p>


<p>Arrived in the island:</p>
Ex [[]] on [[ARRIVAL DATE]] <br>

<p>2. Grateful if you would carry out a random inspection to ascertain that the vehicles meet the conditions asset out in the Memorandum.</p>

<p>3. It would be appreciated if you could forward a report of your findings to this office as soon as possible.</p>

    </div>
</div>