<div>
  <div class="row">
    <div class="col-sm-12">
			
			<h3>{{ila.submission.applicant.name}}</h3>
			<h5>{{ila.submission.applicant.address}}</h5>
			<h5>{{ila.submission.applicant.country}}</h5>
			<br><br>

			[[Date]] <br>
			Ref: [[Ref]] <br> <br>


			<h6>The Director</h6>
			<h6>Barbados Drug Service</h6>
			6th & 7th Floors, Warrens Towers II Warrens <br>
			ST. MICHAEL <br><br>	

			ATTN: Ms.HeatherCarter <br><br>



			Dear Sirs,<br>

			<p>We hereby apply for permission to import from </p>

		  <div class="row">
				<div class="col-sm-offset-1 col-sm-10">
		      <span field-name="8" form='form' readonly="true" with-address="true" ila='ila'></span>
		    </div>
		  </div>

			<p>the following:</p>

			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
			  	<div view-commodities-no-price=""></div>
				</div>
			</div>


			<p>We thank you for your usual cooperation and now look forward to receiving this Import Certificate.</p>

			<br>
			Yours faithfully, <br><br>

			COLL SLIMITE <br>
			RICHARD BOURNE DIRECTOR


			<br>




    </div>
</div>